<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><b><%= workshop.title %></b></h3>
    </div>
    <button type="button" class="btn btn-edit-icon" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class='module-description'><p>Create or add an existing module to populate your workshop with necessary information.</p></div>
  <div class="modal-body" id="modalNewBookinBody">
    <%= link_to new_mod_path(workshop_id: workshop.id) do %>
      <button class="btn btn-edit-orange">New Module</button>
    <% end %>
    <a data-toggle='modal' data-target='#loadModule'><button class="btn btn-edit-white">Add existing Module</button></a>
  </div>
</div>

<!-- Modals -->
<div class='modal fade' id='loadModule' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'mods/library', workshop: @workshop %>
  </div>
</div>
