<p><b><%= form.title %></b></p>
<p>Duration : <%= form.duration %> min</p>
<div id="assessment-show-content">
  <%= render 'assessments/content', form: form %>
</div>
<div>
  <a href="javascript:;" id='addQuestion' class='btn btn-edit' onclick='addQuestionToQuiz(this);'>Add Question</a>
  <div class="hidden" id="add_questions_form">
    <%= render 'assessments/add_questions', form: form %>
  </div>
</div>

<!-- <script>
  $("#addQuestion").click(function(){
    $(this).hide();
    $("#assessment-show-content").append($("#add_questions_form").html());
  });
</script>
 -->
