<p style='color:#808080;'><b>Workshop acquired ?</b></p>
<% if ['Super Admin', 'Account Owner', 'HR'].include?(current_user.access_level) %>
  <% @attendees.each do |attendee| %>
    <%= simple_form_for attendee do |f| %>
      <%= f.input :status, as: :radio_buttons, label: "#{attendee.user.fullname}", collection: [["Not completed", "No"], ["Pending", "Pending"], ["Completed", "Yes"]], label_method: :second, value_method: :first %>
    <% end %>
  <% end %>
<% else %>
  <%= simple_form_for @current_attendee do |f| %>
    <%= f.input :status, as: :radio_buttons, label: "", collection: [["Not completed", "No"], ["Pending", "Pending"], ["Completed", "Yes"]], label_method: :second, value_method: :first %>
  <% end %>
<% end %>