<h3>By <%= @content.author.firstname %></h3>
<% if current_user.manager_or_above? %>
  <div class='icon-btn'>
    <i class="fas fa-pencil-alt"></i>
  </div>
  <%= form_with url: change_author_path, local: true, method: :get do |f| %>
    <%= f.hidden_field :ajax, value: true %>
    <%= f.text_field :search, placeholder: 'Search', label: false, id: 'test' %>
  <% end %>
<% end %>
