<div class="organisation__users-headers-div">
  <div class="organisation__user-checkbox-container">
    <!-- <input type="checkbox" class='hidden'>
    <div class="organisation__user-checkbox" onclick=""></div> -->
  </div>
</div>
<div class="organisation__users-headers-div">
  <p>Name</p>
</div>
<div class="organisation__users-headers-div">
  <p>Job Title</p>
</div>
<div class="organisation__users-headers-div">
  <p>Email</p>
</div>
<div class="organisation__users-headers-div">
  <p>Access Preset</p>
</div>
<div class="organisation__users-headers-div">
  <p>Manager</p>
</div>

<% @tag_categories.where.not(name: 'Job Title').order(position: :asc).each do |tag_category| %>
  <div class="organisation__users-headers-div">
    <p><%= tag_category.name %></p>
  </div>
<% end %>
