////////////
// COLORS //
////////////

.bkt-btn-white {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  color: $bkt-dark-grey;
  background-color: $bkt-white !important;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  border-radius: .5rem;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: all .25s ease-in-out;
  cursor: pointer;

  &:hover {
    border: 1px solid $bkt-light-grey4;
    background-color: $bkt-light-grey4 !important;
  }

  &:focus {
    background-color: $bkt-white;
    color: $bkt-dark-grey;
  }

  &.disabled {
    border: 1px solid $bkt-light-grey5;
    color: $bkt-light-grey5;
  }

  &.pressed {
    border: 1px solid $bkt-light-grey;
    background-color: $bkt-light-grey;
  }
}

.bkt-btn-white-light {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: $bkt-white !important;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  border-radius: .5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: all .25s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $bkt-light-grey4 !important;
  }

  &:focus {
    background-color: $bkt-white;
  }

  &.disabled {
    color: $bkt-light-grey5;
  }

  &.pressed {
    background-color: $bkt-light-grey;
  }
}

.bkt-btn-dark-grey {
  display: flex;
  align-items: center;
  width: fit-content;
  color: $bkt-white;
  background-color: $bkt-dark-grey !important;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  border-radius: .5rem;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: all .25s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $bkt-light-grey5 !important;
  }

  &:focus {
    background-color: $bkt-white;
    color: $bkt-dark-grey;
  }

  &.disabled {
    color: $bkt-light-grey5;
  }

  &.pressed {
    background-color: $bkt-light-grey5;
  }
}

.bkt-btn-blue {
  display: flex;
  align-items: center;
  width: fit-content;
  color: $bkt-white;
  background-color: $bkt-blue !important;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  border: 1px solid $bkt-blue;
  border-radius: .5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: all .25s ease-in-out;
  cursor: pointer;

  &:hover {
    border: 1px solid $bkt-dark-blue;
    background-color: $bkt-dark-blue !important;
    color: $bkt-white;
  }

  &:focus {
    background-color: $bkt-white;
    color: $bkt-dark-blue;
  }

  &.disabled {
    opacity: 0.5;
  }

  &.pressed {}
}

.bkt-btn-light-blue {
  display: flex;
  align-items: center;
  width: fit-content;
  color: $bkt-blue;
  background-color: $bkt-light-blue2;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  border-radius: .5rem;
  transition: all .25s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $bkt-dark-blue;
    color: $bkt-white;
  }

  &:focus {
    background-color: $bkt-white;
    color: $bkt-white;
  }

  &.disabled {
    opacity: 0.5;
  }

  &.pressed {}
}

.bkt-btn-blue-white {
  display: flex;
  align-items: center;
  width: fit-content;
  color: $bkt-blue;
  background-color: $bkt-white !important;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  border-radius: .5rem;
  border: 2px solid $bkt-blue;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: all .25s ease-in-out;
  cursor: pointer;

  &:hover, &:focus {
    color: $bkt-white;
    background-color: $bkt-blue !important;
  }

  &:focus {
    color: $bkt-white;
    background-color: $bkt-dark-blue;
    border: 2px solid $bkt-dark-blue;
  }

  &.disabled {
    opacity: 0.5;
  }

  &.pressed {}
}

.bkt-btn-objective-blue {
  display: flex;
  align-items: center;
  width: fit-content;
  color: $bkt-white;
  background-color: $bkt-objective-blue !important;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  border-radius: .5rem;
  transition: all .25s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #9EC0FF !important;
    color: $bkt-white;
  }

  &:focus {
    background-color: #2D77FF !important;
    color: $bkt-white;
  }

  &.disabled {
    opacity: 0.5;

    &:hover {
      background-color: $bkt-objective-blue !important;
      color: $bkt-white;
      cursor: not-allowed;
    }
  }
}

.bkt-btn-objective-blue-white {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  color: $bkt-objective-blue;
  background-color: $bkt-light-grey9 !important;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  border-radius: .5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: all .25s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $bkt-objective-blue !important;
    color: $bkt-white;
  }

  &:focus {
    background-color: $bkt-white;
  }

  &.disabled {
    opacity: 0.5;
  }

  &.pressed {}
}

.bkt-btn-orange {
  display: flex;
  align-items: center;
  width: fit-content;
  color: $bkt-white;
  background-color: $bkt-orange !important;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  border-radius: .5rem;
  border: 1px solid $bkt-orange;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: all .25s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $bkt-white;
    border: 1px solid $bkt-dark-orange;
    background-color: $bkt-dark-orange !important;
  }

  &:focus {
    background-color: $bkt-white;
    color: $bkt-dark-orange;
  }

  &.disabled {
    opacity: 0.5;
  }

  &.pressed {}
}

.bkt-btn-orange-white {
  display: flex;
  align-items: center;
  width: fit-content;
  color: $bkt-orange;
  background-color: $bkt-white !important;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  border-radius: .5rem;
  border: 2px solid $bkt-orange;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: all .25s ease-in-out;
  cursor: pointer;

  &:hover, &:focus {
    color: $bkt-white;
    background-color: $bkt-orange;
  }

  &:focus {
    color: $bkt-white;
    background-color: $bkt-dark-orange !important;
    border: 2px solid $bkt-dark-orange;
  }

  &.disabled {
    opacity: 0.5;
  }

  &.pressed {}
}

.bkt-btn-red-white {
  display: flex;
  align-items: center;
  width: fit-content;
  color: $bkt-red;
  background-color: $bkt-white !important;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  border-radius: .5rem;
  border: 2px solid $bkt-red;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: all .25s ease-in-out;
  cursor: pointer;

  &:hover, &:focus {
    color: $bkt-white;
    background-color: $bkt-red !important;
  }

  // &:focus {
  //   color: $bkt-white;
  //   background-color: $bkt-dark-red !important;
  //   border: 2px solid $bkt-dark-red;
  // }

  &.disabled {
    opacity: 0.5;
  }

  &.pressed {}
}

.bkt-btn-negative-red-white {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  color: $bkt-negative-red;
  background-color: $bkt-white !important;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  border-radius: .5rem;
  border: 2px solid $bkt-negative-red;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: all .25s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $bkt-white;
    background-color: $bkt-negative-red !important;
  }

  &:focus {
    color: $bkt-white;
    background-color: $bkt-light-red !important;
    border: 2px solid $bkt-light-red !important;
  }

  &.disabled {
    opacity: 0.5;
  }

  &.pressed {}
}



//////////
// MISC //
//////////

.bkt-btn-back {
  p, svg {
    font-size: 1.8rem;
    color: #939393;
  }

  svg {
    margin-right: 1rem;
  }
}

.btn-search {
  height: 5rem;
  padding: 0 1rem;
  border-radius: .5rem;

  &:hover {
    background-color: $bkt-light-grey4;
  }
}

.btn-reset {
  height: 5rem;
  font-size: 1.6rem;
  padding: 0 1rem;
  margin-left: 1rem;
  border-radius: .5rem;

  &:hover {
    background-color: $bkt-light-grey4;
  }

}

