////////////
// COLORS //
////////////

.bkt-btn-blue {
  color: $bkt-white;
  background-color: $bkt-blue;
  padding: 16px;
  line-height: 2rem;
  border-radius: 5px;
  transition: all .25s ease-in-out;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.6rem;
  font-weight: 600;
  border: 1px solid $bkt-blue;
  &:hover {
    border: 1px solid $bkt-dark-blue;
    background-color: $bkt-dark-blue;
  }
  &:focus {
    background-color: $bkt-white;
    color: $bkt-dark-blue;
  }
  &.disabled {
    opacity: 0.5;
  }
  &.pressed {}
}

.bkt-btn-white {
  color: $bkt-blue;
  background-color: $bkt-white;
  padding: 16px;
  line-height: 2rem;
  border-radius: 5px;
  transition: all .25s ease-in-out;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.6rem;
  font-weight: 600;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid $bkt-light-grey4;
    background-color: $bkt-light-grey4;
  }
  &:focus {
    background-color: $bkt-white;
    color: $bkt-dark-blue;
  }
  &.disabled {
    border: 1px solid $bkt-light-grey5;
    color: $bkt-light-grey5
  }
  &.pressed {
    border: 1px solid $bkt-light-grey;
    background-color: $bkt-light-grey;
  }
}



//////////
// MISC //
//////////

.bkt-btn-back {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  p, svg {
    font-size: 1.8rem;
    color: #939393;
  }

  svg {
    margin-right: 1rem;
  }
}
