//////////////
/// TITLES ///
//////////////

.bkt-h1 {
  font-size: 30px;
}

.bkt-h2 {
  font-size: 24px;
}

.bkt-h3 {
  font-size: 20px;
}

.bold-700 {
  font-weight: 700;
}

.bold-600 {
  font-weight: 600;
}

.bold-500 {
  font-weight: 500;
}

/////////////
/// TEXTS ///
/////////////

.bkt-text-bold {
  font-size: 16px;
  font-weight: 600;
}

.bkt-text {
  font-size: 16px;
  font-weight: 500;
}

.bkt-description-bold {
  font-size: 14px;
  font-weight: 600;
}

.bkt-description {
  font-size: 14px;
  font-weight: 500;
}
