/////////
// ALL //
/////////

.action-modal, .info-modal, .ays-modal {
  h3 {
    color: $bkt-dark-grey;
  }
}


//////////////////
// ACTION MODAL //
//////////////////

.action-modal {
  padding: 5rem 0 !important;

  &:before {
    height: 0 !important;
  }
}

.action-modal {
  padding: 5rem 0 !important;

  &:before {
    height: 0 !important;
  }
}

.action-modal.show {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.action-modal__dialog {
  max-width: 80rem !important;
}

.action-modal__content {
  border-radius: 1rem !important;
  border: none !important;
  box-shadow: 0 0 .5rem rgba(0,0,0,0.2);
}

.action-modal__header {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1.5rem 3rem !important;
  border: 1px solid $bkt-light-grey;
}

.action-modal__title {
  font-size: 2rem;
  font-weight: 500;
}

.action-modal__close {
  height: 2rem;
  width: 2rem;
  max-height: 2rem;
  max-width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  padding: 0;
}

.action-modal__close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  font-size: 4rem;
  font-weight: 400;
}

.action-modal__body {
  min-height: 0;
  max-height: calc(100vh - 20rem);
  overflow-y: scroll;
  padding: 2rem 3rem;
  border: none;
  text-align: justify;
}

.action-modal__footer {
  flex-direction: row !important;
  justify-content: center !important;
  padding: 0 3rem 1.5rem 3rem;
  border: none !important;
}


////////////////
// INFO MODAL //
////////////////

.info-modal {
  padding: 5rem 0 !important;

  &:before {
    height: 0 !important;
  }
}

.info-modal.show {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.info-modal__content {
  border-radius: 10px !important;
  border: none !important;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  height: auto !important;
  width: auto !important;
}

.info-modal__header {
  justify-content: center !important;
  border: none !important;
  padding: 5rem 3rem 2.5rem 3rem !important;
}

.info-modal__close {
  height: 2rem;
  width: 2rem;
  max-height: 2rem;
  max-width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.info-modal__close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  font-size: 4rem;
  font-weight: 400;
}

.info-modal__body {
  justify-content: start;
  align-items: center;
  min-height: 0;
  padding: 0 3rem 2rem 3rem !important;
  margin: 0;
  font-size: 16px;
  border: none !important;

  h3 {
    font-weight: 600;
  }
}

.info-modal__footer {
  flex-direction: row !important;
  justify-content: center !important;
  padding: 0 3rem 3rem 3rem;
  border: none !important;
  font-size: 16px;
}



////////////////////////
// ARE YOU SURE MODAL //
////////////////////////

.ays-modal {
  padding: 5rem 0 !important;

  &:before {
    height: 0 !important;
  }
}

.ays-modal.show {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.ays-modal__content {
  border-radius: 10px !important;
  border: none !important;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  height: auto !important;
}

.ays-modal__header {
  flex-direction: row-reverse;
  border: none !important;
  padding: 2rem 2.5rem !important;
}

.ays-modal__close {
  height: 2rem;
  width: 2rem;
  max-height: 2rem;
  max-width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.ays-modal__close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  font-size: 4rem;
  font-weight: 400;
}

.ays-modal__body {
  justify-content: start;
  align-items: center;
  min-height: 0;
  padding: 3rem 5rem !important;
  margin: 0;
  font-size: 16px;
  border: none !important;
  text-align: center;

  h3 {
    font-weight: 600;
  }
}

.ays-modal__footer {
  justify-content: space-between !important;
  gap: 3.5rem;
  padding: 0 5rem 3rem 5rem !important;
  border: none !important;
}


////////////////
// DATE MODAL //
////////////////

.date-modal {
  padding: 5rem 0 !important;

  &:before {
    height: 0 !important;
  }
}

.date-modal {
  flex-direction: column !important;
  justify-content: center !important;
}

.date-modal.show {
  display: flex !important;
}

.date-modal__dialog {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.date-modal__content {
  width: 312px;
  border-radius: 1rem !important;
  border: none !important;
  box-shadow: 0 0 .5rem rgba(0,0,0,0.2);
}

.date-modal__header {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1.5rem 3rem !important;
  border: 1px solid $bkt-light-grey;
}

.date-modal__title {
  font-size: 2rem;
  font-weight: 500;
}

.date-modal__close {
  height: 2rem;
  width: 2rem;
  max-height: 2rem;
  max-width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.date-modal__close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  font-size: 4rem;
  font-weight: 400;
}

.date-modal__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 0 0 0!important;
  border: none !important;

  .flatpickr-calendar {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
}


///////////////////
// UNIQUE MODALS //
///////////////////

.organisation-export-modal__body {

  .organisation-controls__export-dates {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    div {
      margin: 0 1rem;
    }

    label {
      margin: 0;
    }

    input {
      width: 10rem;
      border-radius: 25px;
      color: #F26419;
      background-color: white !important;

      &:focus {
        color: #F26419;
      }

      &:focus-visible {
        text-shadow: none;
      }
    }
  }

  .organisation-controls__export_attributes {
    display: flex;
    flex-wrap: wrap;
  }
}


.organisation-import-modal__block {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 1rem;
  max-height: 61px;
  overflow: hidden;


  .organisation-import-modal__block-title {
    height: 4rem;
    margin-bottom: 1rem;


    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      p {
        margin-left: 2rem;
      }

      p, span {
        font-weight: 700;
      }
    }

    .organisation-import-modal__block-title-buttons {
      display: inherit;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 1.2rem;
        color: #F26419;
        opacity: 0;
        transition: opacity .25s ease-in-out;
        cursor: pointer;
      }
    }
  }

  .organisation-import-modal__block-list {
    margin-left: 27px;
    overflow: scroll;

    label {
      padding-left: 1rem;
    }
  }
}

.organisation-import-modal__block.active {
  background-color: white !important;
}

.organisation-import-modal_users_form {

  input {
    width: 30rem;
    max-width: 30rem;
  }
}

.organisation-import-modal__user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  border: 1px solid white;

  p {
    width: 50%;
    font-weight: 300;
  }
}

.organisation-import-modal__user-card--headers {
  border-bottom: 1px solid black;
}

.organisation-import-modal__user-card--create {
  background-color: #F8D9C8;
}

.organisation-import-modal__user-card--delete {
  background-color: #C4C4C4;
}

.organisation-import-modal__user-card--update:nth-child(even) {
  background-color: #E0E0E0;
}

.organisation-import-modal__user-card--update, .organisation-import-modal__user-card--headers {

  p {
    width: 30%;
  }
}
