////////////////
//ACTION MODAL//
////////////////

.action-modal {
  padding: 5rem 0 !important;
}

.action-modal.show {
  display: flex !important;
  flex-direction: column !important;
}

.action-modal__dialog {
  max-width: 80rem !important;
}

.action-modal__content {
  height: auto !important;
  border-radius: 1rem !important;
  border: none !important;
  box-shadow: 0 0 .5rem rgba(0,0,0,0.2);
}

.action-modal__header {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.action-modal__title {
  font-size: 2rem;
  font-weight: 500;
  padding: 0 1rem;
}

.action-modal__close {
  height: 4rem;
  width: 4rem;
  max-height: 4rem;
  max-width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.action-modal__close-icon {
  display: block;
  font-size: 4rem;
  font-weight: 400;
}

.action-modal__body {
  padding: 3rem 2rem;
  border: none;
  text-align: justify;
}

.action-modal__footer {
  justify-content: center !important;
  margin-bottom: 12px;
  border: none !important;
}

//////////////
//INFO MODAL//
//////////////

.info-modal-content {
  border-radius: 10px !important;
  border: none !important;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  height: auto !important;
  width: auto !important;
}

.info-modal-header {
  border: none !important;
  height: 0;
}


.info-modal-body {
  margin-left: 30px;
  margin-right: 30px;
  border: none !important;
  color: $bkt-blue;
  font-size: 16px;

  justify-content: center;
  align-items: center;

  svg {
    margin-bottom: 20px;
  }

  p {
    font-weight: 500;
  }
}

.close-info-modal {
  margin-left: 42rem;
  font-size: 4.5rem;
  font-weight: 400;
}

.info-modal-body {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}
