
.btk-spinner{
  border: 0.15em solid currentColor;
  border-right-color: transparent;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  animation: spinner-border .75s linear infinite;
  border-radius: 50%;
  & span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
