.bkt-tag-blue {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  color: $bkt-white;
  background-color: $bkt-blue;
}

.bkt-tag-green-status {
  background-color: $bkt-green;
  padding: 8px;
  line-height: 2.2rem;
  border-radius: 10px;
  transition: all .25s ease-in-out;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: $bkt-white;
  font-size: 1.6rem;
  font-weight: 600;
}

.bkt-tag-orange-status {
  background-color: $bkt-yellow;
  padding: 8px;
  line-height: 2.2rem;
  border-radius: 10px;
  transition: all .25s ease-in-out;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: $bkt-white;
  font-size: 1.6rem;
  font-weight: 600;
}

.bkt-tag-red-status {
  background-color: $bkt-red;
  padding: 8px;
  line-height: 2.2rem;
  border-radius: 10px;
  transition: all .25s ease-in-out;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: $bkt-white;
  font-size: 1.6rem;
  font-weight: 600;
}
