.border-none { border: none; }

.border-transparent-1px   { border: 1px solid transparent !important; }
.border-transparent-2px   { border: 2px solid transparent !important; }

.border-bkt-light-blue-0_5px        { border:        0.5px solid $bkt-light-blue !important; }
.border-top-bkt-light-blue-0_5px    { border-top:    0.5px solid $bkt-light-blue !important; }
.border-right-bkt-light-blue-0_5px  { border-right:  0.5px solid $bkt-light-blue !important; }
.border-left-bkt-light-blue-0_5px   { border-left:   0.5px solid $bkt-light-blue !important; }
.border-bottom-bkt-light-blue-0_5px { border-bottom: 0.5px solid $bkt-light-blue !important; }

.border-bkt-blue              { border:        1px solid $bkt-blue !important; }
.border-top-bkt-blue          { border-top:    1px solid $bkt-blue !important; }
.border-right-bkt-blue        { border-right:  1px solid $bkt-blue !important; }
.border-left-bkt-blue         { border-left:   1px solid $bkt-blue !important; }
.border-bottom-bkt-blue       { border-bottom: 1px solid $bkt-blue !important; }

.border-bkt-blue-2px        { border:        2px solid $bkt-blue !important; }
.border-top-bkt-blue-2px    { border-top:    2px solid $bkt-blue !important; }
.border-right-bkt-blue-2px  { border-right:  2px solid $bkt-blue !important; }
.border-left-bkt-blue-2px   { border-left:   2px solid $bkt-blue !important; }
.border-bottom-bkt-blue-2px { border-bottom: 2px solid $bkt-blue !important; }

.border-bkt-dark-blue         { border:        1px solid $bkt-dark-blue !important; }
.border-top-bkt-dark-blue     { border-top:    1px solid $bkt-dark-blue !important; }
.border-right-bkt-dark-blue   { border-right:  1px solid $bkt-dark-blue !important; }
.border-left-bkt-dark-blue    { border-left:   1px solid $bkt-dark-blue !important; }
.border-bottom-bkt-dark-blue  { border-bottom: 1px solid $bkt-dark-blue !important; }

.border-bkt-objective-blue         { border:        1px solid $bkt-objective-blue !important; }
.border-top-bkt-objective-blue     { border-top:    1px solid $bkt-objective-blue !important; }
.border-right-bkt-objective-blue   { border-right:  1px solid $bkt-objective-blue !important; }
.border-left-bkt-objective-blue    { border-left:   1px solid $bkt-objective-blue !important; }
.border-bottom-bkt-objective-blue  { border-bottom: 1px solid $bkt-objective-blue !important; }

.border-bkt-light-grey        { border:        1px solid $bkt-light-grey !important; }
.border-top-bkt-light-grey    { border-top:    1px solid $bkt-light-grey !important; }
.border-right-bkt-light-grey  { border-right:  1px solid $bkt-light-grey !important; }
.border-left-bkt-light-grey   { border-left:   1px solid $bkt-light-grey !important; }
.border-bottom-bkt-light-grey { border-bottom: 1px solid $bkt-light-grey !important; }

.border-bkt-light-grey-2px        { border:        2px solid $bkt-light-grey !important; }
.border-top-bkt-light-grey-2px    { border-top:    2px solid $bkt-light-grey !important; }
.border-right-bkt-light-grey-2px  { border-right:  2px solid $bkt-light-grey !important; }
.border-left-bkt-light-grey-2px   { border-left:   2px solid $bkt-light-grey !important; }
.border-bottom-bkt-light-grey-2px { border-bottom: 2px solid $bkt-light-grey !important; }

.border-bkt-light-grey5-0_5px        { border:        0.5px solid $bkt-light-grey5 !important; }
.border-top-bkt-light-grey5-0_5px    { border-top:    0.5px solid $bkt-light-grey5 !important; }
.border-right-bkt-light-grey5-0_5px  { border-right:  0.5px solid $bkt-light-grey5 !important; }
.border-left-bkt-light-grey5-0_5px   { border-left:   0.5px solid $bkt-light-grey5 !important; }
.border-bottom-bkt-light-grey5-0_5px { border-bottom: 0.5px solid $bkt-light-grey5 !important; }

.border-bkt-light-grey5        { border:        1px solid $bkt-light-grey5 !important; }
.border-top-bkt-light-grey5    { border-top:    1px solid $bkt-light-grey5 !important; }
.border-right-bkt-light-grey5  { border-right:  1px solid $bkt-light-grey5 !important; }
.border-left-bkt-light-grey5   { border-left:   1px solid $bkt-light-grey5 !important; }
.border-bottom-bkt-light-grey5 { border-bottom: 1px solid $bkt-light-grey5 !important; }
.border-bottom-bkt-light-grey5-not-last-child:not(:last-child) { border-bottom: 1px solid $bkt-light-grey5 !important; }

.border-bkt-light-grey6        { border:        1px solid $bkt-light-grey6 !important; }
.border-top-bkt-light-grey6    { border-top:    1px solid $bkt-light-grey6 !important; }
.border-right-bkt-light-grey6  { border-right:  1px solid $bkt-light-grey6 !important; }
.border-left-bkt-light-grey6   { border-left:   1px solid $bkt-light-grey6 !important; }
.border-bottom-bkt-light-grey6 { border-bottom: 1px solid $bkt-light-grey6 !important; }

.border-bkt-dark-grey            { border:        1px solid $bkt-dark-grey !important; }
.border-top-bkt-dark-grey        { border-top:    1px solid $bkt-dark-grey !important; }
.border-right-bkt-dark-grey      { border-right:  1px solid $bkt-dark-grey !important; }
.border-left-bkt-dark-grey       { border-left:   1px solid $bkt-dark-grey !important; }
.border-bottom-bkt-dark-grey     { border-bottom: 1px solid $bkt-dark-grey !important; }
.border-bkt-dark-grey-2px        { border:        2px solid $bkt-dark-grey !important; }
.border-bkt-dark-grey-hover-2px  { &:hover { border: 2px solid $bkt-dark-grey !important; } }

.border-bkt-orange              { border:        1px solid $bkt-orange !important; }
.border-top-bkt-orange          { border-top:    1px solid $bkt-orange !important; }
.border-right-bkt-orange        { border-right:  1px solid $bkt-orange !important; }
.border-left-bkt-orange         { border-left:   1px solid $bkt-orange !important; }
.border-bottom-bkt-orange       { border-bottom: 1px solid $bkt-orange !important; }

.border-bkt-orange-2px        { border:        2px solid $bkt-orange !important; }
.border-top-bkt-orange-2px    { border-top:    2px solid $bkt-orange !important; }
.border-right-bkt-orange-2px  { border-right:  2px solid $bkt-orange !important; }
.border-left-bkt-orange-2px   { border-left:   2px solid $bkt-orange !important; }
.border-bottom-bkt-orange-2px { border-bottom: 2px solid $bkt-orange !important; }

.border-bkt-red { border: 1px solid $bkt-red !important; }

.border-bottom-sm-none { @include from-medium-high { border-bottom: none !important; } }
.border-bottom-sm-bkt-light-grey { @include from-medium-high { border-bottom: 1px solid $bkt-light-grey !important; } }


///////////
// FOCUS //
///////////

.bkt-input-focus { &:focus { box-shadow: 0 0 0 0.2rem rgba(22, 127, 251, 0.25); } }
