.border-bkt-blue              { border:        1px solid $bkt-blue; }
.border-top-bkt-blue          { border-top:    1px solid $bkt-blue; }
.border-right-bkt-blue        { border-right:  1px solid $bkt-blue; }
.border-left-bkt-blue         { border-left:   1px solid $bkt-blue; }
.border-bottom-bkt-blue       { border-bottom: 1px solid $bkt-blue; }

.border-bkt-dark-blue         { border:        1px solid $bkt-dark-blue; }
.border-top-bkt-dark-blue     { border-top:    1px solid $bkt-dark-blue; }
.border-right-bkt-dark-blue   { border-right:  1px solid $bkt-dark-blue; }
.border-left-bkt-dark-blue    { border-left:   1px solid $bkt-dark-blue; }
.border-bottom-bkt-dark-blue  { border-bottom: 1px solid $bkt-dark-blue; }

.border-bkt-light-grey        { border:        1px solid $bkt-light-grey; }
.border-top-bkt-light-grey    { border-top:    1px solid $bkt-light-grey; }
.border-right-bkt-light-grey  { border-right:  1px solid $bkt-light-grey; }
.border-left-bkt-light-grey   { border-left:   1px solid $bkt-light-grey; }
.border-bottom-bkt-light-grey { border-bottom: 1px solid $bkt-light-grey; }



