.border-bkt-light-blue-0_5px        { border:        0.5px solid $bkt-light-blue !important; }
.border-top-bkt-light-blue-0_5px    { border-top:    0.5px solid $bkt-light-blue !important; }
.border-right-bkt-light-blue-0_5px  { border-right:  0.5px solid $bkt-light-blue !important; }
.border-left-bkt-light-blue-0_5px   { border-left:   0.5px solid $bkt-light-blue !important; }
.border-bottom-bkt-light-blue-0_5px { border-bottom: 0.5px solid $bkt-light-blue !important; }

.border-bkt-blue-1px              { border:        1px solid $bkt-blue !important; }
.border-top-bkt-blue-1px          { border-top:    1px solid $bkt-blue !important; }
.border-right-bkt-blue-1px        { border-right:  1px solid $bkt-blue !important; }
.border-left-bkt-blue-1px         { border-left:   1px solid $bkt-blue !important; }
.border-bottom-bkt-blue-1px       { border-bottom: 1px solid $bkt-blue !important; }

.border-bkt-dark-blue-1px         { border:        1px solid $bkt-dark-blue !important; }
.border-top-bkt-dark-blue-1px     { border-top:    1px solid $bkt-dark-blue !important; }
.border-right-bkt-dark-blue-1px   { border-right:  1px solid $bkt-dark-blue !important; }
.border-left-bkt-dark-blue-1px    { border-left:   1px solid $bkt-dark-blue !important; }
.border-bottom-bkt-dark-blue-1px  { border-bottom: 1px solid $bkt-dark-blue !important; }

.border-bkt-light-grey-1px        { border:        1px solid $bkt-light-grey !important; }
.border-top-bkt-light-grey-1px    { border-top:    1px solid $bkt-light-grey !important; }
.border-right-bkt-light-grey-1px  { border-right:  1px solid $bkt-light-grey !important; }
.border-left-bkt-light-grey-1px   { border-left:   1px solid $bkt-light-grey !important; }
.border-bottom-bkt-light-grey-1px { border-bottom: 1px solid $bkt-light-grey !important; }


.border-bkt-light-grey-2px        { border:        2px solid $bkt-light-grey !important; }
