// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #F26419;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$orange-booklet: #F26419;
$grey-booklet: #696969;

$bkt-blue: #3177B7;
$bkt-blue-hover: #0D4F8B;
$bkt-white: #FFFFFF;
$bkt-dark-white: #F4F4F4;
$bkt-light-grey: #C4C4C4;
$bkt-dark-grey: #333333;
$bkt-green: #7BC079;
$bkt-orange: #FFC85C;
$bkt-red: #FF5656;
