// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #F26419;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$bkt-light-blue: #EAF1F8;
$bkt-light-blue2: #B1CBE3;
$bkt-blue: #3177B7;
$bkt-dark-blue: #0D4F8B;
$bkt-white: #FFFFFF;
$bkt-light-grey: #C4C4C4;
$bkt-light-grey2: #F5F8FB;
$bkt-light-grey3: #FBFBFB;
$bkt-light-grey4: #F4F4F4;
$bkt-light-grey5: #CDCDCD;
$bkt-light-grey6: #787878;
$bkt-light-grey7: #E3E3E3;
$bkt-light-grey8: #ECECEC;
$bkt-light-grey9: #F6F6F6;
$bkt-dark-grey: #333333;
$bkt-green: #7BC079;
$bkt-yellow: #FFC85C;
$bkt-light-orange: #FEF7F3;
$bkt-orange: #EF8C64;
$bkt-dark-orange: #C16641;
$bkt-red: #FF5656;
$bkt-light-red: #ec6d6d40;


.bkt-light-blue  { color: $bkt-light-blue !important; }
.bkt-light-blue2 { color: $bkt-light-blue2 !important; }
.bkt-blue        { color: $bkt-blue !important; }
.bkt-dark-blue   { color: $bkt-dark-blue !important; }
.bkt-white       { color: $bkt-white !important; }
.bkt-light-grey  { color: $bkt-light-grey !important; }
.bkt-light-grey2 { color: $bkt-light-grey2 !important; }
.bkt-light-grey3 { color: $bkt-light-grey3 !important; }
.bkt-light-grey4 { color: $bkt-light-grey4 !important; }
.bkt-light-grey5 { color: $bkt-light-grey5 !important; }
.bkt-light-grey6 { color: $bkt-light-grey6 !important; }
.bkt-dark-grey   { color: $bkt-dark-grey !important; }
.bkt-green       { color: $bkt-green !important; }
.bkt-yellow      { color: $bkt-yellow !important; }
.bkt-orange      { color: $bkt-orange !important; }
.bkt-light-orange{ color: $bkt-light-orange !important; }
.bkt-red         { color: $bkt-red !important; }

.bkt-light-blue-hover  { &:hover { color: $bkt-light-blue !important; } }
.bkt-light-blue2-hover { &:hover { color: $bkt-light-blue2 !important; } }
.bkt-blue-hover        { &:hover { color: $bkt-blue !important; } }
.bkt-dark-blue-hover   { &:hover { color: $bkt-dark-blue !important; } }
.bkt-white-hover       { &:hover { color: $bkt-white !important; } }
.bkt-light-grey-hover  { &:hover { color: $bkt-light-grey !important; } }
.bkt-light-grey2-hover { &:hover { color: $bkt-light-grey2 !important; } }
.bkt-light-grey3-hover { &:hover { color: $bkt-light-grey3 !important; } }
.bkt-light-grey4-hover { &:hover { color: $bkt-light-grey4 !important; } }
.bkt-light-grey5-hover { &:hover { color: $bkt-light-grey5 !important; } }
.bkt-light-grey6-hover { &:hover { color: $bkt-light-grey6 !important; } }
.bkt-dark-grey-hover   { &:hover { color: $bkt-dark-grey !important; } }
.bkt-green-hover       { &:hover { color: $bkt-green !important; } }
.bkt-yellow-hover      { &:hover { color: $bkt-yellow !important; } }
.bkt-orange-hover      { &:hover { color: $bkt-orange !important; } }
.bkt-light-orange-hover{ &:hover { color: $bkt-light-orange !important; } }
.bkt-red-hover         { &:hover { color: $bkt-red !important; } }

.bkt-bg-light-blue  { background-color: $bkt-light-blue !important; }
.bkt-bg-light-blue2 { background-color: $bkt-light-blue2 !important; }
.bkt-bg-blue        { background-color: $bkt-blue !important; }
.bkt-bg-dark-blue   { background-color: $bkt-dark-blue !important; }
.bkt-bg-white       { background-color: $bkt-white !important; }
.bkt-bg-light-grey  { background-color: $bkt-light-grey !important; }
.bkt-bg-light-grey2 { background-color: $bkt-light-grey2 !important; }
.bkt-bg-light-grey3 { background-color: $bkt-light-grey3 !important; }
.bkt-bg-light-grey4 { background-color: $bkt-light-grey4 !important; }
.bkt-bg-light-grey5 { background-color: $bkt-light-grey5 !important; }
.bkt-bg-light-grey6 { background-color: $bkt-light-grey6 !important; }
.bkt-bg-light-grey8 { background-color: $bkt-light-grey8 !important; }
.bkt-bg-light-grey9 { background-color: $bkt-light-grey9; }
.bkt-bg-dark-grey   { background-color: $bkt-dark-grey !important; }
.bkt-bg-green       { background-color: $bkt-green !important; }
.bkt-bg-yellow      { background-color: $bkt-yellow !important; }
.bkt-bg-orange      { background-color: $bkt-orange !important; }
.bkt-bg-light-orange{ background-color: $bkt-light-orange !important; }
.bkt-bg-light2-orange { background-color: #ef8c6496 !important; }
.bkt-bg-red         { background-color: $bkt-red !important; }
.bkt-bg-light-red   { background-color: $bkt-light-red !important;}

.bkt-sm-bg-light-orange { @include from-medium-high { background-color: $bkt-light-orange !important; } }

.bkt-bg-light-grey8-focus { &:focus { background-color: $bkt-light-grey8 !important; } }

.bkt-bg-light-blue-hover  { &:hover { background-color: $bkt-light-blue !important; } }
.bkt-bg-light-blue2-hover { &:hover { background-color: $bkt-light-blue2 !important; } }
.bkt-bg-blue-hover        { &:hover { background-color: $bkt-blue !important; } }
.bkt-bg-white-hover       { &:hover { background-color: $bkt-white !important; } }
.bkt-bg-light-grey-hover  { &:hover { background-color: $bkt-light-grey !important; } }
.bkt-bg-light-grey2-hover { &:hover { background-color: $bkt-light-grey2 !important; } }
.bkt-bg-light-grey3-hover { &:hover { background-color: $bkt-light-grey3 !important; } }
.bkt-bg-light-grey4-hover { &:hover { background-color: $bkt-light-grey4 !important; } }
.bkt-bg-light-grey5-hover { &:hover { background-color: $bkt-light-grey5 !important; } }
.bkt-bg-light-grey6-hover { &:hover { background-color: $bkt-light-grey6 !important; } }
.bkt-bg-light-grey8-hover { &:hover { background-color: $bkt-light-grey8 !important; } }
.bkt-bg-dark-grey-hover   { &:hover { background-color: $bkt-dark-grey !important; } }
.bkt-bg-green-hover       { &:hover { background-color: $bkt-green !important; } }
.bkt-bg-yellow-hover      { &:hover { background-color: $bkt-yellow !important; } }
.bkt-bg-orange-hover      { &:hover { background-color: $bkt-orange !important; } }
.bkt-bg-light-orange-hover{ &:hover { background-color: $bkt-light-orange !important; } }
.bkt-bg-red-hover         { &:hover { background-color: $bkt-red !important; } }
.bkt-bg-light-grey2-hover { &:hover { background-color: $bkt-light-grey2 !important; } }

.bkt-light-grey-placeholder {
  &::placeholder { color: $bkt-light-grey !important; }
  &::-webkit-input-placeholder { color: $bkt-light-grey !important; }
  &::-moz-placeholder { color: $bkt-light-grey !important; }
  &::-ms-placeholder { color: $bkt-light-grey !important; }
}

// .hover-bkt-blue:hover        { color: $bkt-blue !important; }
// .hover-bkt-bg-blue:hover        { background-color: $bkt-blue !important; }
// .focus-bkt-blue:focus        { color: $bkt-blue !important; }
// .focus-bkt-bg-blue:focus        { background-color: $bkt-blue !important; }
