// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #F26419;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$orange-booklet: #F26419;
$grey-booklet: #696969;

$bkt-blue: #3177B7;
$bkt-dark-blue: #0D4F8B;
$bkt-white: #FFFFFF;
$bkt-light-grey: #C4C4C4;
$bkt-light-grey2: #F5F8FB;
$bkt-light-grey3: #FBFBFB;
$bkt-light-grey4: #F4F4F4;
$bkt-light-grey5: #979797;
$bkt-dark-grey: #333333;
$bkt-green: #7BC079;
$bkt-orange: #FFC85C;
$bkt-red: #FF5656;


.bkt-blue        { color: $bkt-blue !important; }
.bkt-dark-blue   { color: $bkt-dark-blue !important; }
.bkt-white       { color: $bkt-white !important; }
.bkt-light-grey  { color: $bkt-light-grey !important; }
.bkt-light-grey2 { color: $bkt-light-grey2 !important; }
.bkt-light-grey3 { color: $bkt-light-grey3 !important; }
.bkt-light-grey4 { color: $bkt-light-grey4 !important; }
.bkt-light-grey5 { color: $bkt-light-grey5 !important; }
.bkt-dark-grey   { color: $bkt-dark-grey !important; }
.bkt-green       { color: $bkt-green !important; }
.bkt-orange      { color: $bkt-orange !important; }
.bkt-red         { color: $bkt-red !important; }

.bkt-bg-blue        { background-color: $bkt-blue !important; }
.bkt-bg-blue-hover  { background-color: $bkt-dark-blue !important; }
.bkt-bg-white       { background-color: $bkt-white !important; }
.bkt-bg-light-grey  { background-color: $bkt-light-grey !important; }
.bkt-bg-light-grey2 { background-color: $bkt-light-grey2 !important; }
.bkt-bg-light-grey3 { background-color: $bkt-light-grey3 !important; }
.bkt-bg-light-grey4 { background-color: $bkt-light-grey4 !important; }
.bkt-bg-light-grey5 { background-color: $bkt-light-grey5 !important; }
.bkt-bg-dark-grey   { background-color: $bkt-dark-grey !important; }
.bkt-bg-green       { background-color: $bkt-green !important; }
.bkt-bg-orange      { background-color: $bkt-orange !important; }
.bkt-bg-red         { background-color: $bkt-red !important; }

// .hover-bkt-blue:hover        { color: $bkt-blue !important; }
// .hover-bkt-bg-blue:hover        { background-color: $bkt-blue !important; }
// .focus-bkt-blue:focus        { color: $bkt-blue !important; }
// .focus-bkt-bg-blue:focus        { background-color: $bkt-blue !important; }
