/////////////
// GENERAL //
/////////////

.container-admin-height { height: calc(100vh - 15rem) !important;}

.bkt-page-container-min-height {
  min-height: calc(100vh - 15rem);
}

.bkt-page-container-content {
  width: 70%;
  max-width: 85rem;
  margin-top: 5rem;
}
