/////////////
// GENERAL //
/////////////

.container-admin-height { height: calc(100vh - 15rem) !important;}

.bkt-page-container-min-height {
  height: calc(100vh - 7.5rem);
  min-height: calc(100vh - 7.5rem);
}

.bkt-page-container-content {
  width: 70%;
  margin-top: 5rem;
}
