.paginate-container {
  height: 4.5rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .pagination {

    .page-item {
      margin: 0;
    }

    .page-link {
      color: rgba(49, 119, 183, 0.75);
      border: none;

      &:hover {
        font-weight: bold;
        color: #3177B7;
        background-color: transparent;
      }
    }

    .page-item.active > .page-link {
      font-weight: bold;
      color: #3177B7;
      background-color: transparent;
    }
  }

  .paginate__previous-button, .paginate__next-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    padding: 2rem;
    border: 2px solid #3177B7;
    border-radius: .5rem;
    position: absolute;
    top: 0;
    cursor: pointer;

    p, svg {
      color: #3177B7;
    }
  }

  .paginate__previous-button {
    left: 0;

    p {
      margin-left: 1rem;
    }
  }

  .paginate__next-button {
    right: 0;

    p {
      margin-right: 1rem;
    }
  }
}
