<div class="modal-content ays-modal__content">

  <div class="modal-body ays-modal__body">

    <h3>Some tags have no template assigned</h3>

    <p>If you continue, the default template will be assigned to those tags</p>

  </div>

  <div class="modal-footer ays-modal__footer">

      <button class='bkt-btn-ays-blue'>
        Continue
      </button>

      <button class="bkt-btn-ays-dark-grey ays-close width-20rem" data-dismiss="modal" aria-label="Close">
        Assign templates
      </button>

  </div>

</div>
