<div class="mailer-banner">
  <div class="mailer-banner-row">
    <div class="mailer-banner-row-image">
      <%= email_image_tag('Booklet-logo.png') %>
    </div>
  </div>
</div>
<div class="mailer-container">
  <div class="mailer-text">
    <div class="mailer-text-image">
      <%= email_image_tag('noto_waving-hand.png') %>
    </div>

    <h2>Hello, <%= @user.fullname %></h2>
    <p>Your have been invited to join Booklet !</p>
    <p>Click here to create your password</p>
    <br>
    <div class="mailer-button">
      <%= link_to 'Create my password', accept_invitation_url(@user, invitation_token: @token) %>
    </div>
    <span>Please do not answer this email</span>
  </div>
</div>
