.book-times {
  display:flex;
  align-items: center;
}


// .book-container {
//     padding: 10px;
//   @include from-medium {
//   padding: 30px;
//   }
// }

.booking-title {
  margin-top: 20px;
}

.workshop-grid {
    display: block;
  @include from-medium-high {
    display: flex;
  }
}

.workshop-cards-selected {
  padding: 20px;
  border-left: none;
  border-top: 1px solid #C4C4C4;
  min-height: 700px;
  padding: 20px 0px;
  @include from-medium-high {
    padding: 0px 20px 20px 20px;
    border-left: 1px solid #C4C4C4;
    border-top: none;
  }

}

.workshop-cards-book {
  padding: 10px 0px;
  min-height: 0;
  @include from-medium-high {
  padding: 0px 20px 20px 20px;
  min-height: 700px;
  }
}


#workshop-card-list {
  list-style: none;
  padding-left: 0;
  li {
    cursor: grab !important;
  }
  &:hover {
    cursor: pointer;
  }
  &:active {
    cursor: grabbing;
  }
}


.card-interest {
  // cursor: all-scroll;
}


.dragged {
  opacity: .8;
}

// CARDS //

.card-interest-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 19rem;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @include from-medium-high {
    min-height: 10rem;
    flex-direction: row;
  }
}




.catalogue-content-card-right-syn-book, .catalogue-content-card-right-asyn-book {
  width: 100%;
  cursor: grab;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  position: relative;
  @include from-medium-high {
    width: 30%;
  }
}

.catalogue-content-card-right-syn-book {
  background: #F8D9C8;

  p, i {
    color: #F26419;
  }
}

.catalogue-content-card-right-asyn-book {
  background: #EEEEEE;
  i {
    color: black;
  }
}

.catalogue-content-card-left-book {
  font-size: 1.4rem;
  height: 100%;
  background: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
  cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/openhand.cur), default !important;

  h3 {
    width: 95%;
  }

  h4 {
    font-weight: 600;
  }

  p:first-of-type {
    margin-bottom: .5rem;
  }

  p:nth-of-type(2) {
    color: #5B5959;
  }

  p {
    font-size: 1.3rem;
  }

  .type-icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
    &:hover {
      opacity:60%;
    }
  }

  .catalogue-content-card-categories-book {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap:wrap;
    height: 2rem;

    p {
      background: #F8D9C8;
      color: #F26419;
      padding: 0 .5rem;
      margin: 0 1rem 0.5rem 0;
      border-radius: 5px;
      font-size: 1.3rem;
    }

    i {
      color: #F26419;
    }
    @include from-large {
    width: 100%;
    p {
      font-size: 1.3rem !important;
    }
  }
  }
    @include from-medium-high {
    h3 {
      width: 100% !important;
    }
  }
}


.ghost-card {
  display: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100%;
  height: 21rem;
  border: 2px dashed #C4C4C4;
  p {
    color: #C4C4C4
  }
  @include from-medium-high {
  height: 15.5rem;
  display: flex;
  }
}


// FILTER //



.index-controls-filter-bar-book {
  // min-height: 4rem;
  margin: 3rem 2rem 3rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 2rem;
  flex-wrap: wrap;

  .index-controls-filter-bar-block-book {
    display: flex;
    border: 1px solid #C4C4C4;
    justify-content: flex-start;
    align-items: center;
    background: white;
    height: 4rem;
    width: 30rem;
    padding: 0 2rem;
    margin: 0rem 0rem 1rem 0rem;
    border-radius: 5px;

    i {
      margin-right: 1rem;
    }

    h6 {
      font-weight: 600;
    }

    .index-controls-filter-bar-block-filter {
      min-height: 6.4rem;
    }

    input {
      border: none !important;
      box-shadow: none !important;
      padding: .6rem !important;

      &:focus {
        background-color: white;
      }
    }

    @include from-medium {
      margin: 0rem 1rem 0rem 2rem;
    }
  }
}

.filtered_themes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap:wrap;
  width: 350px;

  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #F8D9C8;
    padding: .5rem;
    margin: .3rem 1rem .3rem .5rem;
    border-radius: 5px;


    p {
      margin-right: 1rem;
      color: #F26419;
    }

    i {
      color: #F26419;
      margin: 0;
      font-size: 14px;
      opacity: .5;
    }
  }
  @include from-medium {
    width: 650px;
  }
}

// Next Page controls //
.book-next-page {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  &:hover{
    i {
      opacity: .8;
    }
  }
}
.book-next {
  width: 12rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  p {
    font-size: 12px;
  }
}


// PARTICIPANTS PAGE //

.users-book-grid {
    display:block;
  @include from-medium-high {
    display: flex;
  }
}

.users-book-selected {
  padding: 0px 20px 20px 20px;
  border-left: none;
  min-height: 0px;
  border-top:  1px solid #C4C4C4;
  @include from-medium-high {
  border-left: 1px solid #C4C4C4;
  border-top: none;
  min-height: 700px;
  }
  .headers-div {
      p:hover {
        color: #888888;
    }
  }
}

.users-book {
  min-height: 0px;
  padding: 0px 20px 20px 20px;
  @include from-medium {
    min-height: 700px;
  }
    .headers-div {
      p:hover {
        color: #888888;
    }
  }
}


//---user cards---//
.icon {
  margin: 10px;
}


.user-index-infos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-index-info-book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 3rem;
  overflow: hidden;
  white-space: nowrap;

  p {
    font-size: 16px;
    text-overflow: ellipsis;
  }

  @include from-medium {
    &:first-of-type {
    min-width: 7rem;
  }
  }
}

// .user-training-info {
//   display: none;
//   @include from-medium {
//     display: block;
//   }
// }

.user-index-info-book-user-interest {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 3rem;
  width:25rem;
  p {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.user-info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    font-size: 1.3rem;
    font-weight: 600;
  }
  @include from-medium {
    flex-direction: row;
    p {
      font-size: 1.6rem;
    }
  }
}


.card-content-description {
  height: 6rem;
  display:none;
  @include from-medium {
    display: block;
  }
}

.user-index-card-book {
  border-bottom: none;
  height: 10rem;
  display: flex;
  align-items: center;
  padding: 0 3rem;
  width: 100%;
  img {
    display:none;
  }

  @include from-medium {
    border-bottom: 1px solid #c4c4c4;
    img {
      display: inherit;
    }
  }
}

.user-book-interest-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    p {
    text-overflow: ellipsis;
    white-space: nowrap;
    }
}

/* SELECTED CARD */

.book-selected-card {
  margin-top: 20px;
  background: white;
  display: flex;
  flex-direction:column;
  margin-bottom: 3rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 .type-icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .book-selected-card-left {
    width: 100%;
  }

  .book-selected-card-infos {
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    font-size: 1.6rem;
    @include from-medium-high {
      height: 80%;
    }

    .duration-alert {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
    }
  }



  .book-selected-card-dates {
    background: #F8D9C8;
    height: 100%;
    width: 100%;
    padding: 1rem 2rem;
    p {
      color: black;
    }
    @include from-medium-high {
      width: 30%;
    }
  }

  .book-selected-card-categories {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap:wrap;
    padding: 10px;
    p {
      background: #F8D9C8;
      color: #F26419;
      padding: 0 .5rem;
      margin: 0 1rem 0.5rem 0;
      border-radius: 5px;
      font-size: 1.3rem;
    }

    i {
      color: #F26419;
    }
  }
  @include from-medium-high {
    flex-direction: row;
  }
}

.book-selected-card-dates {
  position: relative;
}

.book-dates {
  padding: 0;
  p {
    padding: 0px;
  }
  border-radius: 5px;
  label {
    color: black;
  }

}

.book-times {

}


.book-confirm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.session {
  .session_available_date {
    input {
      margin-left: 5px;
      background-color: transparent !important;
      // border: 1px solid #888888 !important;
    }
    }
  .session_date {
    input {
      margin-left: 5px;
      background-color: transparent !important;
      // border: 1px solid orange !important;
    }
  }
  .session_starts_at {
    select {
      background-color: transparent !important;
      border: none !important;
    }
  }
  .session_ends_at {
    select {
      background-color: transparent !important;
      border: none !important;
    }
  }
}

.add-date {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  cursor: pointer;
  &:hover {
    opacity: 70%;
  }
}

.remove_date {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.book-element{
  cursor: pointer;
}

.user-filter {
  margin-left: 5px;
  background-color: #F8D9C8;
  color: #F26419;
  padding: 2px;
  border-radius: 4px;
}

.headers-div-book {
  min-width: 20rem;
  margin-right: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
