// CLEANED - 2021-07-08

// CONTROLS

.book-controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3rem;

  button {
    padding: 1rem;
    border-radius: 5px;
    background-color: transparent;
    margin-right: 2rem;

    p {
      color: rgba(151, 156, 159, 1);
    }
  }

  button.active, button:hover {
    background-color: rgba(233, 152, 110, 0.43);

    p {
      color: rgba(242, 100, 25, 1);
    }
  }
}

// BOOK CONTENTS

.book-select__folder, .book-select__content {
  width: 100%;
  padding: 1rem;
  color: white;
  border-radius: 5px;
  margin-top: .5rem;
}

.book-select__folder {
  background-color: rgba(61, 100, 136, 1);
  border: 2px solid rgba(61, 100, 136, 1);
}

.book-select__content {
  background-color: rgba(242, 100, 25, 1);
  border: 2px solid rgba(242, 100, 25, 1);
}

.catalogue-card-container__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -10;
  background-color: transparent;
}

.catalogue-card-container.disabled {

  .catalogue-card-container__overlay {
    z-index: 100;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    opacity: .7;
  }
}

.catalogue-card-container.selected {

  .book-select__folder, .book-select__content {
    background-color: white;
  }

  .book-select__folder {
    color: rgba(61, 100, 136, 1);
  }

  .book-select__content {
    color: rgba(242, 100, 25, 1);
  }
}


// FILTER


.index-controls-filter-bar-book {
  margin: 3rem 2rem 3rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;

  i {
    position: absolute;
    z-index: 150;
    top: 12px;
    left: 12px;
    color: #d6d6d6;
  }
}

.index-controls-filter-bar-book__user-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filtered_themes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap:wrap;
  width: 350px;

  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #F8D9C8;
    padding: .5rem;
    margin: .3rem 1rem .3rem .5rem;
    border-radius: 5px;


    p {
      margin-right: 1rem;
      color: #F26419;
    }

    i {
      color: #F26419;
      margin: 0;
      font-size: 14px;
      opacity: .5;
    }

    &:hover{
      cursor:pointer;
      opacity: 80%;
    }
  }

  @include from-medium {
    width: 650px;
  }
}

#book-controls__user-search {
  position: relative;
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    padding: 0 5rem 0 3.5rem;
    position: relative;
    margin-bottom: 0px !important;
    height: 40px;
    border-radius: 4px;
    width: 300px;
    margin-right: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .25);
  }

  .form-group {
    margin-bottom: 0px !important;
  }
}

#book-controls__user-search-clear {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  // background-color: white;
  height: 3.8rem;
  z-index: 100;
  top: 1px;
  right: 12px;

  p {
    font-size: 1.2rem;
    color: #F26419;

    &:hover {
      cursor: pointer;
      opacity: 80%;
    }
  }
}


// USERS

.book-users-lists__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.book-users-lists {
  width: 63%;
}

.book-users-all, .book-users-filtered {
  width: 100%;
  border: 0.5px solid rgba(0, 0, 0, 0.21);
  border-top: none;
  //height: 50rem;
  // overflow-y: scroll;
}

.book-users-selected {
  width: 35%;
  border: 0.8px solid #E7E7E7;;
}

.book-users-headers {
  height: 7rem;
  background-color: #F5F5F5;
  border: 0.5px solid rgba(0, 0, 0, 0.21);
  display:flex;
  align-items: center;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  div {
    background-color: transparent;
  }
}

.book-users-headers-selected {
  height: 7rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 2.4rem;
    font-weight: 900;
    color: rgba(96, 96, 96, 1);
  }
}

.book-users-card {
  width: 100%;
  position: relative;
  height: 4rem;
  background: #FFFFFF;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.book-users-headers-infos, .book-users-card-infos {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;

  div {
    width: 20rem;
    min-width: 20rem;
    margin: 0 2rem;

    p {
      width: 90%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.book-users-card.selected {

  .book-users-card-infos {
    background-color: rgba(91, 146, 197, 0.2);
  }

  .book-users-pseudo-checkbox {
    background-color: #3177B7;
  }
}

.book-users-pseudo-checkbox-container {
  height: 100%;
  min-width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.book-users-pseudo-checkbox {
  width: 1rem !important;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid #3177B7;
}


// BOOK DATES

.book-dates-container {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.book-dates-card {
  margin: 2rem;
}

.book-dates-duration {
  margin: 0 1rem 0 3.5rem;
}

.book-dates-card-bottom {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.book-dates-card-bottom__participants, .book-dates-card-bottom__cost, .book-dates-card-bottom__dates {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  p {
    margin: 0 1rem;
  }

  i, p {
    font-size: 2rem;
    color: #F26419;
  }

  .fa-pen {
    font-size: 1.2rem;
  }
}

.book-dates-modal-cost, .book-dates-modal-participants {
  padding: 3rem;

   p {
    color: #F26419;
    font-weight: bolder;
  }
}

.book-dates-modal-cost {
  padding-bottom: 0;

  input {
    width: 10rem;
    margin: 0 1rem;
    text-align: right;
  }
}

.book-dates-modal-participants {

  p {
    margin-bottom: 1rem;
  }
}

.book-dates-card-syn {
  width: 360px;
  min-height: 360px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  position: relative;

  .booklet-card-top {
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    height: 108px;
    position: relative;
    background: #F8D9C8;

    .booklet-card__top-info {
      padding-right: 3rem;

      div {
        margin-bottom: 1rem;
      }

      .fa-file {
        font-size: 3rem;
        color: rgba(242, 100, 25, 0.33);
        margin-right: 1rem;
      }

      h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: help;
        margin: 0;
      }
    }

    .booklet-card-type {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      width: 133px;
      height: 30px;
      background: white;
      border-radius: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 1rem;
      right: 1rem;

      .booklet-card-type-icon {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;

        i {
          margin-right: 10px;
        }
      }
    }

    .booklet-top-right-icon {
      z-index: 200;
      position: absolute;
      top: 12px;
      right: 10px;

      &:hover {
        cursor:pointer;
        opacity: 80%;
      }

      i {
        font-size: 2rem;
        background: white;
        border-radius: 50%;
      }
    }
  }
}

.book-dates-card-asyn {
  width: 360px;
  height: 360px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  position: relative;

  .booklet-card-top {
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    height: 30%;
    position: relative;
    background: #C4C4C4;
  }

    .booklet-card__top-info {
      padding-right: 3rem;

      div {
        margin-bottom: 1rem;
      }

      .fa-file {
        font-size: 3rem;
        color: rgba(242, 100, 25, 0.33);
        margin-right: 1rem;
      }

      h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: help;
        margin: 0;
      }
    }

  .booklet-card-type {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    width: 133px;
    height: 30px;
    background: white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    .booklet-card-type-icon {
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;

      i {
        margin-right: 10px;
      }
    }
  }

  .booklet-top-right-icon {
    z-index: 200;
    position: absolute;
    top: 12px;
    right: 10px;

    &:hover {
      cursor:pointer;
      opacity: 80%;
    }

    i {
      font-size: 2rem;
      background: white;
      border-radius: 50%;
    }
  }
}

// .book-dates-card__cost-input {
//   width: 15rem;
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   position: absolute;
//   top: 6.5rem;
//   left: 0;

//   input {
//     text-align: right;
//   }
// }


/* SELECTED CARD */

.book-dates {
  padding: 0;
  color:#F26419;
  border-radius: 5px;

  p {
    padding: 0px;
  }

  label {
    color: black;
  }

}

.session {
  .session_available_date {

    input {
      background-color: transparent !important;
      border-color: #F26419 !important;
    }
  }
  .session_date {

    input {
      background-color: transparent !important;
      border-color: #F26419 !important;
    }
  }
  .session_starts_at {

    select {
      background-color: transparent !important;
      border: none !important;
    }
  }
  .session_ends_at {

    select {
      background-color: transparent !important;
      border: none !important;
    }
  }
}

.add-date {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  cursor: pointer;

  &:hover {
    opacity: 70%;
  }
}

.user-filter {
  margin-left: 5px;
  background-color: #F8D9C8;
  color: #F26419;
  padding: 2px;
  border-radius: 4px;
}




.add-remove-users {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;

  .add-selected {

    text-decoration: underline;

    &:hover {
      cursor: pointer;
      color: #F26419;
    }
  }

  .remove-selected {

    text-decoration: underline;

    &:hover {
      cursor: pointer;
      color: #F26419;
    }
  }
}



.booklet-card-objective-booking {
  min-height: 195px;
}

.sync-booking {
  display: flex;
}

.booklet-card-theme-modal {
  height: 50px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;

  p {
    height: 20px;
    background: #F8D9C8;
    color: #F26419;
    padding: 0 .5rem;
    margin: 0 1rem .5rem 0;
    border-radius: 5px;
    font-size: 1.3rem;
  }
}

.duration-alert {
  margin-left: 3.5rem;
  color: red;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.book-user-filter-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
