// CLEANED - 2021-07-08

.booking-title {
  margin-top: 20px;
}

.workshop-grid {
    display: block;
  @include from-medium-high {
    display: flex;
    flex-direction: column;
  }
}

.workshop-cards-selected {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.workshop-cards-book {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}



// FILTER //


.index-controls-filter-bar-book {
  margin: 3rem 2rem 3rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;

  i {
    position: absolute;
    z-index: 150;
    top: 12px;
    left: 12px;
    color: #d6d6d6;
  }
}

.index-controls-filter-bar-book__user-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filtered_themes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap:wrap;
  width: 350px;

  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #F8D9C8;
    padding: .5rem;
    margin: .3rem 1rem .3rem .5rem;
    border-radius: 5px;


    p {
      margin-right: 1rem;
      color: #F26419;
    }

    i {
      color: #F26419;
      margin: 0;
      font-size: 14px;
      opacity: .5;
    }

    &:hover{
      cursor:pointer;
      opacity: 80%;
    }
  }

  @include from-medium {
    width: 650px;
  }
}

#book-controls__user-search {
  position: relative;
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    padding: 0 5rem 0 3.5rem;
    position: relative;
    margin-bottom: 0px !important;
    height: 40px;
    border-radius: 4px;
    width: 300px;
    margin-right: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .25);
  }

  .form-group {
    margin-bottom: 0px !important;
  }
}

#book-controls__user-search-clear {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  height: 3.8rem;
  z-index: 100;
  top: 1px;
  right: 12px;

  p {
    font-size: 1.2rem;
    color: #F26419;

    &:hover {
      cursor: pointer;
      opacity: 80%;
    }
  }
}


// NEXT PAGE CONTROLS

.book-next-page {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;

  &:hover{

    i {
      opacity: .8;
    }
  }
}

.book-next {
  width: 12rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  p {
    font-size: 12px;
  }
}


// PARTICIPANTS PAGE

.users-book-all, .users-book-filtered {
  display: flex;
  flex-wrap: wrap;
}

.users-book-selected {
  display: flex;
  flex-wrap: wrap;
}

.icon {
  margin: 10px;
}

/* SELECTED CARD */

.book-dates {
  padding: 0;
  color:#F26419;
  border-radius: 5px;

  p {
    padding: 0px;
  }

  label {
    color: black;
  }

}

.book-confirm {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.session {
  .session_available_date {

    input {
      background-color: transparent !important;
      border-color: #F26419 !important;
    }
  }
  .session_date {

    input {
      background-color: transparent !important;
      border-color: #F26419 !important;
    }
  }
  .session_starts_at {

    select {
      background-color: transparent !important;
      border: none !important;
    }
  }
  .session_ends_at {

    select {
      background-color: transparent !important;
      border: none !important;
    }
  }
}

.add-date {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  cursor: pointer;

  &:hover {
    opacity: 70%;
  }
}

.user-filter {
  margin-left: 5px;
  background-color: #F8D9C8;
  color: #F26419;
  padding: 2px;
  border-radius: 4px;
}

.book-page-guide {
  display: none;
  position:relative;
  justify-content: space-evenly;
  width: 400px;

  .page-book-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page-number {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50%;
    color: #F26419;
    border: 1px solid #F26419;

    p {
      font-size: 1.4rem;
      font-weight: 800;
    }
  }

  .page-name {

    p {
      font-size: 1.2rem;
    }
  }

  .book-line {
    width: 104px;
    border-bottom: 1px solid #808080;
    position: absolute;
    top: 14px;
    left: 94px;
  }

  .book-line-1 {
    width: 93px;
    border-bottom: 1px solid #808080;
    position: absolute;
    top: 14px;
    left: 227px;
  }

  .active {
    border-bottom: 1px solid #F26419;
  }

  .disabled {
    color: #808080;
    border: 1px solid #808080;
  }

  @include from-medium-high {
    display: flex;
  }
}

// User card //
.user-book-card {
  padding: 5px;
  margin: 10px;
  width: 185px;
  position: relative;
  height: 170px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  align-items: center;

  .user-book-info {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .user-book-name {
      text-align: center;
      font-size: 1.6rem;
      font-weight: 800;

      p {
        text-overflow: ellipsis;
      }
    }
  }

  .user-book-interest {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .user-book-icon {
    z-index: 199;
    position: absolute;
    top: 12px;
    right: 10px;

    &:hover {
      cursor:pointer;
    }

    i {
      font-size: 2rem;
      background: white;
      border-radius: 50%;
    }
  }

  .user-book-top {
    height: 15%;
  }

  .user-book-card-overlay {
    position: absolute;
    background: grey;
    width: 185px;
    height: 170px;
    border-radius: 5px;
    top: 0px;
    left: 0px;
    z-index: 100;
    opacity: 50%;
  }
}

.add-remove-users {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;

  .add-selected {

    text-decoration: underline;

    &:hover {
      cursor: pointer;
      color: #F26419;
    }
  }

  .remove-selected {

    text-decoration: underline;

    &:hover {
      cursor: pointer;
      color: #F26419;
    }
  }
}

.date-book {
  display: flex;
  flex-wrap: wrap;
}

.booklet-card-objective-booking {
  min-height: 195px;
}

.sync-booking {
  display: flex;
}

.booklet-card-syn-dates {
  width: 360px;
  min-height: 360px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  .booklet-card-top {
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    height: 108px;
    position: relative;
    background: #F8D9C8;

    .booklet-card__top-info {
      padding-right: 3rem;

      h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: help;
      }
    }

    .booklet-card-type {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      width: 133px;
      height: 30px;
      background: white;
      border-radius: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 1rem;
      right: 1rem;

      .booklet-card-type-icon {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;

        i {
          margin-right: 10px;
        }
      }
    }

    .booklet-top-right-icon {
      z-index: 200;
      position: absolute;
      top: 12px;
      right: 10px;

      &:hover {
        cursor:pointer;
        opacity: 80%;
      }

      i {
        font-size: 2rem;
        background: white;
        border-radius: 50%;
      }
    }
  }

  .booklet-card-bottom-dates {
    padding: 10px;

    .booklet-card-theme {
      height: 50px;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;

      p {
        height: 20px;
        background: #F8D9C8;
        color: #F26419;
        padding: 0 .5rem;
        margin: 0 1rem .5rem 0;
        border-radius: 5px;
        font-size: 1.3rem;
      }
    }

    .booklet-card-like {
      color:#F26419;
      height: 32px;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;

      i {
        margin-left: 10px;
      }
    }
  }
}

.booklet-card-asyn-dates {
  width: 360px;
  height: 360px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  .booklet-card-top {
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    height: 30%;
    position: relative;
    background: #C4C4C4;
  }

    .booklet-card__top-info {
      padding-right: 3rem;

      h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: help;
      }
    }

  .booklet-card-type {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    width: 133px;
    height: 30px;
    background: white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    .booklet-card-type-icon {
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;

      i {
        margin-right: 10px;
      }
    }
  }

  .booklet-top-right-icon {
    z-index: 200;
    position: absolute;
    top: 12px;
    right: 10px;

    &:hover {
      cursor:pointer;
      opacity: 80%;
    }

    i {
      font-size: 2rem;
      background: white;
      border-radius: 50%;
    }
  }

  .booklet-card-bottom-dates {
    padding: 10px;

    p {
      color:black;
    }
  }
}

.booklet-card-theme-modal {
  height: 50px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;

  p {
    height: 20px;
    background: #F8D9C8;
    color: #F26419;
    padding: 0 .5rem;
    margin: 0 1rem .5rem 0;
    border-radius: 5px;
    font-size: 1.3rem;
  }
}

.booklet-card-type-pill > p {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.duration-alert {
  color: red;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.book-user-filter-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
