//////////////
// CONTROLS //
//////////////

.campaign-controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10rem;
  padding: 1.5rem 0;
  position: sticky;
  top: 0;
  left: 0px;
  z-index: 151;
  background-color: white;

  button {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    background-color: transparent;
    margin-right: 1rem;
    border: 0.5px solid transparent;

    @include from-medium {
      margin-right: 2rem;
    }


    p {
      color: rgba(151, 156, 159, 1);

      @include from-medium {
        font-size: 2.8rem;
      }
    }
  }

  button.active, button:hover {
    background-color: #F2F8FC;

    p {
      color: #3177B7;
    }
  }

  button.hilight-next-step {
    -webkit-animation: 1s linear 0s infinite alternate hilight;
    animation: 1s linear 0s infinite alternate hilight;
  }

  @-webkit-keyframes hilight { from { border-color: transparent; border: 0.5px solid transparent;} to { border-color: #3177B7; border: 0.5px solid #3177B7;}  }
        @keyframes hilight { from { border-color: transparent; border: 0.5px solid transparent;} to { border-color: #3177B7; border: 0.5px solid #3177B7;}  }


  .select-step-number {
    display: none;
    align-items: center;
    justify-content: center;
    width : 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    border-radius: 100%;
    color: white;
    background-color:#3177B7;
    font-weight: bold;

    @include from-medium {
      display: flex;
    }
  }

  .select-step-number-disabled {
    display: none;
    align-items: center;
    justify-content: center;
    width : 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    border-radius: 100%;
    color: white;
    background-color:rgba(151, 156, 159, 1);
    font-weight: bold;

    @include from-medium {
      display: flex;
    }
  }

  button.disabled:hover {
    background-color: #F0F0F0;

    p {
      color: rgba(151, 156, 159, 1);
    }
  }
  .arrow-next {
    margin-right: 2rem;
    height: 1.2rem;
    display: none;

    @include from-medium {
      display: block;
    }
  }
}

#search_campaigns_employee {
  margin-right: 1rem;
}

#owner-select {
  color:#3177B7;
  padding: 1rem;
  background-color: white;
  border: 2px solid #3177B7;
  border-radius: 5px 5px 5px 5px;
  height: 5rem;
  outline: none;
  margin-left: 1.5rem;
}

#owner-select-disabled {
  color:#979C9F;
  padding: 1rem;
  background-color: white;
  border: 1px solid #979C9F;
  border-radius: 5px 5px 5px 5px;
  height: 5rem;
  outline: none;
  margin-left: 1.5rem;
}

.assign-next{
  display: flex;
  align-items: flex-start;
  max-width: calc(100vw - 6rem);

  @include from-medium {
    max-width: none;
  }
}

.assign-label {
  color: #3177B7;
  font-size: 1.5rem;
  align-self: center;
  margin-bottom: 0rem;
}

.assign-label-disabled{
  color: #6e6e6e;
  font-size: 1.5rem;
  align-self: center;
  margin-bottom: 0rem;
}

.campaign__next-button-arrow {
  margin-left: 1rem;
  height: 5rem;
  padding-top: 0;
  display: none;

  @include from-medium {
    display: flex;
  }
}

.next-step-info {
  display: none;
  align-self: center;
  font-size : 1.3rem;
  color: #3177B7;
  margin-left: 1rem;
  text-align: right;

  @include from-medium {
    display: block;
  }
}


///////////////////
// MY INTERVIEWS //
///////////////////


.campaigns-my-interviews__container {
  min-height: calc(100vh - 7.5rem);
  background-color: #F5F8FB;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.campaigns-my-interviews__main {
  width: 80%;
  @include small-down {
    width: 95%;
  }
  max-width: 120rem;
  margin: 5rem 0;
}

.campaigns-my-interviews__tabs-controls {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  font-weight: bold;

  .booklet-select__selected {
    background-color: white;
  }

  .booklet-select__controls {
    margin-left: 1rem;
  }

  a.active {
    border: 1px solid #C4C4C4 !important;
  }
}

.campaigns-my-interviews__tabs-display {
  width: 100%;
}

.campaigns-my-interviews__list {
  margin-top: 1.5rem;
  background-color: #F5F8FB;
  text-align: center;
}

.campaigns-my-interviews__card, .campaigns-my-team-interviews__card {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  text-align: initial;
  width: 100%;
  padding: 2rem;
  margin-bottom: 1.5rem;
  background-size: cover;
  background-position: center;
  background-color: white;
  border-radius: 3rem;
  box-shadow: 0px 2px 26px 0px #0000000D;

  @include from-medium {
    display: inline-flex;
  }
}

////////////////////
///////MOBILE//////
///////////////////

.campaigns-my-interviews__card--mobile {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: initial;
  width: 100%;
  //padding: 2rem;
  margin-bottom: 1.5rem;
  background-size: cover;
  background-position: center;
  background-color: white;
  border-radius: 3rem;
  box-shadow: 0px 2px 26px 0px #0000000D;

  @include from-medium {
    display: none;
  }

  .campaigns-my-interviews__card-status {
    width: 13rem;
    border-radius: 2rem;
    text-align: center;
    color: white;
    background-color: #FFC85C;
    white-space: nowrap;
    margin-bottom: 2rem;
  }

  .campaigns-my-interviews__card-left {
    width: 100%;

    .campaigns-my-interviews__card-header {
      margin-bottom: 2rem;
      .campaigns-my-interviews__card-header-left {
        display: flex;
        // flex-direction: column;
        align-items: flex-start;

        .campaigns-my-interviews__card-icon {
          height: 3rem;
          width: 3rem;

          svg {
            font-size: 2rem;
          }
        }

        .campaigns-my-interviews__card-title-deadline {

          h2 {
            font-size: 1.6rem;
          }

          p {
            font-size: 1.4rem;
          }
        }
      }
    }

    .campaigns-my-interviews__card-group {

      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      .campaigns-my-interviews__card-manager {
        margin: 0;

        .campaigns-my-interviews__card-name-status {

          h6 {
            font-size: 1.5rem;
          }

          em {
            font-size: 1.2rem;
          }

          p {
            font-size: 1.5rem;
            margin-bottom: 2rem;
          }
        }
      }

      .campaigns-my-interviews__card-employee {
        margin: 0;

        .campaigns-my-interviews__card-name-status {

          h6 {
            font-size: 1.5rem;
          }

          em {
            font-size: 1.2rem;
          }

          p {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .campaigns-my-interviews__card-part-right {
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    background-color: #3177B7;
    padding: 1rem;
    border-radius: 0rem 0rem 2rem 2rem;

    .campaigns-my-interviews__card-review-link {

      p {
        color: white;
      }
    }
  }

  .btn-blue-my-interviews {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 1rem;
    border-radius: 3px;
    background-color: #3177B7;

    p {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: white;
    }
  }

  .btn-grey-my-interviews {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 1rem;
    border-radius: 3px;
    background-color: #C4C4C4;
    cursor: default;

    p {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: white;
    }
  }

  .btn-blue-my-interviews-disabled {
    opacity: .5;
    cursor: default;

    svg {
      color: white;
      margin-left: 1rem;
    }
  }
}


///////////////////
/////END MOBILE////
///////////////////




.campaigns-my-interviews__card-left {
  width: 70%;
}

.campaigns-my-interviews__card-inner {
  width: 100%;
}

.campaigns-my-interviews__card-header {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  a {
    height: 3rem;
  }
}

.campaigns-my-interviews__card-header-left {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.campaigns-my-interviews__card-icon {
  background-color: #F2F2F2 ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  margin-right: 15px;
  background: rgba(49, 119, 183, 0.1);
  border-radius: 5px;

  svg {
    font-size: 3rem;
    color: #3177b7;
  }
}

.campaigns-my-interviews__card-title-deadline {
  line-height: 20px;

   h2 {
    font-weight: 600;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
  }

  em {
    padding: 0.4rem;
    color: darkgrey;
    margin-top: 10px;
  }
}

.deadline {
  color: #888888;
  padding-top: 6px;
  padding-left: 10px;
}

.campaigns-my-interviews__card-status {
  border-radius: 2rem;
  text-align: center;
  padding: .5rem 0;
  color: white;
  white-space: nowrap;
  width: 13rem;
  margin-top: 3px;

  &.locked {
    background-color: #3177B7;
  }

  &.completed {
    background-color: #7BC079;
  }

  &.in_progress {
    background-color: #FFC85C;
  }

  &.not_started {
    background-color: #EC6D6D;
  }

}

.campaigns-my-interviews__card-group {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

  .campaigns-my-interviews__card-group-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
  }
}

.campaigns-my-interviews__card-manager {
  display: flex;
  margin-right: 20%;
}

.campaigns-my-interviews__card-employee {
  display: flex;
}

.campaigns-my-interviews__card-avatar {
  display: flex;
  margin-right: 10px;
}

.campaigns-my-interviews__card-name-status {
  line-height: 20px;
  font-weight: 600;
}

.campaigns-my-interviews__card-part-right {
  width: 30%;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 20px ;
}

.campaigns-my-interviews__card-review-link {
  display: flex;

  p {
    color: #3177B7;
    font-weight: 600;
  }

}


///////////
// INDEX //
///////////

.campaigns-index-container {
  min-height: calc(100vh - 15rem);
  background-color: $bkt-light-grey2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.campaigns-index {
  width: 60%;
  max-width: 70%;
  margin-top: 5rem;
}

.campaigns-index__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  .campaigns-index__title-tags {
    display: inherit;

    h1 {
      font-size: 24px;
      font-weight: bold;
      color: #333333;
      margin-right: 1rem;
    }
  }

  .campaigns-index__tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .campaigns-index__tag {
      padding: 1rem 2rem;
      margin-right: 1rem;
      border-radius: .5rem;
      font-weight: bold;
      color: white;
      background-color: #3177B7;
    }
  }

  .campaigns-index__filter_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: white;
    box-shadow: 0px 2px 26px rgba(0, 0, 0, 0.05);
    border-radius: 10px;

    p, svg {
      color: #3177B7;
    }

    p {
      font-weight: bold;
    }

    svg {
      font-size: 2rem;
      margin-right: 1rem;
    }
  }
}

.campaigns-index__main {
  padding: 2rem;
  margin-bottom: 5rem;
  background:white;
  box-shadow: 0px 2px 26px rgba(0, 0, 0, 0.05);
  border-radius: 2rem;
}

.campaigns-index__searchbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;

  form {
    display: flex;
    align-items: center;
  }

  input, select {
    height: 5rem;
    border-radius: .5rem;
    border: 1px solid #C4C4C4;
    background-color: #FBFBFB;
  }

  select {
    color: #C4C4C4;
  }

  .btn-search {
    margin-left: 1rem;
    display: none;
    padding: 0 1rem;

    @include from-medium {
      display: block;
    }
  }

  .btn-search--mobile {
    display: block;

    @include from-medium {
      display: none;
    }
  }

  .btn-reset {
    margin-left: 1rem;
  }

  .campaigns-index__search-trainings-icon {
    position: absolute;
    z-index: 150;
    left: 25rem;
    bottom: 16.6px;
    color: #C4C4C4;
  }

  #search_title {
    width: 28rem;
    padding: 0 4rem 0 1rem;
  }

  .search_period {
    height: 5rem;
    width: 13rem;
    padding: 0;
    margin: 0;
    border-radius: .5rem;
    border: 1px solid #C4C4C4;
    overflow: hidden;
    background-color: #FBFBFB;
    position: relative;

    select {
      padding: 5px 8px;
      width: 130%;
      border: none;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &:focus {
        outline: none;
      }
    }

    &:after {
      top: 50%;
      left: 85%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(0, 0, 0, 0);
      border-top-color: #000000;
      border-width: 5px;
      margin-top: -2px;
      z-index: 100;
    }
  }
}

.campaigns-index__list {

  .campaigns-index__list-headers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0 2rem 0;
    border-bottom: 1px solid #C4C4C4;

    p {
      width: 25%;
      min-width: 12rem;
      font-weight: 600;
    }

    .campaigns-index__list-headers-employee, .campaigns-index__list-headers-completion {
      width: 12rem;
      min-width: 12rem;
    }
  }

  .campaigns-index__list-lines {}

  .campaigns-index__list-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid #C4C4C4;
    position: relative;

    .campaigns-index__list-line-element {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 255%;
      min-width: 12rem;
      padding-right: 1rem;
      overflow: hidden;
      height: 36px;

      .campaigns-index__list-line-icon {
        background: rgba(49, 119, 183, 0.1);
        border-radius: .5rem;
        padding: .7rem;
        margin-right: 1rem;
      }

      svg {
        font-size: 1.6rem;
        color: #3177B7;
      }

      img {
        margin-right: 1rem;
      }
    }

    .campaigns-index__list-element-employee, .campaigns-index__list-element-completion {
      width: 12rem;
      max-width: 12rem;
      padding-left: 2rem;
    }

    .template-title {
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .status-completed, .status-in_progress, .status-not_started {
      width: 7rem;
      padding: 1rem 1.5rem;
      border-radius: .5rem;
      font-weight: 600;
      color: white;
      text-align: center;
    }

    .status-completed {
      background-color: #57E054;
    }

    .status-in_progress {
      background-color: #FFC85C;
    }

    .status-not_started {
      background-color: #C4C4C4;
    }

    .campaigns-index__list-line-options {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 1.6rem;
      right: -1rem;
      height: 4rem;
      width: 2rem;
      z-index: 5;
      cursor: pointer;
    }

    .campaigns-index__list-line-content-dropdown {
      position: absolute;
      right: 0;
      top: 6rem;
      border-radius: .5rem;
      box-shadow: 0px 4px 4px rgba(0,0,0,.25);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background: white;
      color: black;
      z-index: 100;

      a {
        width: 100%;
        padding: .5rem 1rem;

        &:hover {background-color: #C4C4C4;}

        &:first-of-type {
          border-top-left-radius: .5rem;
          border-top-right-radius: .5rem;
        }

        &:last-of-type {
          border-bottom-left-radius: .5rem;
          border-bottom-right-radius: .5rem;
        }
      }
    }

    p {
      font-weight: 500;
    }
  }
}

//////////
// SHOW //
//////////

.campaign-show__main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3rem;
  min-height: calc(100vh - 7.5rem);
  background: rgba(49, 119, 183, 0.05);
  position: relative;

  .booklet__back-button {
    position: absolute;
    top: 4rem;
    left: 3rem;
  }
}

.campaign-show__header {
  width: 75%;
  max-width: 120rem;
}

.campaign-show__header-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  background-color: white;
  box-shadow: 0px 2px 26px rgba(0, 0, 0, 0.05);
  border-radius: 3rem;

  .campaign-show__header-banner-text {

    h1, p {
      color: #333333;
    }

    h1 {
      margin-bottom: 2rem;
    }

    p {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.7rem;
    }
  }

  .campaign-show__header-banner-img {

    img {
      height: 17rem;
    }
  }
}

.campaign-show__header-infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 10rem;
  margin-top: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #C4C4C4;

  .campaign-show__header-infos-title-status > p {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
  }

  .campaign-show__header-infos-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;

    h2, p {
      margin-right: 1rem;
    }

    h2 {
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 2.9rem;
      color: #333333;
    }

    p {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 2rem;
      padding: .5rem 1rem;
      color: white;
      border-radius: 2rem;

      &.not_started {
        background-color: #C4C4C4;
      }

      &.in_progress {
        background-color: #FFC85C;
      }

      &.completed {
        background-color: #57E054;
      }
    }

    .campaign-show__header-infos-title-icon {
      background: rgba(49, 119, 183, 0.1);
      border-radius: .5rem;
      padding: .7rem;
      margin-right: 1rem;

      svg {
        font-size: 1.6rem;
        color: #3177B7;
      }
    }
  }

  .campaign-show__header-infos-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
  }

  .campaign-show__header-infos-controls-manager {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p, div, button {
      margin-left: 1rem;
    }

    .campaign-show__header-infos-controls-manager-display {
      display: inherit;
      align-items: center;
      height: 4rem;
      padding: .5rem;
      border: 1px solid #C4C4C4;
      border-radius: .5rem;
    }

    .campaign-show__header-infos-controls-manager-edit {
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

      svg {
        color: #3177B7;
      }
    }

    .campaign-show__header-infos-controls-manager-search {
      margin-left: 1rem;

      input {
        height: 4rem;
      }

      .easy-autocomplete, .easy-autocomplete-container {
        margin: 0;
      }

      ul {
        border: 1px solid #C4C4C4;
        border-radius: .5rem;
      }

      li {
        margin: 0;
        border: none;
        border-radius: .5rem;
      }
    }

    #select_owner, #cancel_owner {
      margin-left: 1rem;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

      svg {
        color: white;
        font-size: 3rem;
      }
    }
  }

  .campaign-show__header-infos-controls-employee {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg, p {
      color: #3177B7;
      font-size: 2rem;
    }

    svg {
      margin-right: .5rem;
    }

    p {
      font-size: 1.6rem;
      line-height: 2rem;
    }
  }
}

.campaign-show__interviews-list {
  width: 75%;
  max-width: 120rem;
  padding: 5rem 2.5rem;
}

.campaign-show__card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.campaign-show__card {
  max-width: 32rem;
  min-width: 32rem;
  background: white;
  border: 2px solid #3177B7;
  box-shadow: 0px 2px 26px rgba(0, 0, 0, 0.05);
  border-radius: 1.5rem;
  position: relative;

  .campaign-show__card-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    pointer-events: auto;
    content: "";
    border-radius: 1.3rem;
    background-color: rgba(0,0,0,0.3);
  }

  .campaign-card__options {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 20;

    .content-dropdown {
      right: 0;
    }

    a {
      white-space: nowrap;
    }
  }

  .campaign-show__card-profile {
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      margin-bottom: 2rem;
    }

    p {
      font-weight: bolder;
    }
  }

  .campaign-show__card-interviews {
    padding: 0 1rem;
  }

  .campaign-show__card-interview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-bottom: 1rem;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    position: relative;

    p {
      font-weight: bolder;
      line-height: 2rem;
    }

    em {
      font-size: 1.4rem;
      font-weight: normal;
      font-style: italic;
      color: #C4C4C4;
    }

    .campaign-show__card-interview-status--complete, .campaign-show__card-interview-status--incomplete, .campaign-show__card-interview-status--unavailable {
      padding: 1rem 2rem;
      border-radius: 2rem;
      display: inline-block;
      margin-top: .5rem;
      font-size: 1.4rem;
      color: white;
    }

    .campaign-show__card-interview-status--complete {
      background: #57E054;
    }

    .campaign-show__card-interview-status--incomplete {
      background: #3177B7;
    }

    .campaign-show__card-interview-status--unavailable {
      background: #C4C4C4;
    }
  }

  .campaign-show__card-interviews-info-locked, .campaign-show__card-interviews-info-complete {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    p, svg {
      font-size: 1.4rem;
      color: #57E054;
    }

    p {
      margin-right: 1rem;
      font-weight: bold;
    }
  }

  .campaign-show__card-interviews-info-incomplete {

    p {
      font-size: 1.4rem;
      color: #888888;
      text-align: center;
    }
  }
}


/////////////////
// NEW (MODAL) //
/////////////////

.interview-type-cards__main-title {
  font-size: 1.8rem !important;
  color: #404040;
  margin-bottom: 1rem;
}

.interview_type_cards {
  margin-bottom: 5rem;
}

.interview-type-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  border: 0.3px solid #979C9F;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(182, 182, 182, 0.25);
  border-radius: 2px;
  padding: 0 2rem;
  margin-bottom: 1rem;
  cursor: pointer;

  svg {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    color: #3177B7;
  }

  div:last-child {
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    border: 1px solid #3177B7;
  }
}

.interview-type-card.selected {
  border: 0.3px solid #3177B7;

  div:last-child {
    background-color: #3177B7;
  }
}

.interview_type-card__teaser {
  max-height: 0;
  overflow-y: hidden;

  p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #9C9C9C;
    padding-bottom: 1rem !important;
  }
}

.interview_type-card__teaser.selected {
  max-height: 20rem;
}

/////////////////////
// SELECT TEMPLATE //
/////////////////////

.campaign__next-button-arrow {

  img {
    opacity: 1;
  }
}

.campaign__next-button-arrow.disabled {
  cursor: not-allowed;

  img {
    opacity: .3;
  }
}

.template-card-container.selected {

  .interview-form-card__campaign {
    background-color: #3177B7;

    h3, p, i {
      color: white;
    }
  }

  .interview-form-card__select-button {
    background-color: white;

    p {
      color: #3177B7;
    }
  }
}


.interview-form-card__campaign {
  border-top: none !important;
  margin: 2rem 2rem 0 2rem !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  cursor: pointer;
}

.interview-form-card__select-button {
  max-width: 40rem;
  min-width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3177B7;
  border: 1px solid #3177B7;
  padding: 1rem;
  margin: 0 2rem 2rem 2rem;
  cursor: pointer;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;

  p {
    font-weight: bolder;
    color: white;
  }
}


//////////////////
// SELECT DATES //
//////////////////

.campaign-controls__dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @include from-medium {
    flex-direction: row;
  }
}

.campaign-dates-container {
  margin: 3rem 2rem;
}

.campaign-select-date-title {
  margin-bottom: 5rem;

  h1 {
    font-weight: bolder;
    margin-bottom: 2rem;

    @include from-medium {
      margin-bottom: 0;
    }
  }

  h5 {
    font-size: 2rem;
    font-style: italic;

    @include from-medium {
      font-size: 3.2rem;
    }
  }

  & > div {
    margin-bottom: 2rem;
  }

  & > div:first-child {
    flex-direction: column;
    align-items: flex-start;

    @include from-medium {
      flex-direction: row;
      align-items: center;
    }
  }
}

.select-date-card-info {
  display: flex;
  flex-direction: column;
  max-width: 80vw;

  & > p {
    margin-bottom: 1rem;
  }
}

.campaign-select-date-tag-pill__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}

.campaign-select-date-tag-pill {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  width: fit-content;
  background: #5B92C5;
  color: white;
  padding: 0.2rem 1rem;
  border-radius: .5rem;
  font-size: 1.4rem;
  margin: 0 1rem 1rem 0;
}

.campaign-select-date-card {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;

  @include from-medium {
    flex-direction: row;
    height: 4rem;
    padding-bottom: 0;
  }

  .campaign-select-date-card__username {
    height: 4rem;
    width: 35rem;
    padding: .5rem 1rem;
    margin: 0 2rem;
    display: flex;
    align-items: center;
    background-color: rgba(91, 146, 197, 0.31);
    border-radius: .5rem;
  }

  form > div {
    flex-direction: column;

    @include from-medium {
      flex-direction: row;
    }
  }

  div {
    margin-top: 1rem;

    @include from-medium {
      margin: 0;
    }
  }

  input {
    height: 4rem;
    border-radius: 20px;
    border: 1px solid #3177B7;
    color: #3177B7;
    background-color: white !important;
  }

  input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #3177B7 !important;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #3177B7;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #3177B7;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #3177B7;
  }

  p {
    margin: 1rem 1rem 0 1rem;

    @include from-medium {
      margin: 0 1rem;
    }
  }
}

.campaign-select-date-card__alert {
  margin-left: 2rem !important;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p, i {
    color: #FF4040;
  }
}


////////////
// REPORT //
////////////

.campaigns-report-container {
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: flex-start;

  // Report Temp
  justify-content: center;

  @include from-medium {
    flex-direction: row;
  }
}

.campaigns-report__temp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40vh;

  form {
  }

  p {
    margin-right: 1rem;
  }

  input[type=text] {
    text-align: center;
    margin-right: 1rem;
    height: 4rem;
    width: 12rem;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
  }

  label {
    margin: 0 1rem 0 0;
  }

  i {
    margin-left: 2rem;
    font-size: 3rem;
    color: #3177B7;
  }

  .report-mode-control, .report-date-control {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;

    div, fieldset {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 1;
    }

    .form-check {
      justify-content: space-between;

      label {
        margin-left: 1rem;
      }
    }

    .radio_buttons {
      margin: 0;
    }
  }
}

.report-tag-categories-control {
  margin-bottom: 2rem;

  label {
    margin-bottom: 1rem;
  }

  .form-check {
    justify-content: space-between;

    label {
      margin-left: 1rem;
    }
  }

  .radio_buttons {
    margin: 0;
  }
}

@include from-medium {
  .report-date-control {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  }
}

.campaigns-report-managers {
  display: none;
}

  @include from-large {
    .campaigns-report-managers {
    display: block;
    width: 35rem;
    margin: 5rem 5rem 0 0;
    padding: 2rem;
    position: relative;

    h1 {
      margin-bottom: 5rem;
    }

    & > div {
      margin-top: 12rem;
    }
  }
}

.form-group.string.required.select_period_start {
  margin-right: 1rem;
}

.campaigns-report-index {
  flex-grow: 1;
  margin-top: 5rem;
  padding: 0;
  overflow-x: hidden;
  max-width: 85vw;

  h1 {
    margin-bottom: 5rem;
  }
}


@include from-medium {
  .campaigns-report-index {
  padding: 2rem;
  max-width: 100%;
  }
}

.campaigns-report-manager-card {
  display: none;
}

@include from-medium {
  .campaigns-report-manager-card {
  width: 31rem;
  height: 8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 2rem;
  position: relative;

  img {
    margin: 0 2rem;
  }

  p {
    font-weight: bold;
  }

  p:first-of-type {
    margin-bottom: .5rem;
  }

  p:last-of-type {
    color: rgba(128, 128, 128, 1);
  }

  &.active {
    background-color: #3177B7;

    p {
      color: white;
    }
  }
  }
}

.campaigns-report-list__controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #C4C4C4;

  @include from-medium {
    .campaigns-report-list__controls {
      flex-direction: row;
    }
  }

  form {
    width: 100%;
    display: inherit;
    justify-content: space-between;
    align-items: flex-end;

    input {
      height: 5rem;
      width: 12rem;
      text-align: center;
      background-color: white !important;
      border-radius: 4px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }

    div {
      margin: 0 2rem 0 0;
    }

    button {
      height: 5rem;
      width: 5rem;
      display: inherit;
      justify-content: center;
      align-items: center;
      background-color: #3177B7;
      border-radius: 2.5rem;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);

      &.active {
        background-color: #3177B7;
      }
    }

    i {
      color: white;
    }

    .select_period_search_manager {
      display: none;
    }

    @include from-large {

      .select_period_search_manager {
      display: block;
      height: 5rem;
      width: 31rem;
      position: absolute;
      top: 15rem;
      left: 5rem;

      input {
        height: 5rem;
        width: 31rem;
        color: #C4C4C4 !important;
        padding: 0 6rem 0 3.5rem;
        font-style: normal;
        border-radius: 4px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        text-align: left;
      }

      .fa-search {
        position: absolute;
        top: 1.75rem;
        left: 1rem;
        z-index: 150;
        color: #C4C4C4;
      }
    }

    }
  }

  .select_period {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  @include from-medium {
    .select_period {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .flex-row-between-end {
    margin-bottom: 2rem;
  }

  @include from-medium {
    .flex-row-between-end {
      margin-bottom: 0;
    }
  }



  .campaigns-report-list {
    min-height: calc(100vh - 7.5rem);
  }

  .campaigns-report-list__controls-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 9rem;

    overflow-x: auto;


    .report-white-info-card {
      display: flex;

    }

    .report-grey-info-card {
      display: flex;
    }


    .campaigns-report-list__controls-info, .campaigns-report-list__controls-info-grey {
      height: 7.6rem;
      max-width: 14rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 1rem;
      margin-left: 2rem;
      box-sizing: border-box;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
      border-radius: 5px;

      p:first-of-type {
        font-size: 2.4rem;
        font-weight: bolder;
        color: #3177B7;
        margin-bottom: .5rem;
      }

      p:last-of-type {
        font-size: 1rem;
        font-weight: bolder;
      }
    }

    .campaigns-report-list__controls-info-grey {
      background-color: #EAEAEA;
    }

    .campaigns-report-list__controls-export {

      button {
        border-radius: none;
        box-shadow: none;
        background-color: white;
      }

      i {
        font-size: 3rem;
        color: #3177B7;
      }
    }
  }
}

@include from-medium {
  .campaigns-report-list__controls-infos {
    height: auto;
  }
}

.campaigns-report-campaign-card__container {
  position: relative;
  margin-bottom: 2rem;
  margin-right: 0;
}

.campaigns-report-campaign-card {
  min-width: 30rem;
  max-width: 32rem;
  height: 16rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;

  .campaigns-report-campaign-card__top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 1rem;

    .campaigns-report-campaign-card__top-progression {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5rem;
      min-width: 5rem;
      border-radius: 100%;
      margin-right: 1rem;
      background-color: rgba(49, 119, 183, 0.35);

      p {
        font-weight: bolder;
        color: #3177B7;
      }
    }

    .campaigns-report-campaign-card__top-title {


      p {
        font-weight: bolder;
        max-width: 22rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      p:first-of-type {
         margin-bottom: .5rem;
      }

      p:last-of-type {
        color: rgba(196, 196, 196, 1);
        font-size: 1.4rem;
      }
    }

    .campaigns-report-campaign-card__top-menu {
      position: relative;
      top: 0;
      right: 0;
    }
  }

  .campaigns-report-campaign-card__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .campaigns-report-campaign-card__bottom-item {
      text-align: center;
      padding: .5rem;
      background-color: #F3F3F3;

      p, i {
        margin-bottom: .5rem;
        color: #3177B7;
      }

      p:last-of-type {
        margin: 0;
        font-weight: bolder;
      }
    }
  }
}

.campaigns-report-campaign-card__show-summary-container {
  height: 90vh;
  width: 90vw;
  margin-top: 2rem;
}

@include from-medium {
  .campaigns-report-campaign-card__show-summary-container {
    height: 35rem;
    width: calc(100vw - 51rem);
    margin-top: 2rem;
  }
}

.campaigns-report-campaign-card__show-summary {
  height: 80%;
  width: 91%;
  padding: 2rem;
  border: 1px solid black;
  background-color: #F4F4F4;

  .campaigns-report-campaign-card__show-summary-arrow {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;

    border-top: 8px solid transparent;
    border-bottom: 8px solid black;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    left: 15rem;
    top: -1.6rem;
  }

  .campaigns-report-campaign-card__show-summary-arrow-prime {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;

    border-top: 7px solid transparent;
    border-bottom: 7px solid #F4F4F4;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    left: 15.1rem;
    top: -1.45rem;
  }
}

  @include from-medium {
    .campaigns-report-campaign-card__show-summary {
      height: 35rem;
      width: calc(100vw - 51rem);
    }
  }

//////////////////////////
// CAMPAIGN REPORT INFO //
//////////////////////////

.campaign-report-info-top {
  height: 5rem;
  padding: .9rem;
  margin-bottom: 2rem;
  background: #E2E2E2;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: column;

  p {
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  a {
    color: #3177B7;
    text-align: center;
  }
}

@include from-medium {
  .campaign-report-info-top {
    height: 3.4rem;
    flex-direction: row;
    align-items: center;

    p {
      margin-bottom: 0;
    }
  }
}

.campaign-report-info-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 90%;

  .campaign-report-info-employees {
    width: 100%;
    margin-bottom: 1rem;

    & > p {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      font-weight: bolder;
    }

    .campaign-report-info-employees__table {
      max-height: 22.5rem;
      background-color: white;
      padding: 0 1rem;
      overflow-y: scroll;

      .campaign-report-info-employees__table-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 0;
        border-bottom: 1px solid #C4C4C4;

        p {
          width: 50%;
          font-weight: bolder;
        }
      }

      .campaign-report-info-employees__table-card {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 0;
        border-bottom: 1px solid #C4C4C4;

        p {
          width: 50%;
        }

        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }

  .campaign-report-info-ratings {
    width: 100%;
    margin-bottom: 1rem;

    & > p {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      font-weight: bolder;
    }

    .campaign-report-info-ratings__table {
      max-height: 22.5rem;
      background-color: white;
      padding: 0 1rem;
      overflow-y: scroll;

      .campaign-report-info-ratings__table-card {
        padding: 1rem 0;
        border-bottom: 1px solid #C4C4C4;

        &:last-of-type {
          border-bottom: none;
        }

        & > p {
          margin-bottom: 1rem;
        }

        div > p, i {
          color: #3177B7;
          font-weight: bolder;
        }

        i {
          margin-right: 1rem;
        }
      }
    }
  }

  .campaign-report-info-questions {
    width: 100%;

    & > p {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      font-weight: bolder;
    }

    .campaign-report-info-questions__table {
      max-height: 22.5rem;
      background-color: white;
      padding: 0 1rem;
      overflow-y: scroll;

      .campaign-report-info-questions__table-card {
        padding: 1rem 0;
        border-bottom: 1px solid #C4C4C4;

        &:last-of-type {
          border-bottom: none;
        }

        p {
          font-weight: bolder;
        }

        div > p, i {
          color: #3177B7;
        }

        i {
          margin-right: 1rem;
        }
      }
    }
  }
}

@include from-medium {
  .campaign-report-info-bottom {
    flex-direction: row;
  }
}


@include from-medium {
  .campaign-report-info-employees {
    width: 30%;
    margin-bottom: 0;
  }
}

@include from-medium {
  .campaign-report-info-ratings {
    width: 30%;
    margin-bottom: 0;
    padding-left: 1rem;
  }
}

@include from-medium {
  .campaign-report-info-questions {
    width: 30%;
    margin-bottom: 0;
    padding-left: 1rem;
  }
}
