//////////////
// CONTROLS //
//////////////

.campaign-controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10rem;
  padding: 1.5rem 0;
  position: sticky;
  top: 6rem;
  left: 0px;
  z-index: 151;
  background-color: white;

  // @include from-medium {
  //   display: flex;
  // }

  button {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    background-color: transparent;
    margin-right: 1rem;
    border: 0.5px solid transparent;

    @include from-medium {
      margin-right: 2rem;
    }
    

    p {
      color: rgba(151, 156, 159, 1);

      @include from-medium {
        font-size: 2.8rem;
      }
    }
  }

  button.active, button:hover {
    background-color: #F2F8FC;

    p {
      color: #3177B7;
    }
  }

  button.hilight-next-step {
    -webkit-animation: 1s linear 0s infinite alternate hilight;
    animation: 1s linear 0s infinite alternate hilight;
  }

  @-webkit-keyframes hilight { from { border-color: transparent; border: 0.5px solid transparent;} to { border-color: #3177B7; border: 0.5px solid #3177B7;}  }
        @keyframes hilight { from { border-color: transparent; border: 0.5px solid transparent;} to { border-color: #3177B7; border: 0.5px solid #3177B7;}  }


  .select-step-number {
    display: none;
    align-items: center;
    justify-content: center;
    width : 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    border-radius: 100%;
    color: white;
    background-color:#3177B7;
    font-weight: bold;

    @include from-medium {
      display: flex;
    }
  }

  .select-step-number-disabled {
    display: none;
    align-items: center;
    justify-content: center;
    width : 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    border-radius: 100%;
    color: white;
    background-color:rgba(151, 156, 159, 1);
    font-weight: bold;

    @include from-medium {
      display: flex;
    }
  }

  button.disabled:hover {
    background-color: #F0F0F0;

    p {
      color: rgba(151, 156, 159, 1);
    }
  }
  .arrow-next {
    margin-right: 2rem;
    height: 1.2rem;
    display: none;

    @include from-medium {
      display: block;
    }
  }
}

#search_campaigns_employee {
  margin-right: 1rem;
}

#owner-select {
  color:#3177B7;
  padding: 1rem;
  background-color: white;
  border: 2px solid #3177B7;
  border-radius: 5px 5px 5px 5px;
  height: 5rem;
  outline: none;
  margin-left: 1.5rem;
}

#owner-select-disabled {
  color:#979C9F;
  padding: 1rem;
  background-color: white;
  border: 1px solid #979C9F;
  border-radius: 5px 5px 5px 5px;
  height: 5rem;
  outline: none;
  margin-left: 1.5rem;
}

.assign-next{
  display: flex;
  align-items: flex-start;
  max-width: calc(100vw - 6rem);

  @include from-medium {
    max-width: none;
  }
}

.assign-label {
  color: #3177B7;
  font-size: 1.5rem;
  align-self: center;
  margin-bottom: 0rem;
}

.assign-label-disabled{
  color: #6e6e6e;
  font-size: 1.5rem;
  align-self: center;
  margin-bottom: 0rem;
}

.campaign__next-button-arrow {
  margin-left: 1rem;
  height: 5rem;
  padding-top: 0;
  display: none;

  @include from-medium {
    display: flex;
  }
}

.next-step-info {
  display: none;
  align-self: center;
  font-size : 1.3rem;
  color: #3177B7;
  margin-left: 1rem;
  text-align: right;

  @include from-medium {
    display: block;
  }
}


///////////
// INDEX //
///////////


.campaigns-period-filter__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include from-medium {
    display: none;
  }

  p {
    cursor: pointer;
  }

  p:first-of-type {
    font-weight: bolder;
    color: #3177B7;
  }
}

.select-template-indication {
  font-size : 1.5rem;
  font-weight: bold;
  color:rgba(151, 156, 159, 1)
}

.campaigns-index {
  margin-top: 3rem;
}

.campaign-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-card-list {
  margin-top: 3rem;;
  color: #979C9F;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 1.5rem;
}

.campaign-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem;
  background-color: #DEE9F3;
  border-radius: .5rem;
  position: relative;
  min-width: 30rem;
  max-width: 35rem;
  height: 24rem;


  .campaign-card__header {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #91B6D8;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    color: white;
    padding: 2rem;
    text-align: center;

    strong {
      font-weight: bolder;
    }
  }
}

.campaign-card:hover .tooltiptext {
  visibility: visible;
}

.campaign-card--completed {
  background-color: #3177B7;
  color: white;

  .campaign-card__tag-pill {
    background: white !important;
    color: #3177B7 !important;
  }

  p, svg {
    color: white !important;
  }
}


.campaign-card__controls {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 600;
    white-space: normal;
    overflow: visible;
    text-overflow: ellipsis;
  }

  svg {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    color: black;
  }

  .campaign-card__options {
    z-index: 200;
    margin-right: -1rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    border-radius: 50%;
    cursor: pointer;
  }

  .content-dropdown {
    position: absolute;
    right: 1rem;
    top: 4rem;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0,0,0,.25);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: white;
    padding: 0 1rem;
    z-index: 100;
  }
}

.campaign-card__tags {
  height: 4rem;
  padding: 0 1rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  .campaign-card__tag-pill {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background: #5B92C5;
    color: white;
    padding: 0.2rem 1rem;
    border-radius: .5rem;
    font-size: 1.4rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
  }

  .campaign-card__tag-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5B92C5;
    padding: 0.2rem 1rem;
    border-radius: .5rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
    z-index: 100;

    i {
      color: white;
      font-size: 1.4rem;
    }
  }
}

.campaign-card-summary {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3, p, span {
    font-weight: bolder;
    margin-bottom: .5rem;
  }

  span {
    font-size: 1.2rem;
    text-align: center;
  }

  .campaign-card-summary__count {
    flex-shrink: 1;

    p:first-of-type {
      color: #5B92C4;
    }

    p:nth-of-type(2) {
      color: #073A69;
    }

    p:nth-of-type(3) {
      color: #0085FF;
    }
  }

  .campaign-card-summary__completion-and-assignment {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 35%;
  }

  .campaign-card-summary__completion {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      align-self: center;
    }
  }
}

.campaign-card-summary__assignment {
  font-size: 1.2rem;
  color: #696969;
  margin-left: 1rem;
  font-weight: 600;

  &.manager-completed {
    font-size: 1rem;
    color: white;
  }
}


/////////////////
// NEW (MODAL) //
/////////////////

.interview-type-cards__main-title {
  font-size: 1.8rem !important;
  color: #404040;
  margin-bottom: 1rem;
}

.interview_type_cards {
  margin-bottom: 5rem;
}

.interview-type-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  border: 0.3px solid #979C9F;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(182, 182, 182, 0.25);
  border-radius: 2px;
  padding: 0 2rem;
  margin-bottom: 1rem;

  svg {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    color: #3177B7;
  }

  div:last-child {
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    border: 1px solid #3177B7;
  }
}

.interview-type-card.selected {
  border: 0.3px solid #3177B7;

  div:last-child {
    background-color: #3177B7;
  }
}

.interview_type-card__teaser {
  max-height: 0;
  overflow-y: hidden;

  p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #9C9C9C;
    padding-bottom: 1rem !important;
  }
}

.interview_type-card__teaser.selected {
  max-height: 20rem;
}

/////////////////////
// SELECT TEMPLATE //
/////////////////////

.campaign__next-button-arrow {

  img {
    opacity: 1;
  }
}

.campaign__next-button-arrow.disabled {
  cursor: not-allowed;

  img {
    opacity: .3;
  }
}

.template-card-container.selected {

  .interview-form-card__campaign {
    background-color: #3177B7;

    h3, p, i {
      color: white;
    }
  }

  .interview-form-card__select-button {
    background-color: white;

    p {
      color: #3177B7;
    }
  }
}


.interview-form-card__campaign {
  border-top: none !important;
  margin: 2rem 2rem 0 2rem !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  cursor: pointer;
}

.interview-form-card__select-button {
  max-width: 40rem;
  min-width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3177B7;
  border: 1px solid #3177B7;
  padding: 1rem;
  margin: 0 2rem 2rem 2rem;
  cursor: pointer;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;

  p {
    font-weight: bolder;
    color: white;
  }
}


//////////////////
// SELECT DATES //
//////////////////

.campaign-controls__dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @include from-medium {
    flex-direction: row;
  }
}

.campaign-dates-container {
  margin: 3rem 2rem;
}

.campaign-select-date-title {
  margin-bottom: 5rem;

  h1 {
    font-weight: bolder;
    margin-bottom: 2rem;

    @include from-medium {
      margin-bottom: 0;
    }
  }

  h5 {
    font-size: 2rem;
    font-style: italic;

    @include from-medium {
      font-size: 3.2rem;
    }
  }

  & > div {
    margin-bottom: 2rem;
  }

  & > div:first-child {
    flex-direction: column;
    align-items: flex-start;

    @include from-medium {
      flex-direction: row;
      align-items: center;
    }
  }
}

.select-date-card-info {
  display: flex;
  flex-direction: column;
  max-width: 80vw;

  & > p {
    margin-bottom: 1rem;
  }
}

.campaign-select-date-tag-pill__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}

.campaign-select-date-tag-pill {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  width: fit-content;
  background: #5B92C5;
  color: white;
  padding: 0.2rem 1rem;
  border-radius: .5rem;
  font-size: 1.4rem;
  margin: 0 1rem 1rem 0;
}

.campaign-select-date-card {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;

  @include from-medium {
    flex-direction: row;
    height: 4rem;
    padding-bottom: 0;
  }

  .campaign-select-date-card__username {
    height: 4rem;
    width: 35rem;
    padding: .5rem 1rem;
    margin: 0 2rem;
    display: flex;
    align-items: center;
    background-color: rgba(91, 146, 197, 0.31);
    border-radius: .5rem;
  }

  form > div {
    flex-direction: column;

    @include from-medium {
      flex-direction: row;
    }
  }

  div {
    margin-top: 1rem;

    @include from-medium {
      margin: 0;
    }
  }

  input {
    height: 4rem;
    border-radius: 20px;
    border: 1px solid #3177B7;
    color: #3177B7;
    background-color: white !important;
  }

  input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #3177B7 !important;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #3177B7;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #3177B7;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #3177B7;
  }

  p {
    margin: 1rem 1rem 0 1rem;

    @include from-medium {
      margin: 0 1rem;
    }
  }
}

.campaign-select-date-card__alert {
  margin-left: 2rem !important;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p, i {
    color: #FF4040;
  }
}


//////////
// SHOW //
//////////

.title-return {
  display: flex;
}

@include from-medium{
  .main-page-title__tags.show {
  padding-left: 6rem;
  }
}

.show-campaign-title {
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 1rem;
  }
}

@include from-medium {
  flex-direction: row;
}

.searchbar {
  display: flex;
  justify-content: center;
}

.campaign-interview-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include from-medium {
    flex-direction: row;
  }
}

.campaign-interview-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 25rem;
  height: 35vh;
  width: 20vw;
  padding: 4rem 2rem;
  margin: 0 3rem;
  margin-top: 0;
  border-radius: 0.5rem;;
  background-color: #DEE9F3;

  @include from-medium {
    width: 35rem;
  }

  p, a, i {
    color: #3177B7;
  }

  i {
    font-size: 8rem;
  }

  .campaign-interview-card__username {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
  }

  .campaign-interview-card__status {
    font-weight: regular;
    text-align: center;
  }

  .campaign-interview-card__comment {
    text-align: center;
    font-weight: bold;
  }

  .campaign-interview-card__fill {
    width: 15rem;
    height: 4rem;
    border: 2px solid transparent;
  }

  .campaign-interview-card__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: white;
    border: 2px solid #3177B7;

    p {
      font-weight: bold;
    }

    &:hover {
      color: white;
      background-color: #3177B7;

      p {
        color: white;
      }
    }
  }
}


//////////
// EDIT //
//////////

.update_interviews {

  button {
    margin-left: 0;

    p {
      margin-top: -0.4rem;
    }
  }

  @include from-medium {
    button {
    margin-left: 2rem;

      p {
        margin-top: 0;
      }
  }
}
}


.edit-card-info {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  justify-content: flex-start;

  p {
    margin-bottom: 1rem;
  }
}

.tag-pill {
  display: flex;
  overflow: scroll;
}


////////////
// REPORT //
////////////

.campaigns-report-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  @include from-medium {
    flex-direction: row;
  }
}


.report-date-control {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;

  div {
    margin: 0;
  }
}

@include from-medium {
  .report-date-control {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  }
}

.campaigns-report-managers {
  display: none;
}

  @include from-large {
    .campaigns-report-managers {
    display: block;
    width: 35rem;
    margin: 5rem 5rem 0 0;
    padding: 2rem;
    position: relative;

    h1 {
      margin-bottom: 5rem;
    }

    & > div {
      margin-top: 12rem;
    }
  }
}

.form-group.string.required.select_period_start {
  margin-right: 1rem;
}

.campaigns-report-index {
  flex-grow: 1;
  margin-top: 5rem;
  padding: 0;
  overflow-x: hidden;
  max-width: 85vw;

  h1 {
    margin-bottom: 5rem;
  }
}


@include from-medium {
  .campaigns-report-index {
  padding: 2rem;
  max-width: 100%;
  }
}

.campaigns-report-manager-card {
  display: none;
}

@include from-medium {
  .campaigns-report-manager-card {
  width: 31rem;
  height: 8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 2rem;
  position: relative;

  img {
    margin: 0 2rem;
  }

  p {
    font-weight: bold;
  }

  p:first-of-type {
    margin-bottom: .5rem;
  }

  p:last-of-type {
    color: rgba(128, 128, 128, 1);
  }

  &.active {
    background-color: #3177B7;

    p {
      color: white;
    }
  }
  }
}

.campaigns-report-list__controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #C4C4C4;

  @include from-medium {
    .campaigns-report-list__controls {
      flex-direction: row;
    }
  }

  form {
    width: 100%;
    display: inherit;
    justify-content: space-between;
    align-items: flex-end;

    input {
      height: 5rem;
      width: 12rem;
      text-align: center;
      background-color: white !important;
      border-radius: 4px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }

    div {
      margin: 0 2rem 0 0;
    }

    button {
      height: 5rem;
      width: 5rem;
      display: inherit;
      justify-content: center;
      align-items: center;
      background-color: #3177B7;
      border-radius: 2.5rem;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);

      &.active {
        background-color: #3177B7;
      }
    }

    i {
      color: white;
    }

    .select_period_search_manager {
      display: none;
    }

    @include from-large {

      .select_period_search_manager {
      display: block;
      height: 5rem;
      width: 31rem;
      position: absolute;
      top: 15rem;
      left: 5rem;

      input {
        height: 5rem;
        width: 31rem;
        color: #C4C4C4 !important;
        padding: 0 6rem 0 3.5rem;
        font-style: normal;
        border-radius: 4px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        text-align: left;
      }

      .fa-search {
        position: absolute;
        top: 1.75rem;
        left: 1rem;
        z-index: 150;
        color: #C4C4C4;
      }
    }

    }
  }

  .select_period {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  @include from-medium {
    .select_period {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .flex-row-between-end {
    margin-bottom: 2rem;
  }

  @include from-medium {
    .flex-row-between-end {
      margin-bottom: 0;
    }
  }

  

  .campaigns-report-list {
    min-height: calc(100vh - 7.5rem);
  }

  .campaigns-report-list__controls-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 9rem;

    overflow-x: auto;


    .report-white-info-card {
      display: flex;

    }

    .report-grey-info-card {
      display: flex;
    }


    .campaigns-report-list__controls-info, .campaigns-report-list__controls-info-grey {
      height: 7.6rem;
      max-width: 14rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 1rem;
      margin-left: 2rem;
      box-sizing: border-box;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
      border-radius: 5px;

      p:first-of-type {
        font-size: 2.4rem;
        font-weight: bolder;
        color: #3177B7;
        margin-bottom: .5rem;
      }

      p:last-of-type {
        font-size: 1rem;
        font-weight: bolder;
      }
    }

    .campaigns-report-list__controls-info-grey {
      background-color: #EAEAEA;
    }

    .campaigns-report-list__controls-export {

      button {
        border-radius: none;
        box-shadow: none;
        background-color: white;
      }

      i {
        font-size: 3rem;
        color: #3177B7;
      }
    }
  }
}

@include from-medium {
  .campaigns-report-list__controls-infos {
    height: auto;
  }
}

.campaigns-report-campaign-card__container {
  position: relative;
  margin-bottom: 2rem;
  margin-right: 0;
}

.campaigns-report-campaign-card {
  min-width: 30rem;
  max-width: 32rem;
  height: 16rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;

  .campaigns-report-campaign-card__top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 1rem;

    .campaigns-report-campaign-card__top-progression {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5rem;
      min-width: 5rem;
      border-radius: 100%;
      margin-right: 1rem;
      background-color: rgba(49, 119, 183, 0.35);

      p {
        font-weight: bolder;
        color: #3177B7;
      }
    }

    .campaigns-report-campaign-card__top-title {


      p {
        font-weight: bolder;
        max-width: 22rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      p:first-of-type {
         margin-bottom: .5rem;
      }

      p:last-of-type {
        color: rgba(196, 196, 196, 1);
        font-size: 1.4rem;
      }
    }

    .campaigns-report-campaign-card__top-menu {
      position: relative;
      top: 0;
      right: 0;
    }
  }

  .campaigns-report-campaign-card__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .campaigns-report-campaign-card__bottom-item {
      text-align: center;
      padding: .5rem;
      background-color: #F3F3F3;

      p, i {
        margin-bottom: .5rem;
        color: #3177B7;
      }

      p:last-of-type {
        margin: 0;
        font-weight: bolder;
      }
    }
  }
}

.campaigns-report-campaign-card__show-summary-container {
  height: 90vh;
  width: 90vw;
  margin-top: 2rem;
}

@include from-medium {
  .campaigns-report-campaign-card__show-summary-container {
    height: 35rem;
    width: calc(100vw - 51rem);
    margin-top: 2rem;
  }
}

.campaigns-report-campaign-card__show-summary {
  height: 80%;
  width: 91%;
  padding: 2rem;
  border: 1px solid black;
  background-color: #F4F4F4;

  .campaigns-report-campaign-card__show-summary-arrow {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;

    border-top: 8px solid transparent;
    border-bottom: 8px solid black;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    left: 15rem;
    top: -1.6rem;
  }

  .campaigns-report-campaign-card__show-summary-arrow-prime {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;

    border-top: 7px solid transparent;
    border-bottom: 7px solid #F4F4F4;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    left: 15.1rem;
    top: -1.45rem;
  }
}

  @include from-medium {
    .campaigns-report-campaign-card__show-summary {
      height: 35rem;
      width: calc(100vw - 51rem);
    }
  }

//////////////////////////
// CAMPAIGN REPORT INFO //
//////////////////////////

.campaign-report-info-top {
  height: 5rem;
  padding: .9rem;
  margin-bottom: 2rem;
  background: #E2E2E2;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: column;

  p {
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  a {
    color: #3177B7;
    text-align: center;
  }
}

@include from-medium {
  .campaign-report-info-top {
    height: 3.4rem;
    flex-direction: row;
    align-items: center;

    p {
      margin-bottom: 0;
    }
  }
}

.campaign-report-info-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 90%;

  .campaign-report-info-employees {
    width: 100%;
    margin-bottom: 1rem;

    & > p {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      font-weight: bolder;
    }

    .campaign-report-info-employees__table {
      max-height: 22.5rem;
      background-color: white;
      padding: 0 1rem;
      overflow-y: scroll;

      .campaign-report-info-employees__table-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 0;
        border-bottom: 1px solid #C4C4C4;

        p {
          width: 50%;
          font-weight: bolder;
        }
      }

      .campaign-report-info-employees__table-card {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 0;
        border-bottom: 1px solid #C4C4C4;

        p {
          width: 50%;
        }

        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }

  .campaign-report-info-ratings {
    width: 100%;
    margin-bottom: 1rem;

    & > p {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      font-weight: bolder;
    }

    .campaign-report-info-ratings__table {
      max-height: 22.5rem;
      background-color: white;
      padding: 0 1rem;
      overflow-y: scroll;

      .campaign-report-info-ratings__table-card {
        padding: 1rem 0;
        border-bottom: 1px solid #C4C4C4;

        &:last-of-type {
          border-bottom: none;
        }

        & > p {
          margin-bottom: 1rem;
        }

        div > p, i {
          color: #3177B7;
          font-weight: bolder;
        }

        i {
          margin-right: 1rem;
        }
      }
    }
  }

  .campaign-report-info-questions {
    width: 100%;

    & > p {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      font-weight: bolder;
    }

    .campaign-report-info-questions__table {
      max-height: 22.5rem;
      background-color: white;
      padding: 0 1rem;
      overflow-y: scroll;

      .campaign-report-info-questions__table-card {
        padding: 1rem 0;
        border-bottom: 1px solid #C4C4C4;

        &:last-of-type {
          border-bottom: none;
        }

        p {
          font-weight: bolder;
        }

        div > p, i {
          color: #3177B7;
        }

        i {
          margin-right: 1rem;
        }
      }
    }
  }
}

@include from-medium {
  .campaign-report-info-bottom {
    flex-direction: row;
  }
}


@include from-medium {
  .campaign-report-info-employees {
    width: 30%;
    margin-bottom: 0;
  }
}

@include from-medium {
  .campaign-report-info-ratings {
    width: 30%;
    margin-bottom: 0;
    padding-left: 1rem;
  }
}

@include from-medium {
  .campaign-report-info-questions {
    width: 30%;
    margin-bottom: 0;
    padding-left: 1rem;
  }
}
