// CLEANED - 2021-07-08

.content-category-pill {
  color: $bkt-orange;

  &.active {
    color: $bkt-white;
    background-color: $bkt-orange;
  }
}

.catalogue__card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  // z-index: -10;
  background-color: transparent;
  z-index: 100;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  opacity: .7;
}

// CONTAINER
.catalogue-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.save-btn {
  p {
  margin: 0 !important;
  color: white !important;

  }
}

.main-controls-create-content {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;

  @include from-medium {
    display: block;
  }

  .form-group {
    margin-bottom: 0px !important;
  }

  h2 {
    font-size: 14px !important;
  }

  i {
    margin-right: 2rem;
  }

  .btn-blue, .btn-orange {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// FILTER BAR

#main-controls {

  & > form {
    min-height: 6.4rem;
    width: 100%;
  }
}

.catalogue-controls__search-icon {
  position: absolute;
  z-index: 150;
  bottom: 12px;
  left: 12px;
  color: #C4C4C4;
}

.filtered_themes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap:wrap;
  width: 350px;

  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #F8D9C8;
    padding: .5rem;
    margin: .3rem 1rem .3rem .5rem;
    border-radius: 5px;


    p {
      margin-right: 1rem;
      color: #F26419;
    }

    i {
      color: #F26419;
      margin: 0;
      font-size: 14px;
      opacity: .5;
    }
  }
  @include from-medium {
    width: 650px;
  }
}

// WORKSHOP INDEX

.catalogue-title {
  font-size: 1.6rem;

  @include from-medium {
   font-size: 2rem;
  }
}

#catalogue-index {
  padding: 0 2rem;
  margin-bottom: 20px;
}

.catalogue-row {
  height: 45rem;
  width: auto;
  display: flex;
  flex-direction: row;
  overflow: auto;
  margin-bottom: 5rem;
  -ms-overflow-style: none;  /* IE and Edge */
  // scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  &::-webkit-scrollbar {
    display: none;
  }
}

// Catalogue v2 //


.content-dropdown {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  padding: 0 1rem;
  z-index: 100;

  a {
    padding: 1rem 0;
  }
}


// FILTER

.catalogue-filter-selected-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;

  h1, h3 {
    margin-right: 1rem;
  }

  .selected-tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #D7D7D7;
    border-radius: 4px;
    margin-right: 1rem;
    cursor: default;

    p {
      margin-right: 1rem;
    }

    i {
      cursor: pointer;
    }
  }
}
