// CONTAINER
.catalogue-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  // @include from-medium-high {
  // padding: 0rem 8rem 0rem 8rem;
  // }
}

.save-btn {
  p {
  margin: 0 !important;
  color: white !important;

  }
}

.index-controls-create-content {
  margin-bottom: 20px;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  .form-group {
    margin-bottom: 0px !important;
  }
}


// FILTER BAR

#index-controls {

  & > form {
    min-height: 6.4rem;
    width: 100%;
  }
}

.search-and-create {
  display: flex;
  flex-direction: column;
  @include from-medium {
    flex-direction: row;
  }
}

.index-controls-filter-bar {
  // min-height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 2rem;
  // flex-wrap: wrap;

  .index-controls-filter-bar-block {
    display: flex;
    border: 1px solid #C4C4C4;
    justify-content: flex-start;
    align-items: center;
    background: white;
    height: 4rem;
    width: 30rem;
    padding: 0 2rem;
    margin: 0rem 0rem 1rem 0rem;
    border-radius: 5px;

    i {
      margin-right: 1rem;
    }

    h6 {
      font-weight: 600;
    }

    .index-controls-filter-bar-block-filter {
      min-height: 6.4rem;
    }

    input {
      border: none !important;
      box-shadow: none !important;
      padding: .6rem !important;

      &:focus {
        background-color: white;
      }
    }

    @include from-medium {
      margin: 0rem 1rem 0rem 0rem;
    }
  }
}

.filtered_themes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap:wrap;
  width: 350px;

  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #F8D9C8;
    padding: .5rem;
    margin: .3rem 1rem .3rem .5rem;
    border-radius: 5px;


    p {
      margin-right: 1rem;
      color: #F26419;
    }

    i {
      color: #F26419;
      margin: 0;
      font-size: 14px;
      opacity: .5;
    }
  }
  @include from-medium {
    width: 650px;
  }
}

// WORKSHOP INDEX

#catalogue-index {
  margin: .5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.catalogue-content-card {
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @include from-medium-high {
    height: 20rem;
    flex-direction: row;
  }
}

.catalogue-content-card-left {
  height: 100%;
  background: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;

  h4 {
    font-weight: 600;
  }

  p:first-of-type {
    margin-bottom: .5rem;
  }

  p:nth-of-type(2) {
    color: #5B5959;
  }

  p {
    font-size: 1.3rem;
  }

  .type-icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .catalogue-content-card-categories {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap:wrap;

    p {
      background: #F8D9C8;
      color: #F26419;
      padding: 0 .5rem;
      margin: 0 1rem .5rem 0;
      border-radius: 5px;
      font-size: 1.3rem ;
    }

    i {
      color: #F26419;
      z-index: 30;
      &:hover {
        opacity: 70%;
      }
    }

    .hidden-form-ajax {

      .easy-autocomplete {
        width: 100% !important;
      }
    }
  }
  @include from-large {
    width: 85%;
    p {
      font-size: 1.6rem;
    }
  }
}

.content-show-mods-container {
  margin-top: 20px;
}

.catalogue-content-card-left-main {
  width: 100%;
  flex: 1;
  position: relative;
}

.catalogue-content-card-right-syn, .catalogue-content-card-right-asyn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  position: relative;

  .content-dropdown {
    position: absolute;
    right: 1rem;
    top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: white;
    padding: 0 1rem;
    z-index: 100;
    a {
      padding: 5px 20px;
    }
  }
  @include from-medium-high {
    width: 20%;
  }
}

.catalogue-content-card-right-syn {
  background: #F8D9C8;

  p, i {
    color: #F26419;
  }
  .catalogue-content-card-right-menu {
  height: 1.6rem;
  width: 1.6rem;
  position: absolute;
  padding: 15px;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #f7c0a3;
    padding: 15px;
    border-radius: 50%;
  }
}
}

.catalogue-content-card-right-asyn {
  background: #EEEEEE;
  i {
    color: black;
  }
  .catalogue-content-card-right-menu {
  height: 1.6rem;
  width: 1.6rem;
  position: absolute;
  padding: 15px;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #c1c1c1;
    padding: 15px;
    border-radius: 50%;
  }
}
}

.catalogue-content-card-right-interest {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 1.3rem !important;
  }
  i {
    margin-right: 1rem;
    &:hover {
      opacity: 70%;
    }
  }

  @include from-large {
    p {
      font-size: 1.6rem;
    }
  }
}



.theme-save-btn {
    display: flex;
    justify-content: flex-end;
    margin: 30px 20px 10px 20px;
}

.content-description {
  width: 85%;
  font-size: 1.3rem;
  @include from-medium {
    font-size: 1.6rem;
  }
}



#content-title {
      border-bottom: 1px solid transparent !important;
      border: none;
    input:focus {
      border-bottom: 1px solid#F26419 !important;
      border: none;
      background-color: transparent;
    }
    .fa-save {
      margin-right: 12px;
      color:#F26419;
    }
  }

// Catalogue v2 //
.booklet-card-syn {
  width: 360px;
  height: 360px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 20px;
  .booklet-card-top {
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    height: 30%;
    position: relative;
    background: #F8D9C8;
    .booklet-card-top-info {
      display: flex;
      flex-direction: column;
    }
    .booklet-card-type-pill {
      display: flex;
      justify-content: flex-end;
    }
    .booklet-card-type {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      width: 133px;
      height: 30px;
      background: white;
      border-radius: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      .booklet-card-type-icon {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        i {
          margin-right: 10px;
        }
      }
    }
    .booklet-top-right-icon-catalogue {
      z-index: 200;
      position: absolute;
      top: 12px;
      right: 10px;
      i {
        &:hover {
          cursor:pointer;
          opacity: 80%;
        }
        font-size: 2rem;
        border-radius: 50%;
      }
    }
  }
  .booklet-card-bottom {
    height: 70%;
    padding: 10px;
    .booklet-card-theme {
      height: 50px;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      p {
        height: 20px;
        background: #F8D9C8;
        color: #F26419;
        padding: 0 .5rem;
        margin: 0 1rem .5rem 0;
        border-radius: 5px;
        font-size: 1.3rem;
      }
      i {
        color: #F26419;
        &:hover {
          cursor:pointer;
          opacity: 80%;
        }
      }
    }
    .booklet-card-objective {
      height: 160px;
    }
    .booklet-card-like {

      color:#F26419;
      height: 32px;
      display: flex;
      justify-content: flex-end;
      i {
        margin-left: 10px;
      }
    }
  }
}

.content-dropdown {
    position: absolute;
    right: 1rem;
    top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: white;
    padding: 0 1rem;
    z-index: 100;
    a {
      padding: 5px 20px;
    }
  }
.booklet-card-asyn {
  width: 360px;
  height: 360px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 20px;
  .booklet-card-top {
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    height: 30%;
    position: relative;
    background: #C4C4C4;
    .booklet-card-top-info {
      display: flex;
      flex-direction: column;
    }
    .booklet-card-type-pill {
      display: flex;
      justify-content: flex-end;
    }
    .booklet-card-type {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      width: 133px;
      height: 30px;
      background: white;
      border-radius: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      .booklet-card-type-icon {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        i {
          margin-right: 10px;
        }
      }
    }
    .booklet-top-right-icon-catalogue {
      z-index: 200;
      position: absolute;
      top: 12px;
      right: 10px;
      i {
        &:hover {
          cursor:pointer;
          opacity: 80%;
        }
        font-size: 2rem;
        border-radius: 50%;
      }
    }
  }
  .booklet-card-bottom {
    height: 70%;
    padding: 10px;
    .booklet-card-theme {
      height: 50px;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      p {
        height: 20px;
        background: #F8D9C8;
        color: #F26419;
        padding: 0 .5rem;
        margin: 0 1rem .5rem 0;
        border-radius: 5px;
        font-size: 1.3rem;
      }
      i {
        color: #F26419;
        &:hover {
          cursor:pointer;
          opacity: 80%;
        }
      }
    }
    .booklet-card-objective {
      height: 160px;
    }
    .booklet-card-like {
      color:black;
      height: 32px;
      display: flex;
      justify-content: flex-end;
      i {
        margin-left: 10px;
      }
    }
  }
}
