.catalogue-index-list {
  margin-top: 5rem;
  overflow-y: scroll;
  padding: 3rem;

  h3 {
    font-weight: 800;
    margin-bottom: 3rem;
  }
}

.catalogue-index-card {
  padding-left: 2rem;
}

.catalogue-index-card, .catalogue-index-infos, .catalogue-index-infos a:first-of-type, .catalogue-index-infos-title {
  width: calc(100% - 3rem);
  height: 6rem;
  display: flex;
  position: relative;
  align-items: center;
}

.booking-button {
  position: absolute;
  right: -8rem;
}

.catalogue-index-infos-title {
  min-width: 100rem;
}

.catalogue-index-card {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  min-width: 100rem;

  h3,  {
    margin: 0;
  }
}

.catalogue-index-info {
  min-width: 23rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:first-of-type {
    width: 5rem;
    position: absolute;
    left: -5rem;
    top: 1.8rem;
  }

  p {
    padding-right: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.catalogue-index-info-order {
  margin-left: 1rem;

  .fas {
    position: relative;
  }
}
