.dashboard-tabs {
  min-width: 27rem;
  display: flex;
  flex-direction: row;
  justify-content: inherit;
  align-items: center;
  padding-top: 30px;
  position: absolute;
  ul {
    margin: 0;
  }

  li {
    margin-bottom: 0;
    border-radius: 8px;
  }

  li > a {
    padding: 1rem;
  }

  h3 {
    margin: 0;
  }
  @include from-medium-high {
    justify-content: space-between;
  }
}

.tab-content {

  padding-right: 10px;
}


.dashboard-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include from-medium-high {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

// DASHBOARD GRID //
// .dashboard-grid {
//   display: grid;
//   grid-template-columns: 1fr;
// @include from-medium-low {
//   grid-template-columns: 3fr 1fr;
// }
// }

.dashboard-grid {
  display: flex;
  flex-direction: column;
@include from-medium-low {
  flex-direction: row;
 }
}

.dashboard-navigation {
  flex-grow: 1;
}

// DASHBOARD
.dashboard-right-schedule {
  height: 900px;
  width: auto;
  border-left: none;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  @include from-medium-low {
    border-left: 1px solid #C4C4C4;
    padding-left: 30px;
    width: 40rem;
  }
}

.dashboard-calendar {
  display: flex;
  align-items: center;
  justify-content: normal;
  padding-top: 15px;

  i {
    font-size: .5rem;
    color: #F26419;
  }
  @include from-medium {
    justify-content: center;
  }
}

.selected_day {
  background-color: #c8c2bc !important;
  border-radius: 50%;
}

.schedule {
  display:flex;
  justify-content: center;
  align-items: center;
}

.schedule-title {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 30px;
  color: #F26419;
  margin-left: 20px;
}


.calendar-schedule-card-sync {
    width: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8D9C8;
    border-radius: 10px;
    color: #F26419;
    height: 80px;
    .calendar-card-time {
      p {
      font-size: 15px;
      }
    }
    .calendar-card-info {
      width: 80%;
      padding: 15px;
      .calendar-card-time {
        display: flex;
        justify-content: space-between;
        p {
          font-size: 13px;
        }
      }
    }
    .calendar-card-date {
      border-right: 1px solid #F26419;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
      h2 {
        font-size: 3rem !important;
      }
    }
}

.calendar-schedule-card-async {
    width: 300px;
    margin: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #EEEEEE;
    border-radius: 10px;
    height: 80px;

    .calendar-card-info {
      width: 80%;
      padding: 15px;
      .calendar-card-time {
        p {
          font-size: 13px;
        }
      }
    }
    .calendar-card-date {
      width: 20%;
      border-right: 1px solid black;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 3rem !important;
      }
    }
    //   @include from-medium {
    //   width: 350px;
    // }
}
.catalogue-content-card-right-sessions {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 1.3rem !important;
  }
  i {
    margin-right: 1rem;
  }
  @include from-large {
    p {
      font-size: 1.6rem;
    }
  }
}

.sessions-content-card-right-asyn {
  background: #EEEEEE;
  i {
    color: black;
  }
  .catalogue-content-card-right-menu {
  height: 1.6rem;
  width: 1.6rem;
  position: absolute;
  padding: 15px;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #c1c1c1;
    padding: 15px;
    border-radius: 50%;
  }
}
}

.sessions-content-card-right-syn {
  background: #F8D9C8;

  p, i {
    color: #F26419;
  }
  .catalogue-content-card-right-menu {
  height: 1.6rem;
  width: 1.6rem;
  position: absolute;
  padding: 15px;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #f7c0a3;
    padding: 15px;
    border-radius: 50%;
  }
}
}

.sessions-content-card-right-syn, .sessions-content-card-right-asyn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  position: relative;

  .content-dropdown {
    position: absolute;
    right: 1rem;
    top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: white;
    padding: 0 1rem;
    z-index: 100;
    a {
      padding: 5px 20px;
    }
  }
  @include from-medium-high {
    width: 25%;
  }
  // @include from-medium-low {
  //   width: 25%
  // }
}

.flex-row-start-baseline {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}


// Catalogue v2 //
.booklet-card {
  position: relative;
  padding: 1rem;
  max-height: 40rem;
  width: 36rem;
  margin: 20px;
}

.booking-date {
  top: -20px;
  position: absolute;
  display: flex;
  right: 0;
  background: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
}


.booklet-card-syn {
  width: 360px;
  height: 360px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  .booklet-card-top {
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    height: 30%;
    position: relative;
    background: #F8D9C8;

    .booklet-card-top-info {
      display: flex;
      flex-direction: column;
    }

    .booklet-card-type-pill {
      display: flex;
      justify-content: flex-end;
    }

    .booklet-card-type {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      width: 133px;
      height: 30px;
      background: white;
      border-radius: 16px;
      display: flex;
      justify-content: center;
      align-items: center;

      .booklet-card-type-icon {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        i {
          margin-right: 10px;
        }
      }
    }

    .booklet-top-right-icon-catalogue {
      z-index: 200;
      position: absolute;
      top: 12px;
      right: 10px;

      i {
        font-size: 2rem;
        border-radius: 50%;

        &:hover {
          cursor:pointer;
          opacity: 80%;
        }
      }
    }
  }

  .booklet-card-bottom {
    height: 70%;
    padding: 10px;

    .booklet-card-theme {
      height: 50px;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;

      p {
        height: 20px;
        background: #F8D9C8;
        color: #F26419;
        padding: 0 .5rem;
        margin: 0 1rem .5rem 0;
        border-radius: 5px;
        font-size: 1.3rem;
      }

      i {
        color: #F26419;

        &:hover {
          cursor:pointer;
          opacity: 80%;
        }
      }
    }
    .booklet-card-objective {
      height: 160px;
    }

    .booklet-card-like {
      color:#F26419;
      height: 32px;
      display: flex;
      justify-content: flex-end;

      i {
        margin-left: 10px;
      }
    }
  }
}

.content-dropdown {
    position: absolute;
    right: 1rem;
    top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: white;
    padding: 0 1rem;
    z-index: 100;

    a {
      padding: 5px 20px;
    }
  }

.booklet-card-asyn {
  width: 360px;
  height: 360px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  .booklet-card-top {
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    height: 30%;
    position: relative;
    background: #C4C4C4;

    .booklet-card-top-info {
      display: flex;
      flex-direction: column;
    }

    .booklet-card-type-pill {
      display: flex;
      justify-content: flex-end;
    }

    .booklet-card-type {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      width: 133px;
      height: 30px;
      background: white;
      border-radius: 16px;
      display: flex;
      justify-content: center;
      align-items: center;

      .booklet-card-type-icon {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;

        i {
          margin-right: 10px;
        }
      }
    }

    .booklet-top-right-icon-catalogue {
      z-index: 200;
      position: absolute;
      top: 12px;
      right: 10px;

      i {
        font-size: 2rem;
        border-radius: 50%;

        &:hover {
          cursor:pointer;
          opacity: 80%;
        }
      }
    }
  }

  .booklet-card-bottom {
    height: 70%;
    padding: 10px;

    .booklet-card-theme {
      height: 50px;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;

      p {
        height: 20px;
        background: #F8D9C8;
        color: #F26419;
        padding: 0 .5rem;
        margin: 0 1rem .5rem 0;
        border-radius: 5px;
        font-size: 1.3rem;
      }

      i {
        color: #F26419;

        &:hover {
          cursor:pointer;
          opacity: 80%;
        }
      }
    }

    .booklet-card-objective {
      height: 160px;
    }

    .booklet-card-like {
      color:black;
      height: 32px;
      display: flex;
      justify-content: flex-end;

      i {
        margin-left: 10px;
      }
    }
  }
}
