.dashboard-tabs {
  height: 100%;
  min-width: 27rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  ul {
    margin: 0;
  }

  li {
    margin-bottom: 0;
    border-radius: 8px;
  }

  li > a {
    padding: 1rem;
  }

  h3 {
    margin: 0;
  }
  @include from-medium-high {
    justify-content: space-between;
  }
}

.dashboard-tabs-secondary {
  padding-left: 3rem;
  margin-top: 0;
}

.training-index-list-dashboard-sm {
  width: 38%;
  height: 50rem;
  padding: 1rem;
  overflow-y: scroll;
  background-color: white;
  margin-bottom: 5rem;
}

.dashboard-label {
  display: inline-flex;
  border-radius: 8px;
  margin-right: 3rem;
  margin-bottom: 20px;

  h3 {
    margin: 0;
    padding: 2rem;
    font-size: 3rem;
  }

  h3:first-of-type {
    padding: 2rem 0 2rem 2rem;
    color: white;
  }
  @include from-medium-high {
    margin-bottom: 0px;
  }
}

.dashboard-label-green {
  background-color: rgba(143, 160, 120, 0.36);

  h3:last-of-type {
    color: #8FA078;

  }
}

.dashboard-label-orange {
  background-color: rgba(231, 111, 81, 0.6);

  h3:last-of-type {
    color: #E76F51;
  }
}

.dashboard-label-blue {
  background-color: rgba(38, 70, 83, 0.58);

  h3:last-of-type {
    color: #264653;
  }
}

.training-index-list-dashboard {
  width: 48%;
  height: 50rem;
  padding: 2rem;
  overflow-y: scroll;
  background-color: white;
  margin-bottom: 5rem;
}

.training-index-list-dashboard-md {
  width: 65%;
  padding: 1rem;
  overflow-y: scroll;
  background-color: white;
  margin-bottom: 5rem;
}


.training-index-list-dashboard-large {
  width: 100%;
  padding: 2rem;
  @include from-medium-high {
    min-width: 82rem;
  }
}

.training-index-infos-group-dashboard {
  flex-grow: 1;
  padding-left: 3rem;
}

.training-index-infos-dashboard {
  width: 20rem;
  text-align: left;

  &:first-of-type {
    width: 5rem;
    min-width: 2rem;
  }

  h3 {
    margin: 0 !important;
  }
}

.training-index-infos-dashboard-lg {
  width: 40%;
  text-align: left;

  p {
    width: 100%;
  }
}

.training-index-list-dashboard-controls {
  height: 4rem;
  margin-bottom: 2rem;
}

.training-index-list-dashboard-title {
  margin-bottom: 3rem;
}

.dashboard-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include from-medium-high {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
