// CLEANED - 2021-07-08

.dashboard-tabs {
  min-width: 27rem;
  display: flex;
  flex-direction: row;
  justify-content: inherit;
  align-items: center;
  padding-top: 30px;
  position: absolute;
  ul {
    margin: 0;
  }

  li {
    margin-bottom: 0;
    border-radius: 8px;
  }

  li > a {
    padding: 1rem;
  }

  h3 {
    margin: 0;
  }
  @include from-medium-high {
    justify-content: space-between;
  }
}

.tab-content {

  padding-right: 10px;
}


// DASHBOARD GRID

.dashboard-grid {
  display: flex;
  flex-direction: column;
@include from-medium-low {
  flex-direction: row;
 }
}

.dashboard-navigation {
  flex-grow: 1;
  padding-right: 3rem;

  .row {
    margin: 35px auto 50px 20px;
  }
}

// DASHBOARD

.dashboard-right-schedule {
  min-height: calc(100vh - 50px);
  width: auto;
  border-left: none;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  @include from-medium-low {
    border-left: 1px solid #C4C4C4;
    padding-left: 30px;
    width: 35rem;
  }
}

.dashboard-calendar {
  display: flex;
  align-items: center;
  justify-content: normal;
  padding-top: 15px;

  i {
    font-size: .5rem;
    color: #F26419;
  }
  @include from-medium {
    justify-content: center;
  }
}

.selected_day {
  background-color: #c8c2bc !important;
  border-radius: 50%;
}

.schedule {
  justify-content: center;
  align-items: center;
}

.calendar-schedule-card-sync {
  width: 300px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8D9C8;
  border-radius: 10px;
  color: #F26419;
  height: 80px;

  .calendar-card-time {

    p {
    font-size: 15px;
    }
  }

  .calendar-card-info {
    width: 80%;
    padding: 15px;

    .calendar-card-title {

      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .calendar-card-time {
      display: flex;
      justify-content: space-between;

      p {
        font-size: 13px;
      }
    }
  }

  .calendar-card-date {
    border-right: 1px solid #F26419;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;

    h2 {
      font-size: 3rem !important;
    }
  }
}

.calendar-schedule-card-async {
  width: 300px;
  margin: 20px;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #EEEEEE;
  border-radius: 10px;
  height: 80px;

  .calendar-card-info {
    width: 80%;
    padding: 15px;

    .calendar-card-time {

      p {
        font-size: 13px;
      }
    }
  }
  .calendar-card-date {
    width: 20%;
    border-right: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 3rem !important;
    }
  }
}
.catalogue-content-card-right-sessions {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 1.3rem !important;
  }
  i {
    margin-right: 1rem;
  }
  @include from-large {
    p {
      font-size: 1.6rem;
    }
  }
}

.sessions-content-card-right-asyn {
  background: #EEEEEE;

  i {
    color: black;
  }

  .catalogue-content-card-right-menu {
    height: 1.6rem;
    width: 1.6rem;
    position: absolute;
    padding: 15px;
    top: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #c1c1c1;
      padding: 15px;
      border-radius: 50%;
    }
  }
}

.sessions-content-card-right-syn {
  background: #F8D9C8;

  p, i {
    color: #F26419;
  }

  .catalogue-content-card-right-menu {
    height: 1.6rem;
    width: 1.6rem;
    position: absolute;
    padding: 15px;
    top: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #f7c0a3;
      padding: 15px;
      border-radius: 50%;
    }
  }
}

// RECOMMENDATION

.dashboard-recommendation-container {
  display: flex;
  flex-wrap: wrap;

  .recommendation-card {
    margin-bottom: 2rem;
    width: 25rem;
  }
}

// SESSIONS

.session_cost {
  margin: 0 1rem;
}



/////////////////////////////
// MANON VERSION DASHBOARD //
/////////////////////////////

// TRAININGS
////////////

  // SEARCHBAR

.trainings-nav {

  .searchbar {
    margin-bottom: 25px;
    margin-top: -20px;
    align-items: end;

    .simple_form {
      display: flex;
      align-items: self-end;
    }

    .btn-search {
      margin-bottom: 1rem;
    }

    div {
      margin: 0 10px 0 0;
    }
  }
}

  // INDEX TRAININGS

.trainings-container-card {
  height: 15rem;
  width: 40rem;
  flex-shrink: 0;
  margin: 2rem 1rem;
  position: relative;
}

.past-training {
  filter: opacity(40%);
}

.next-session-date {
  position: absolute;
  top: -31px;
  left: 20px;
  background-color: rgb(234, 237, 241);
  padding: 5px 15px;
  border-radius: 5px 5px 0 0;
  border-style: dashed dashed none;
  border-color: #5B92C5;
  border-width: 2px;
  font-size: small;
}

.trainings-card {
  position: relative;
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgb(234, 237, 241);
  border: 0.8rem solid rgba(61, 100, 136, 100);
  border-radius: 15px;

  .infos-points {
    font-size: x-large;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .card-main-content {
    height: 60%;
  }

  .card-themes {
    height: 35%;
  }

  .title {
    align-items: end;
    height: 50%;
    // width: 95%;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    color: rgba(80, 80, 80, 100);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }

  i {
    font-size: xx-large;
    color: rgba(61, 100, 136, 100);
  }

  .infos-second-line {
    margin-left: 42px;
    margin-top: 5px;
    align-items: center;
  }

  .card-themes {
    display: flex;
    justify-content: flex-end;
  }

  .tag-themes {
    background-color: #E9986E;
    color: white;
    padding: 2% 4%;
    margin: 2%;
    border-radius: 25px;
    font-size: larger;
    font-weight: bolder;
  }

  .small-i {
    font-size: large;
  }

  .light-blue-i {
    color: #5B92C5;
  }

  .light-orange-i {
    color: #E9986E;
  }

}