.folder-title {
  color: #5B92C5;
  padding: 0 30px;
  font-size: xxx-large;
}

.workshop-title {
  color: #F26419;
  padding: 0 30px;
  font-size: xxx-large;
}

.description {
  margin: 20px 0 50px;
}

.folder-contents {
  margin: auto;

  .child-folder {
    color: #5B92C5;
    font-weight: bolder;
    height: 50px;
  }
  
  .child-workshop {
    color: #F26419;
    font-weight: bolder;
    height: 50px;
  }

  .child-icon {
    font-size: x-large;
    margin-right: 15px;
  }

}