.training-title {
  color: #3D6488;
  padding: 0 30px;
  font-size: xxx-large;
}

.folder-title {
  color: #5B92C5;
  padding: 0 30px;
  font-size: xxx-large;
}

.workshop-title {
  color: #F26419;
  padding: 0 30px;
  font-size: xxx-large;
}

.description {
  margin: 20px 0 50px;
}

.folder-contents {
  margin: auto;

  .child-folder {
    color: #5B92C5;
    font-weight: bolder;
    height: 50px;
  }
  
  .child-workshop {
    color: #F26419;
    font-weight: bolder;
    height: 50px;
  }

  .child-icon {
    font-size: x-large;
    margin-right: 15px;
  }
}


// SUMMARY TREE

.folder-tree {

  margin-top: 30px;
  
  p {
    font-size: larger;
  }
  
  ul {
    padding: 0 20px;
  }
  
  .chevron-display-tree {
    margin-left: 30px;
    font-size: x-small;
  }

  .line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
  }

  .fa-folder {
    color: rgba(91, 146, 197, 0.67);
    font-size: 1.8rem;
  }

  .fa-file {
    color: #E9986E;
    font-size: 1.8rem;
  }
}