// Specific CSS for your home-page
.my-home-card {

  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
  background-color: white;
  // width: 1348px;
  height: 320px;
  display: flex;
  justify-content: space-evenly;
  // align-items: center;

  font-size: 24px;
  flex-direction: column;
  padding: 9px 0px 0px 26px;
  border-radius: 30px;
  box-shadow: 0px 2px 26px 0px #0000000D;
}
