///////////
// INDEX //
///////////

.interview-forms-container {

  #main-controls {
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5rem;
  }
}

.interview-form-card {
  max-width: 40rem;
  height: 15rem;
  margin: 2rem;
  padding: 1rem;
  background-color: #DEE9F3;
  border-top: 2rem solid #5B92C5;
  border-radius: .5rem;
  position: relative;
}

.interview-form-card__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  h3 {
    max-width: 37rem;
    margin: 0;
    font-size: 2rem;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .interview-form-card__options {
    z-index: 200;
    margin-right: -1rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    border-radius: 50%;
    cursor: pointer;
  }

  .content-dropdown {
    position: absolute;
    right: 1rem;
    top: 4rem;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0,0,0,.25);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: white;
    padding: 0 1rem;
    z-index: 100;
  }
}

.interview-form-card__tags {
  height: 4rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  .interview-form-card__tag-pill {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background: #5B92C5;
    color: white;
    padding: 0.2rem 1rem;
    border-radius: .5rem;
    font-size: 1.4rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
  }
}

.interview-form-card__preview {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;

  i {
    margin-right: 1rem;
  }
}

/////////////////
// SHOW / EDIT //
/////////////////


#template-show-title {
  height: 12rem;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    font-weight: 700;
  }

  span {
    font-size: 2.4rem;
    font-style: italic !important;
  }
}

#template-show-container {
  position: relative;
  display: flex;
}

#template-show-container-left {
  // display: none;
  padding: 25px;
  display: none;
  min-height: calc(100vh - 10rem);
  // position: fixed;
  // top: 50px;
  // left: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  a {
    margin: 1rem 0px;
    &:hover {
      color: #888888;
    }
  }

  @include from-medium-high {
    padding: 5rem 0 0 0;
    margin-bottom: 0px;
    display: flex;
    min-width: 20rem;
    width: 20rem;
  }

  @include from-xlarge {
    padding: 5rem 0 0 0;
    margin-bottom: 0px;
    display: flex;
    min-width: 315px;
    width: 40rem;
  }

  .template-summary-container {
    width: 100%;
    min-height: 100%;
    padding: 5rem;
    background-color: #FDFDFD;
    border: 1px solid #E7E7E5D6;
    border-radius: .5rem;

    & > div {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
    }

    h3 {
      font-size: 1.8rem;
      border-bottom: 5px solid #3177B7;
    }
  }
}

#template-show-container-right {
  min-height: calc(100vh - 10rem);
  flex-grow: 1;

  @include from-medium-high {
    // margin-left: 20rem;
    padding: 5rem 0 0 5rem;
    margin-bottom: 0px;
  }
}

.template-show-attributes {
  margin-bottom: 20px;
}

.template-center-div {
  min-height: 85vh;
  flex: 1;
}

.template-center-div__show {
  padding: 2rem;
  background-color: #FDFDFD;
  border: 1px solid #E7E7E5D6;
  border-radius: .5rem;

  h2 {
    margin-bottom: 4rem;
  }
}

.template-show-attributes-right-acquired {
  margin-top: 40px;
}

.template-show-infos-duration {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .template-show-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;

    div {
      margin: 0 1rem 0 0;
      width: 100%;
    }

    p {
      flex-grow: 0;
      margin-right: 1rem;
    }

    input {
      border: none;
      padding: 0 !important;
      width: 100%;

      &:focus {
        border: none;
        box-shadow: none;
      }
    }
  }
}


.template-show-attributes {
  margin-bottom: 20px;
}


.template-show-infos-themes {
  justify-content: flex-start;

  .category-tag {
    background: #3177B7;
    color: white;
    padding: 0.2rem 1rem;
    border-radius: .5rem;
    font-size: 1.4rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
  }

  i {
    color: #3177B7;
  }
}

.content-text__separator {
  border: 1px solid #3177B7;
}

// ADD LINE BAR //

.template-show-lines-controls {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  background:white;
  border: 1px solid #3177B7;
  width: 0;
  height: 4rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: width .25s linear;


  .template-show-lines-controls-block {
    width: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    position: relative;
    transition: width .25s linear;
    color: #3177B7;
    i {
      margin-right: 1rem;
    }

    &:hover {
      background-color: #3177B7 !important;
      border-radius: 5px !important;
      color: white;
    }

    .hidden-lines-form {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      background: white;
      padding: 2rem;
      position: absolute;
      top: 7rem;
      right: 0;
      z-index: 10;
      opacity: 1;

      .trix-content {
        // min-height: 30rem;
        font-size: 1.6rem;
      }

      form {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      i {
        margin: 0;
      }
    }
  }
}

.trix-content {
  // min-height: 30rem;
  font-size: 1.6rem;

  div {
    font-size: 1.6rem;
  }
  li {
    list-style: disc;
  }
  ol {
    li {
    list-style: decimal;

    }
  }
}

// LINE FORMS

.new_interview_question {

  input {
    width: 100%;
  }
}

.required-question-switch-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  label:first-of-type {
    font-size: 1.2rem;
    margin-right: 1rem;
  }
}

// SWITCH BUTTON

.required-question-switch input {
  position: absolute;
  opacity: 0;
}

.required-question-switch {
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 1em;
  width: 2em;
  background: #BDB9A6;
  border-radius: 1em;
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
          transition: all 300ms;

  &.switch_checked {
    background: #3177B7;
  }
}

.required-question-switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FFF;
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
          transition: all 300ms;
}

.required-question-switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.add-rating__select {

  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  label {
    margin-bottom: 0;
  }

  select {
    max-width: 6rem;
    margin-left: 1rem;
  }
}

.show-rating {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;

  i {
    color: #3177B7;
  }
}

.add-rating__toggle {

  .form-check {
    height: 3.35rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;

    input {
      width: 100%;
      margin-bottom: .5rem;
    }

    label {
      color: #808080 !important;
    }
  }
}

.template-show-lines-control-btn {
  cursor: pointer;
  height: 5rem;
  display:flex;
  align-items: center;

  .close-template-btn {
    padding: 1rem;
  }

  i {
    font-size: 2rem;
    margin-right: 1rem;
  }
}


.icon-transform {
  transition: transform .25s;
}

.form-control {

  #template-title {

    input {
      border-bottom: 1px solid transparent !important;
      border: none;
    }

    input:focus {
      border-bottom: 1px solid#3177B7 !important;
      border: none;
      background-color: transparent;
    }

    .fa-save {
      margin-right: 12px;
      color: #3177B7;
    }
  }
}

.template-type-icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1rem;
}

#mod-delete {

  &:hover {
    color: #888888;
  }
}

.anchor {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;

  .icon-container {
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  i {
    font-size: 3.2rem;
  }

  p {
    min-height: 3.2rem;
    display: flex;
    align-items: center;
  }
}

.anchor__separator {

  p {
    font-weight: bolder;
  }
}

.anchor__no-separator {

  p {
    margin-left: 1.5rem;
  }
}

.form-control {

  .is-valid {
    padding-right: 0px !important;
  }
}

.was-validated .form-control:valid, .form-control.is-valid {
  padding-right: 5px !important;
}

.button-add-catalogue {
  display: flex;
  justify-content: center;
  margin-top: 60px;

  div {
    margin: 0 1rem;
  }
}

.trix-button-group:nth-of-type(3) {
  display:none;
}


// Booklet v2 //
.template-add {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.template-add-right {
  padding-left: 5rem;
  display: none;
  flex-direction: column;
  display: none;

  @include from-medium-high {
    display: flex;
    width: 25rem;
  }

  @include from-xlarge {
    width: 40rem;
  }
}

.template-show-attributes-center {
  margin-bottom: 5rem;
}

.template-show-infos-delete {
  min-width: 10.8rem;
  margin-top: 2.9rem;
  margin-bottom: 2rem;
  height: 3.65rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    width: 2.4rem;
    margin-right: 1rem;
    color: #3177B7;
  }

  i {
    font-size: 2.4rem;
  }
}

.tag-btns {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ced4da;
  border-radius: .5rem;
  padding: 1rem 1rem 4.4rem 1rem;
  position: relative;
}

.add-theme {
  height: 2.4rem;
  width: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  &:hover {
    opacity: 80%;
  }
}

.add-template-btn {
  display: flex;
  align-items: center;
  padding: 10px;
  background: white ;
  color: #3177B7 !important;
  border-radius: 5px;
}

.add-separator, .add-open_question, .add-rating, .add-mcq {
  position: relative;
  overflow:hidden;
  padding: 2rem;
  background-color: white;
  border: 1px solid #E7E7E5D6;
  border-radius: .5rem;
  margin-bottom: 2rem;

  label {
    font-size: 1.6rem;
    color: #808080;
    font-weight: 800;
  }

  .btn-blue__white-border {
    margin-top: 1rem;
  }
}

.add-video.active, .add-text.active, .add-quiz.active {
  max-height: 100000px;
}

.line-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  .line-controls, .line-controls-new {
    // background-color: #F8F8F8;
    display: flex;
    // box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    // border: 1px solid white;
    border-radius: .5rem;

    i {
      color: #3177B7 !important;
      font-size: 1.5rem;

      &:hover {
        cursor: pointer;
        opacity: 80%;
      }
    }
  }

  .line-controls-new {
    width: auto;
  }

  a {
    padding: 0 .8rem;
  }

  .line-title {
    display: flex;
    align-items: baseline;
    p, i {
      color: #3177B7;
    }
    i {
      margin-right: 15px;
      &:hover {
        cursor: pointer;
        opacity: 80%;
      }
    }
  }

  .line-title-separator {

    p {
      font-weight: bolder;
    }
  }
}



#line_title {
  font-weight: 800;
}

.template-info {

  .form-group {
    margin-bottom: 2rem;
  }

  #line_title {
    font-weight: 800;
    font-size: 1.8rem !important;
    border-radius: .5rem;
  }

  #content_description, #folder_description {
    border-radius: .5rem;
  }

  label {
    color: #808080;
    font-weight: bolder;
  }
}

.template-add-right-mobile {
  display: inherit;
  @include from-medium-high {
    display: none;
  }
}

.template-info {
  h2 {
    font-weight: 800;
  }
}

.questions {
  padding: 10px;
  margin-bottom: 1rem;
  position: relative;

  .line-type__no-separator {

    h3 {
      margin: 0 .5rem 0 1.5rem;
    }

    i {
      font-size: 1rem;
      color: #3177B7;
    }
  }

  .line-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .line-duration {
    font-style: italic;
  }

  iframe {
    width: 100%;
    height: 30rem;
    @include from-medium-high {
      height: 50rem;
    }
  }

  .show-rating {
    margin: 1rem 2rem;
  }
}

.template-show-view-mode-anchor {
  position: absolute;
  top: -5rem;
}

.mcq-options-list {
  border: 1px solid #ced4da;
  padding: 1rem 0.75rem;
  margin-bottom: 1rem;

  ul {
    list-style: disc;
    padding-left: 2rem;
  }

  li {
    height: 1.6rem;
    cursor: pointer;
    margin: 0;
  }

  input {
    height: 1.6rem;
    padding: 0;
    border: none;
    border-bottom: 1px solid transparent !important;
    flex-grow: 1;
  }

  div {
    height: 1.6rem;
  }

  ul > div {
    margin-bottom: 1rem;
  }

  .mcq-input-div {
    flex-grow: 1;
  }
}

// LINK TAGS //

.interview-forms-categories__block {
  max-height: 6rem;
  overflow-y: hidden;
  border-bottom: 1px solid #ced4da;
}

.interview-forms-categories__block-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .flex-row-start-centered {
    height: 4rem;
  }

  p {
    font-weight: bolder;
    margin: 0;
  }
}

.interview-forms-categories__checkboxes {

  & > div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }

  input {
    margin-right: 1rem;
  }
}

/////////////////////////
// SHOW / EDIT - RIGHT //
/////////////////////////

.template-edit-mode-right__recommanded-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  p {
    margin-right: 1rem;
    color: #808080;
  }
}

.template-edit-mode-right__recommanded-checkboxes {

  .btn-orange {
    height: 2.5rem;
  }

  fieldset:first-of-type {
    margin-bottom: 0;
  }

  span {
    color: white;
    font-weight: bold;
  }

  label {
    margin: 0 0 0 1rem;
  }
}
