//////////
// SHOW //
//////////

.interview-form-body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.interview-form-body::-webkit-scrollbar {
  display: none;
}

.interview-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  height: calc(100vh - 14.5rem);
  position: relative;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.interview-container::-webkit-scrollbar {
  display: none;
}

.interview-summary {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h1 {
    margin: 5rem 0;

    em {
      font-style: italic;
    }
  }

  .interview-summary__separator {
    min-width: 60rem;
    width: 60rem;
    margin-bottom : 5rem;
    font-size: 2rem;
    font-weight: bolder;
  }

  .interview-summary__open-question {
    min-width: 60rem;
    width: 60rem;
    padding: 2rem;
    margin-bottom : 5rem;
    border: 1px solid #DCDCDC;
    border-radius: 3px;

    .flex-row-start-centered {
      margin-bottom: 2rem;

      p {
        font-style: italic;
        padding: 0;
        margin: 0 0 0 1rem;
        cursor: pointer;
      }

      i {
        font-size: 2rem;
      }
    }

    p {
      margin-bottom: 1rem;
      padding-left: 2rem;
    }
  }

  .interview-summary__rating {
    min-width: 60rem;
    width: 60rem;
    padding: 2rem;
    margin-bottom : 5rem;
    border: 1px solid #DCDCDC;
    border-radius: 3px;

    p {
      margin-bottom: 1rem;
      padding-left: 2rem;
    }

    .flex-row-start-centered {
      margin-bottom: 2rem;

      p {
        font-style: italic;
        padding: 0;
        margin: 0 0 0 1rem;
        cursor: pointer;
      }

      i {
        font-size: 2rem;
      }
    }

    & > div > p {
      margin: 1.25rem 2rem 0 0;
    }
  }

  .interview-summary__mcq {
    min-width: 60rem;
    width: 60rem;
    padding: 2rem;
    margin-bottom : 5rem;
    border: 1px solid #DCDCDC;
    border-radius: 3px;

    p {
      margin-bottom: 1rem;
      padding-left: 2rem;
    }

    .flex-row-start-centered {
      margin-bottom: 2rem;

      p {
        font-style: italic;
        padding: 0;
        margin: 0 0 0 1rem;
        cursor: pointer;
      }

      i {
        font-size: 2rem;
      }
    }

    & > div > p {
      margin: 1.25rem 2rem 0 0;
    }
  }

  .employee_answer {
    color: #939393;
  }

  .manager_answer {
    color: #0D4F8B;
  }
}

.interview-start {
  height: 100%;
  width: calc(100vw - 6rem);
  min-width: calc(100vw - 6rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .interview-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    h1 {
      margin-bottom: 3rem;
    }
  }

  .btn-blue-start {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    width: 100%;
    justify-content: center;
  }

  @include from-medium {

    justify-content: space-evenly;

    .btn-blue-start {
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
      width: 10vw;
      justify-content: center;
    }
  }
}



.interview-question {
  height: 100%;
  width: calc(100vw - 6rem);
  min-width: calc(100vw - 6rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .interview-separator {
    margin: 3rem;
    font-weight: bolder;
  }

  form {
    padding: 2rem 2rem 0 2rem;
    min-height: 10rem;
    min-width: 30rem;
    width: 50%;

    textarea {
      width: 100%;
      height: 100%;
      min-height: 10rem;
    }

    fieldset {
      margin: 5rem 0;
    }

    .rating {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      border: none;
      float: left;
    }

    .mcq {
      position: relative;
    }
  }

  .interview-question__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;

    & > .flex-row-between-centered > i {
      margin-left: 1rem;
      color: #5b92c5;
    }
  }

  .interview-question__controls {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      margin: 0 2rem;
    }
  }
}

.interview-progress-bar-container {
  width: 100vw;
  height: 5rem;
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  border: .2rem solid #3177B7;
  border-radius: .5rem;

  @include from-medium {
    max-width: 50rem;
  }

  .interview-progress-bar {
    height: 4.6rem;
    background-color: #3177B7;
    width: 0%;
  }

  .interview-progress-bar__white {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 0;
    height: 4.6rem;
    overflow: hidden;
    z-index: 20;
    position: absolute;
    left: calc(50% - 5rem);

    p {
      color: white;
      font-weight: bolder;
      min-width: 10rem;
      text-align: center;
    }
  }

  .interview-progress-bar__blue {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 10rem;
    height: 4.6rem;
    z-index: 10;
    position: absolute;
    right: calc(50% - 5rem);

    p {
      color: #3177B7;
      font-weight: bolder;
      min-width: 10rem;
      text-align: center;
    }
  }
}

.interview-progress-bar {
  height: 100%;
  width: 0;
}


////////////////////
// RATINGS SYSTEM //
////////////////////

/****** Style Star Rating Widget *****/

.rating > input { display: none; }

.rating > label:before {
  margin: .5rem;
  font-size: 3rem;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
  content: "\f818";

  &.read_only_on {
    color: #5b92c5;
  }
}

.rating > .half:before {
  content: "\f10c";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.read_only_on {
    color: #5b92c5;
  }

  .saved_answers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked, .read_only) > label:hover, /* hover current star */
.rating:not(:checked, .read_only) > label:hover ~ label { color: #5b92c5; cursor: pointer } /* hover previous stars in list */

.rating:not(.read_only) > input:checked + label:hover, /* hover current star when changing rating */
.rating:not(.read_only) > input:checked ~ label:hover,
.rating:not(.read_only) > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating:not(.read_only) > input:checked ~ label:hover ~ label { color: #5b92c5; opacity: .7 }


////////////////
// MCQ SYSTEM //
////////////////

/* MAIN */
/* =============================================== */
.rad-label {
  display: flex;
  align-items: center;

  border-radius: 100px;
  padding: 14px 16px;
  margin: 10px 0;

  cursor: pointer;
  transition: .3s;
}

.rad-label:hover,
.rad-label:focus-within {
  background: hsla(0, 0%, 80%, .14);
}

.rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 22px;
  height: 22px;
  border-radius: 100px;

  // background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
  background: #5b92c5;
  position: relative;
}

.rad-design::before {
  content: '';

  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: .3s;
}

.rad-input:checked+.rad-design::before {
  transform: scale(0);
}

.rad-text {
  color: hsl(0, 0%, 60%);
  margin-left: 14px;
  // letter-spacing: 3px;
  // text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;

  transition: .3s;
}

.rad-input:checked~.rad-text {
  color: hsl(0, 0%, 40%);
}
