// CLEANED - 2021-07-08

.organisation-main-container {
  padding: 0 2.5rem;
}

.organisation-page {
  overflow: scroll;
  display: flex;
  width: 100%;
}

.organisation-dropdown-menu {
  right: 11rem;
  width: max-content;

  li {
    margin: 0;
  }
}

#booklet-wrapper.filter-open {
  position: fixed;
}

.user-index-headers, .user-index-card, .user-index-card-selected {
  height: 8.9rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.1);

  .headers-div:first-child, .user-index-info:first-child {
    min-width: 0;

    @include from-medium {
      min-width: 18rem;
    }
  }

  p {
    font-size: 1.6rem;
  }

  img {
    display:none;
  }

  @include from-medium {

    img {
      display: inherit;
    }
  }
}

.user-index-headers {
  position: relative;
  padding: 0 3rem;
  color: #808080;
  background-color: #F3F2F2;

  i {
    cursor: pointer;
    color: #808080;

    &:hover {
      color: black;
    }
  }

  input {
    font-size: 1.4rem !important;
  }
}


.headers-div {
  min-width: 18rem;
  max-width: 18rem;
  margin-right: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  p {
    // padding: 10px;
  }

  i {
    opacity: 0.4;
    &:hover {
      opacity: 0.5;
    }
  }

  .headers-div-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3.2rem;
    position: relative;

    a {
      position: absolute;

      i {
        font-size: 1.6rem;
      }
    }

    a:first-of-type {
      top: -0.4rem;
    }

    a:last-of-type {
      top: 1.2rem;
    }
  }

  .delete-tag-category {
    position: relative;
    bottom: 12px;
    left: 8px;
    opacity: 0.7;
  }

  .move-tag-category {
    opacity: 0.7;
  }
}

.editing-tag-category {
  position: absolute;
  right: 10px;
  top: 10px;
}

.user-name {
  &:hover {
    opacity: 80%;
  }
}

.user-index-card, .user-index-card-selected {
  background-color: white;
  position: relative;

  &:hover {
    background-color: #F8F8F8;
  }
}

.user-index-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 18rem;
  max-width: 18rem;
  min-height: 3rem;
  margin-left: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;

  &:first-of-type {
    // min-width: 7rem;
  }

  form {
    height: 1.6rem;
    width: 1.6rem;
  }

  a {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  p {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  i {
    color: #53B8BB;
  }

  @include from-medium {
    p {
      font-size: 14px;
    }
  }
}

// FILTER

.filter-selected-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1, h3 {
    margin-right: 1rem;
  }

  .selected-tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #D7D7D7;
    border-radius: 4px;
    margin-right: 1rem;

    p {
      margin-right: 1rem;
    }
  }
}


#tag_tag_name {
  background-color: transparent !important;

  &:focus {
    background-color: transparent !important;
  }
  input:internal-autofill-selected {
    background-color: transparent !important;
  }
}

.organisation-filter-container {
  display: none;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  z-index: 200;

  .organisation-filter-background {
    opacity: .4;
    background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
    height: 100%;
    flex-grow: 1;
  }

  .organisation-filter-dropright {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    width: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: width .25s linear;

    .organisation-filter-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      padding: 1rem;
      color: #F26419;

      .organisation-filter-controls-title {
        display: inherit;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
        h2 {
          font-size: 20px !important;
          margin-bottom: 0;
        }
        i {
          margin-right: 1rem;
          margin-left: 1rem;
        }
      }
    }

  }
}

.organisation-filter-block, .import-infos__block {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 1rem;
  max-height: 61px;
  overflow: hidden;


  .organisation-filter-block-title, .import-infos__block-title {
    height: 4rem;
    margin-bottom: 1rem;


    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      p {
        margin-left: 2rem;
      }

      p, span {
        font-weight: 700;
      }
    }

    .organisation-filter-block-title-buttons, .import-infos__block-title-buttons {
      display: inherit;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 1.2rem;
        color: #F26419;
        opacity: 0;
        transition: opacity .25s ease-in-out;
        cursor: pointer;
      }
    }
  }

  .organisation-filter-block-checkboxes, .import-infos__block-list {
    margin-left: 27px;
    overflow: scroll;

    label {
      padding-left: 1rem;
    }
  }
}

.organisation-filter__reset-filter {
  min-width: 14rem;
}

.organisation-manage-users-container {
  display: none;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 200;

  .organisation-manage-users-background {
    opacity: .4;
    background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
    height: 1000vh;
    flex-grow: 1;
  }

  .organisation-manage-users-dropright {
    background-color: white;
    width: 0;
    height: 1000vh;
    transition: width .25s linear;

    .organisation-manage-users-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      padding: 2rem;
      color: #F26419;

      .organisation-manage-users-controls-title {
        display: inherit;
        justify-content: space-between;
        align-items: center;
        height: 4rem;

        h2 {
          font-size: 20px !important;
          margin-bottom: 0;
        }

        i {
          margin-right: 2rem;
          margin-left: 1rem;
        }
      }
    }

    .organisation-manage-users-block {
      border-bottom: 1px solid rgba(0,0,0,0.1);
      padding: 1rem;
      min-height: 61px;
      max-height: 61px;
      overflow: hidden;

      .organisation-manage-users-block-title {
        height: 4rem;
        margin-bottom: 1rem;

        & > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          p {
            margin-left: 27px;
          }
        }

        .organisation-manage-users-block-title-buttons {
          display: inherit;
          justify-content: space-between;
          align-items: center;

          p {
            font-size: 1.2rem;
            color: #F26419;
            opacity: 0;
            transition: opacity .25s ease-in-out;
            cursor: pointer;
          }
        }
      }

    .organisation-manage-users-block-checkboxes {
      margin-left: 27px;

      label {
        padding-left: 1rem;
        margin: 0;
      }
    }
  }

  .organisation-manage-users-controls-buttons {
    margin-right: 3px;
  }

  .organisation-manage-users-tags-form {

    #tag_category_name {
      border: none;
      font-weight: bold;
    }
  }

  .new-tag {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    i {
      color: #F26419;
    }

    .fa-plus {
      margin-right: 1rem;
    }

    .fa-minus {
      margin-left: 1rem;
    }

    p {
      color: #9E9B9B;
    }
  }

  .hidden-form-category-ajax {
    position: absolute;

      input {
        height: 4rem !important;
        margin-left: 2rem;
      }

      #tag_tag_name {
        margin: 0;
        border: none !important;
      }

      form {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }

  .hidden-form-tag-ajax {
    height: 2.7rem;

    form, div, input, button {
      height: 2.7rem;
      margin: 0 !important;
    }
  }
}

.tag_delete {
  margin-left: 2rem;
  opacity: 0;
  transition: opacity .25s ease-in-out;

  i {
    color: #F26419;
  }
}

.select-user {
  z-index: 90;
}

.organisation-users {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  flex-grow: 1;
  width: auto;
  border: 0.8px solid rgb(219, 219, 219);
}

.employee-tag {
  flex-direction: column;

  @include from-medium {
    flex-direction: row;
    h1 {
      margin-bottom: 0;
    }
  }
}

.new_user_tags {

  input {
    margin-right: 1rem;
  }

  .form-check {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
  }
}

.organisation-controls {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;

  .main-controls-buttons {
    div:last-child {
      margin-right: 1rem;
    }
  }
}

#organisation-controls__user-search, #organisation-controls__content-search {
  position: relative;

  input {
    // padding: 0 5rem 0 3.5rem;
    position: relative;
    margin-bottom: 0px !important;
    height: 40px;
    border-radius: 4px;
    // width: 300px;
    margin-right: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .25);
  }

  .form-group {
    margin-bottom: 0px !important;
  }

  .btn-white {
    display: none;

    @include from-medium {
      display: flex;
    }
  }

}

.main-controls-buttons {
  display: none;

  @include from-medium {
    display: flex;
  }
}

#organisation-controls__user-search-clear, #organisation-controls__content-search-clear {
  display: flex;
  align-items: center;
}

// #organisation-controls__user-search-clear {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 3.8rem;
//   z-index: 100;
//   top: 1px;
//   right: 12px;

//   p {
//     font-size: 1.2rem;
//     color: #F26419;

//     &:hover {
//       cursor: pointer;
//       opacity: 80%;
//     }
//   }
// }

.organisation-controls__search-icon {
  position: absolute;
  z-index: 150;
  top: 17px;
  left: 12px;
  color: #d6d6d6;
}


.organisation-filter-block-user {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 1rem;
  max-height: 61px;
  overflow: hidden;

  .organisation-filter-block-title-user-show {
    height: 4rem;
    margin-bottom: 1rem;

    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      p {
        margin-left: 2rem;
      }
    }

    .organisation-filter-block-title-buttons {
      display: inherit;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 1.2rem;
        color: #F26419;
        opacity: 0;
        transition: opacity .25s ease-in-out;
        cursor: pointer;
      }
    }
  }


  .organisation-filter-block-checkboxes-user {
    margin-left: 27px;

    label {
      padding-left: 1rem;
    }
  }
}

.see-all {
  cursor: pointer;

  &:hover {
    color: #F26419;
  }
}

// FLOATING SCROLL //

.fl-scrolls{overflow:auto;position:fixed}
.fl-scrolls div{overflow:hidden;pointer-events:none}
.fl-scrolls div:before{content:"\A0"}.fl-scrolls,.fl-scrolls div{font-size:1px;line-height:0;margin:0;padding:0}
.fl-scrolls-hidden div:before{content:"\A0\A0"}.fl-scrolls-viewport{position:relative}.fl-scrolls-body{overflow:auto}.fl-scrolls-viewport .fl-scrolls{position:absolute}.fl-scrolls-hoverable .fl-scrolls{opacity:0;transition:opacity .5s .3s}.fl-scrolls-hoverable:hover .fl-scrolls{opacity:1}.fl-scrolls:not([data-orientation]),.fl-scrolls[data-orientation=horizontal]{bottom:0;min-height:17px}.fl-scrolls:not([data-orientation]) div,.fl-scrolls[data-orientation=horizontal] div{height:1px}.fl-scrolls-hidden.fl-scrolls:not([data-orientation]),.fl-scrolls-hidden.fl-scrolls[data-orientation=horizontal]{bottom:9999px}.fl-scrolls-viewport .fl-scrolls:not([data-orientation]),.fl-scrolls-viewport .fl-scrolls[data-orientation=horizontal]{left:0}.fl-scrolls[data-orientation=vertical]{right:0;min-width:17px}.fl-scrolls[data-orientation=vertical] div{width:1px}.fl-scrolls-hidden.fl-scrolls[data-orientation=vertical]{right:9999px}.fl-scrolls-viewport .fl-scrolls[data-orientation=vertical]{top:0}


// MODALS

.modal-export__body {

  .organisation-controls__export-dates {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    div {
      margin: 0 1rem;
    }

    label {
      margin: 0;
    }

    input {
      width: 10rem;
      border-radius: 25px;
      color: #F26419;
      background-color: white !important;

      &:focus {
        color: #F26419;
      }

      &:focus-visible {
        text-shadow: none;
      }
    }
  }

  .organisation-controls__export_attributes {
    display: flex;
    flex-wrap: wrap;
  }
}

.import-infos__block.active {
  background-color: white !important;
}

.import_users_form {

  input {
    width: 30rem;
    max-width: 30rem;
  }
}

.import-infos__user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  border: 1px solid white;

  p {
    width: 50%;
    font-weight: 300;
  }
}

.import-infos__user-card--headers {
  border-bottom: 1px solid black;
}

.import-infos__user-card--create {
  background-color: #F8D9C8;
}

.import-infos__user-card--delete {
  background-color: #C4C4C4;
}

.import-infos__user-card--update:nth-child(even) {
  background-color: #E0E0E0;
}

.import-infos__user-card--update, .import-infos__user-card--headers {

  p {
    width: 30%;
  }
}

