// CONTROLS

.overview-controls {

  & > div {
    margin: 3rem 0;
  }

  .search_name {
    margin: 0;
  }

  .index-controls-buttons {
    div:last-child {
      margin-right: 1rem;
    }
  }
}

#overview-controls__user-search {
  position: relative;
}

.overview-controls__search-icon {
  position: absolute;
  z-index: 150;
  top: 12px;
  left: 12px;
  color: #808080;
}

.overview-controls__overview-dates {

  div {
    margin: 0 1rem;
  }

  label {
    margin: 0;

    &:first-of-type {
      margin-left: 2rem;
    }
  }

  input {
    width: 10rem;
    border-radius: 25px;
    color: #F26419;
    background-color: white !important;
    transition: all .25s ease-in-out;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;

    &:hover {
      color: white;
      background-color: #F26419 !important;
      border: 1px solid #F26419 !important;
    }

    &:focus {
      color: white;
      background-color: #F26419 !important;
      border: 1px solid #F26419 !important;
    }

    &:focus-visible {
      text-shadow: none;
    }
  }
}

.overview-results {
  width: 60rem;

  .overview_results__card {
    max-height: 8.3rem;

    p {
      white-space: nowrap;
    }
  }
}


// CARDS

.overview-trainings, .overview-users {
  margin: 14rem 5rem;
}

.overview-trainings {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  .booklet-folder-card {
    width: 35rem;
    margin: 4rem 3rem;
    position: relative;

    .tab-date__start, .tab-date__end {
      position: absolute;
      color: white;
      padding: .5rem 1rem;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      top: -3.5rem;
    }

    .tab-date__start {
      left: 1rem;
    }

    .tab-date__end {
      left: 12rem;
    }

    .tab-date--green {
      background-color: #73B044;
    }

    .tab-date--red {
      background-color: #C91717;
    }
  }

  .recommendation-card__bottom-data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;

    p {
      font-size: 2rem;
    }

    i {
      font-size: 3.2rem;
      width: 5rem;
      text-align: center;
      margin: 0 2rem 0 1rem;
    }

    &:first-of-type {

      i, p {
        color: #3D6488;
      }
    }

    &:nth-of-type(2) {

      i, p {
        color: #5B92C5;
      }
    }

    &:nth-of-type(3) {

      i, p {
        color: #E9986E;
      }
    }

    &:last-of-type {

      i, p {
        color: #3D6488;
      }
    }
  }
}

.overview_results__card {
  padding: 1rem;
  background-color: white;
  border-radius: .4rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 2rem;

  &:last-of-type {
    margin: 0;
  }

  p:first-of-type {
    font-size: 3rem;
    font-weight: 900;
    color: #F26419;
  }

  p:last-of-type {
    font-size: 1.2rem;
    color: #484747;
  }
}

// MODALS

.modal-filter__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.modal-filter__pill {
  padding: .5rem;
  margin: 0 1rem 1rem 0;
  border-radius: .4rem;
  transition: all .3s ease-in-out;
  cursor: pointer;

  input {
    display: none;
  }

  label {
    margin: 0;
    font-weight: 700;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

  }

  i {
    margin-right: 1rem;
    transition: all .3s ease-in-out;
  }
}

.modal-filter__pill-orange {
  color : #F26419;
  border: 2px solid #F26419;
}

.modal-filter__pill-blue {
  color : #3177B7;
  border: 2px solid #3177B7;
}
