// CONTROLS

.overview-controls {

  & > div {
    margin: 3rem 0;
  }

  .search_name {
    margin: 0;
  }

  .index-controls-buttons {
    div:last-child {
      margin-right: 1rem;
    }
  }
}

#overview-controls__user-search {

  input {
    padding: 0 5rem 0 3.5rem;
    position: relative;
    margin-bottom: 0px !important;
    height: 40px;
    border-radius: 4px;
    width: 300px;
    margin-right: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .25);
  }

  .form-group {
    margin-bottom: 0px !important;
  }
}

#overview-controls__user-search-clear {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  height: 3.8rem;
  z-index: 100;
  top: .1rem;
  left: 28.5rem;

  p {
    font-size: 1.2rem;
    color: #F26419;

    &:hover {
      cursor: pointer;
      opacity: 80%;
    }
  }
}

.overview-controls__search-icon {
  position: absolute;
  z-index: 150;
  top: 13px;
  left: 42px;
  color: #808080;
}

.overview-controls__overview-dates {

  div {
    margin: 0 1rem;
  }

  label {
    margin: 0;

    &:first-of-type {
      margin-left: 2rem;
    }
  }

  input {
    width: 10rem;
    border-radius: 25px;
    color: #F26419;
    background-color: white !important;

    &:focus {
      color: #F26419;
    }

    &:focus-visible {
      text-shadow: none;
    }
  }
}


// CARD

.overview_results__card {
  padding: 1rem;
  background-color: white;
  border-radius: .4rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 2rem;

  &:last-of-type {
    margin: 0;
  }

  p:first-of-type {
    font-size: 3rem;
    font-weight: 900;
    color: #F26419;
  }

  p:last-of-type {
    font-size: 1.2rem;
    color: #484747;
  }
}

.overview-col {
  display: flex;
  justify-content:center;
  align-items: center;
}

.overview-card {
  position: relative;
  padding: 0;
  max-height: 40rem;
  width: 36rem;
  margin: 0;

  h6 {
    font-size: 1.2rem
  }

  @include from-medium {
    margin: 3rem 0;
  }
}

.overview-card__top-info {
  display: flex;
  flex-direction: column;
}

.overview-card-syn {
  width: 31rem;
  height: 31rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  .overview-card-top {
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    height: 30%;
    position: relative;
    background: #F8D9C8;

    .overview-card__top-info {
      display: flex;
      flex-direction: column;
    }

    .overview-card-theme {
      height: 5rem;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;

      p {
        height: 2rem;
        background: white;
        color: #F26419;
        padding: 0 .5rem;
        margin: 0 1rem .5rem 0;
        border-radius: .4rem;
        font-size: 1.3rem;
      }

      i {
        color: #F26419;

        &:hover {
          cursor:pointer;
          opacity: 80%;
        }
      }
    }
  }

  .overview-card-bottom {
    height: 70%;
    padding: 1rem;
  }
}

.overview-card-asyn {
  width: 31rem;
  height: 31rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  .overview-card-top {
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    height: 30%;
    position: relative;
    background: #C4C4C4;

    .overview-card__top-info {
      display: flex;
      flex-direction: column;
    }

    .overview-card-theme {
      height: 5rem;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;

      p {
        height: 2rem;
        background: white;
        color: #F26419;
        padding: 0 .5rem;
        margin: 0 1rem .5rem 0;
        border-radius: .4rem;
        font-size: 1.3rem;
      }

      i {
        color: #F26419;

        &:hover {
          cursor:pointer;
          opacity: 80%;
        }
      }
    }
  }

  .overview-card-bottom {
    height: 70%;
    padding: 10px;

    .overview-card-theme {
      height: 50px;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;

      p {
        height: 20px;
        background: #F8D9C8;
        color: #F26419;
        padding: 0 .5rem;
        margin: 0 1rem .5rem 0;
        border-radius: 5px;
        font-size: 1.3rem;
      }

      i {
        color: #F26419;

        &:hover {
          cursor:pointer;
          opacity: 80%;
        }
      }
    }
  }
}

.overview-card-objective {

  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;

    &:nth-of-type(4) {

      i {
        color: black;
      }
    }
  }

  i {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    text-align: center;
    color: #F26419;
  }

  p {
    font-weight: 700;
  }
}
