// CLEANED - 2021-07-08

.tag_category {
  input {
    border: none;
    background-color: transparent;
  }
  input:focus {
    border: none;
    background-color: transparent;
  }
  .fa-save {
    margin-right: 12px;
    color:#F26419;
  }
}


.tag {
    input {
    border: none;
    background-color: transparent;
  }
  input:focus {
    border-bottom: 1px solid#F26419 !important;
    border: none;
    background-color: transparent;
  }
  .fa-save {
    margin-right: 12px;
    color:#F26419;
  }
}

.manage-users-new-tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  margin-left: 20px;
  i {
    color:#F26419;
    margin-right: 10px;
  }
}
