.Tag-show-card {
  height: 50rem;
  width: 90rem;
  margin: 2rem 0;
}

.Tag-show-card-main {
  height: 40rem;

  h2, h6 {
    color: white;
  }
}

.Tag-show-card-footer {
  height: 10rem;
  width: 100%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.Tag-show-card-footer-description, .Tag-show-card-footer-infos {
  height: 100%;
  width: 50%;
}

.Tag-show-users-index {
  width: 90rem;
  padding: 5rem;
}

.Tag-show-user-card {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 0 1rem;
  position: relative;
  box-sizing: border-box;

  a {
    height: 100%;
  }
}

.Tag-show-users-info {
  width: 45%;

  &:first-of-type {
    width: 10%;
  }
}

.tag_category {
  input {
    border-bottom: 1px solid transparent !important;
    border: none;
  }
  input:focus {
    border-bottom: 1px solid#F26419 !important;
    border: none;
    background-color: transparent;
  }
  .fa-save {
    margin-right: 12px;
    color:#F26419;
  }
}


.tag {
    input {
    border-bottom: 1px solid transparent !important;
    border: none;
    background-color: transparent;
  }
  input:focus {
    border-bottom: 1px solid#F26419 !important;
    border: none;
    background-color: transparent;
  }
  .fa-save {
    margin-right: 12px;
    color:#F26419;
  }
}

.manage-users-new-tag {
  margin-left: 20px;
  i {
    color:#F26419;
    margin-right: 10px;
  }
}
