.training-index-card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;

  .training-index-infos-dashboard {
    width: auto;
    p {
      font-size: 12px;
      margin-left: 10px;
    }
  @include from-medium-high {
    p {
      font-size: 16px;
      margin-left: 0px;
    }
  }
  }
}

.training-index-infos {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    width: 24rem;
  }
}
