.training-program-index-list {
  margin-top: 5rem;
}

.training-program-index-card {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.training-program-index-image {
  width: 6rem;
  height: 4rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.training-program-index-infos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-of-type {
      flex-grow: 1;
    }
  }
}

.training-index-infos-title {
  width: calc(100% - 4rem);
  height: 6rem;

  // .training-index-infos-dashboard {
  //   width: 24rem;
  //   display: flex;
  //   justify-content: left;
  //   align-items: center;

  //   &:first-of-type {
  //     width: 6.8rem;
  //   }

  //   a {
  //     line-height: 0;
  //   }
  // }
}

.training-index-infos-dashboard-order {
  margin-left: 1rem;
  height: 3rem;
}

.training-program-show-card {
  width: 90rem;
  margin: 2rem 0;
}

.training-program-show-card-main {

  h1 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;

    &:first-of-type {
      color: rgba(0,0,0,0.5);
    }

    &:nth-of-type(2) {
      text-indent: 2rem;
      color: black;
    }
  }

  h3 {
    margin-bottom: 1rem;
  }

  img {
    margin-bottom: 3rem;
  }
}

.training-program-workshop-index {
  width: 90rem;
  height: auto;
  margin: 5rem 0;
  text-align: center;
}

.training-program-workshop-index {
  text-align: left;
}

.training-program-index-workshop-show-card {
  height: 30rem;
  width: 25rem;
  margin: 2rem 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.training-program-index-workshop-show-card-main {
  height: 25rem;

  h2 {
    text-align: center;
  }
}

.training-program-index-workshop-show-card-empty {
  height: 30rem;
  width: 25rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);

  h1 > i {
    font-size: 5rem !important;
    color: rgba(0,0,0,0.5);
  }

  h3 {
    color: rgba(0,0,0,0.5);
  }
}

.training-program-index-workshop-show-card-footer {
  height: 5rem;
  padding: 2rem;
  border-top: 1px solid #DADCE0;
}

.training-program-index-workshop-show-card-footer-buttons {
  display: flex;
  justify-content: space-between;
}

.training-program-index-card-absolute-link {
  position: absolute;
  right: 1rem;
  top: 2rem;
}
