.training-program-show-card {
  width: 35rem;
  margin: 2rem 0;
  @include from-medium {
    width: 70rem;
  }
  @include from-medium-high {
    width: 90rem;
  }
}

.training-program-show-card-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;

    &:first-of-type {
      color: rgba(0,0,0,0.5);
    }

    &:nth-of-type(2) {
      text-indent: 2rem;
      color: black;
    }
  }

  h3 {
    margin-bottom: 1rem;
  }

  img {
    margin-bottom: 3rem;
  }
}

.training-program-content-index {
  width: 35rem;
  height: auto;
  margin-bottom: 3rem;
  text-align: center;
  @include from-medium {
    width: 70rem;
  }
  @include from-medium-high {
    width: 90rem;
  }
}

.training-program-index-content-show-card {
  height: 30rem;
  width: 25rem;
  margin: 2rem 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.training-program-index-content-show-card-main {
  height: 25rem;
  text-align: center;
  h2 {
    text-align: center;
  }
}

.training-program-index-content-show-card-empty {
  height: 30rem;
  width: 25rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);

  h1 > i {
    font-size: 5rem !important;
    color: rgba(0,0,0,0.5);
  }

  h3 {
    color: rgba(0,0,0,0.5);
  }
}

.training-program-index-content-show-card-footer {
  height: 5rem;
  padding: 2rem;
  border-top: 1px solid #DADCE0;
}

.training-program-index-content-show-card-footer-buttons {
  display: flex;
  justify-content: space-between;
}

.training-program-index-card-absolute-link {
  position: absolute;
  right: 1rem;
  top: 2rem;
}

.manage-users-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.book-time {
  margin: 20px;
  color: #F26419;
}
