.training-index-card {
  width: 100%;
  display: grid;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 2rem;
  margin-bottom: 1rem;
  position: relative;
  &:hover {
    opacity:65%;
  }
  .training-index-infos-dashboard {
    p {
      font-size: 14px;
      margin-left: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .worktitle {
      text-align: left;
      width: 250px;
    }
    @include from-medium-high {
      p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .worktitle {
        width: 280px;
      }
    }
    @include from-large {
      p {
        text-align: center;
        font-size: 16px;
        margin-left: 0px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .worktitle {
        width: 350px;
      }
    }
  }
  @include from-medium-low {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.training-index-infos {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    width: 24rem;
  }
}
