.training-program-index-list {
  margin-top: 5rem;
}

.training-program-index-card {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
}

.training-program-index-image {
  width: 6rem;
  height: 4rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.training-program-index-infos {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    width: 24rem;
  }
}

.training-program-show-card {
  height: 50rem;
  width: 90rem;
  margin: 2rem 0;
}

.training-program-show-card-main {
  height: 40rem;

  h2 {
    color: white;
  }
}

.training-program-show-card-footer {
  height: 10rem;
  width: 100%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.training-program-show-card-footer-description, .training-program-show-card-footer-infos {
  height: 100%;
  width: 50%;
  padding: 2rem;
}

.training-program-show-category-card {
  background-color: #FF8E66;
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
}

.training-program-workshop-index {
  width: 90rem;
  height: auto;
  margin: 5rem 0;
  text-align: center;
}

.training-program-index-workshop-show-card {
  height: 20rem;
  width: 25rem;
  margin: 2rem 0;
}

.training-program-index-workshop-show-card-main {
  height: 15rem;

  h2 {
    color: white;
    text-align: center;
  }
}

.training-program-index-workshop-show-card-main-empty {
  height: 15rem;

  h2 {
    text-align: center;
  }
}

.training-program-index-workshop-show-card-footer {
  height: 5rem;
  width: 100%;
  padding: 1rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);

  div > h6 {
    text-align: left;

    &:last-child {
      margin: 0;
    }
  }

}

.training-program-index-workshop-show-card-footer-buttons {
  display: flex;
  justify-content: space-between;
}
