// CLEANED - 2021-07-08

// // USERS TOP -- BACKGROUND COLOR, NAME, EMAIL, EDIT BTNS //

#container-show-user {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.user-buttons-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
}




// //COMPLETED AND UPCOMING TRAININGS//

.nav-tabs-user-profile {
  // width: 330px;
  margin: 3rem 1rem;
  justify-content: flex-start;

  li {
    margin-right: 2rem;
  }
}

.nav-tabs-user-profile > li > a.active {
  font-weight: 800;
  color: black;
}

.nav-tabs-user-profile > li > a:not(.active):hover {
  color: #F26419;
}

.nav-tabs-user-profile > li > a {
  padding-left: 0;
  padding-right: 0;
  color: #888888;
  text-decoration: none;
}


// TO DELETE ?

.trainings-row {
  min-height: 45rem;
  width: auto;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  margin-right: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  @include from-medium {
    flex-direction: row;
  }
}

.trainings-row::-webkit-scrollbar {
  display: none;
}

.trainings-row.active {
  background: rgba(255,255,255,0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.training-card-main {
  display: flex;
  padding-bottom: 2.5rem;
}

.user-trainings {
  margin-top: 2rem;
}

.trainings-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    letter-spacing: 0.15em;
    color:  #F26419;
    margin-top: 20px;
}

.user-top {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  @include from-medium-high {
    flex-direction: row;
  }
}

.user-top-info, .user-basic-info {
  margin-top: 0px;

  @include from-medium-high {
    margin-top: 5rem;
  }
}

.user-grid {
  border-bottom: 1px solid #c4c4c4;
}

.user-name {
  p {
  font-size: 3rem;
  }
}

.user-job, .user-contact-info {

  div {
    margin: 0;
  }

  input, textarea {
    font-size: 1.4rem !important;
    background-color: transparent !important;
    padding: 0;
    border: none !important;
    box-shadow: none !important;
  }

  textarea {
    padding-top: .5rem;
    height: 7rem;
    resize: none;
  }
}

.user-tags {
  margin-top: 10px;
  i {
    color: #F26419;
  }
}

.user-info-header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  /* identical to box height */

  letter-spacing: 0.15em;

  color: #808080;
}

.user-text {
  display: flex;
  align-items: flex-start;
  padding-right: 1rem;

  & > div {
    height: 30.5px;
  }

  p, a {
    font-size: 1.4rem;
  }

  a {
    color: #F26419;
  }

  p:first-of-type {
    color: #808080;
    width: 100px;
  }

  a:hover {
    opacity: 80%;
  }
}

.user-photo {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  .user-main-info {
    margin-left: 20px;
  }
  @include from-medium-high {
  flex-direction: row;
  margin-bottom: 0px;
  }
}

.user-tag-name {
  height: 20px;
  background: #F8D9C8;
  color: #F26419;
  padding: 0 .5rem;
  margin: 0 1rem .5rem 0;
  border-radius: 5px;
  p {

  font-size: 1.3rem;
  }
}

.user-tags {
  display: flex;
  flex-wrap: wrap;
  i {
    margin-right: 10px;
  }
}

.auto-complete-js-list > li {
  padding: 1rem;
}

.auto-complete-js-list > li:hover {
  background-color: $bkt-light-grey;
}
