// USERS TOP -- BACKGROUND COLOR, NAME, EMAIL, EDIT BTNS //

#container-show-user {
    margin: 0;
    width: auto;
    background-color: #f7f7f7;
    min-height: calc(100vh - 110px);
    overflow: hidden;
    transition: all 0.25s ease-in-out;
    padding-top: 2px;
}

.user-top-background {
width: 100%;
height: 186px;
position: relative;
background: #F8D9C8;
}

.user-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
  @include from-medium {
    flex-direction: row;
    margin-left: 50px;
  }
}

.user-contant {
  margin-left: 0px;
  margin-top: 15px;
  @include from-medium {
    margin-top: 65px;
    margin-left: 25px;
  }
}


.user-name {
  p {
    font-size: 3rem;
   }
}

.user-buttons-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
}

#show-buttons {
  display: flex;
  justify-content: flex-end;
}

.user-top-info {
    p {
      color: #888888;
    }
}

// USER SECONDARY INFO //

.user-secondary-container {
  background-color: #f7f7f7;
  padding: 3rem 3rem;
  margin-top: 100px;
  margin-bottom: 200px;
  i {
    margin-right: 20px;
    color: #888888;
  }
  @include from-medium {
    padding: 3rem 8rem;
    margin-top: 0px;
  }
}

.user-birth {
  display: flex;
  align-items: center;
  p {
    margin-left: 5px;
  }
}

.user-job, .user-birth, .user-hire, .user-job, .user-access {
  margin: 10px 0px;
  height: 33.5px;
}

.user-hire, .user-job {
  margin-left: 40px;
}

.user-tags {
  margin: 20px 0px;
}

.user-work-info {
  margin: 20px 0px;
}

.user-dashboard-tabs {
  margin-top: 50px;
}

.user-information {
  margin-top: 30px;
}

.user-tags {
  display: flex;
  align-items: center;
  color: #888888;
}

.user-tag-name {
  margin-right: 10px;
  padding: 5px 10px;
  color: #F26419;
  background-color: #F8D9C8;
  border-radius: 5px;
}

.user-overview-grid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    @include from-medium-high {
      grid-template-columns: 1fr 1fr;
    }
}


.hidden-form-user {
  display: flex;
  // justify-content: space-between;
  align-items: center;

  div {
    margin: 0;
  }
}


// INTERESTED IN //

.interested-in {
  margin-top: 35px;
  border-left: none;
  padding: 0rem;
  margin-bottom: 100px;
    i {
    color: #F26419;
  }
  @include from-medium-high {
    border-left: 1px solid grey;
    padding: 0rem 3rem;
    margin-bottom: 0px;
  }
}

.card-interest {
  display: flex;
  width: 100%;
  margin-top: 20px;
  i {
    margin-right: 0px;
  }
}

.catalogue-content-card-right-syn-user, .catalogue-content-card-right-asyn-user {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.catalogue-content-card-right-syn-user {
  background: #F8D9C8;

  p, i {
    color: #F26419;
  }
}

.catalogue-content-card-right-asyn-user {
  background: #EEEEEE;
  i {
    color: black;
  }
}

.user-card {
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.catalogue-content-card-left-user {
  height: 100%;
  background: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;

  h4 {
    font-weight: 600;
  }

  p:first-of-type {
    margin-bottom: .5rem;
  }

  p:nth-of-type(2) {
    color: #5B5959;
  }

  p {
    font-size: 1.3rem;
  }

  .type-icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .catalogue-content-card-categories {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap:wrap;

    p {
      background: #F8D9C8;
      color: #F26419;
      padding: 0 .5rem;
      margin: 0 1rem 0.5rem 0;
      border-radius: 5px;
      font-size: 1.3rem;
    }

    i {
      color: #F26419;
    }

  }
  @include from-medium-high {
    width: 100%;
    p {
      font-size: 1.6rem !important;
    }
  }
}


// .user-picture-index {
//   height:50px;
//   width:50px;
//   background-color: rgba(0,0,0,0);
//   object-fit: cover;
// }

// .user-search-close {
//   position: absolute;
//   top: 7px;
//   right: 157px;
//   color: black;

//   &:hover {
//     color: black;
//   }
// }


// .user-show-card {
//   width: 50%;
//   box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
//   padding: 2rem;
// }

// .user-show-card-info {
//   width: 100%;
//   margin-top: 3rem;

//   p {
//     margin-bottom: 1rem;
//   }
// }

// .user-show-card-info-line-name {
//   display: flex;
//   justify-content: center;
//   p {
//     font-size: 20px;
//     margin-left: 5px;
//   }
// }
// .user-show-card-info-line-email {
//   margin-bottom: 20px;
//   border-bottom: 4px solid #F26419;
// }

// .user-show-card-info-line {
//   height: 3.5rem;
//   margin-top: 20px;

//   p {
//     text-align: right;
//     margin: 0;
//   }

//   p:last-of-type {
//     flex-grow: 1;
//   }
// }

// .user-information {
//   display: flex;
//   flex-direction: column;
//   margin-left: 20px;
//   width: 350px;
//   input {
//     padding: 0px !important;
//     height: auto !important;
//     border: none;
//     background-color: #e9ecef;
//   }
//   @include from-medium {
//     width:350px;
//   }
// }

// #container-show-user {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   @include from-medium {
//     flex-direction: column;
//     align-items: inherit;
//     justify-content:flex-start;
//   }
// }

.user-trainings {
  padding: 20px;
  h3 {
    text-decoration: underline;
    text-decoration-color: #F26419;
  }
    h2 {
    margin-top: 20px;
  }
  margin-left: 0px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}


//COMPLETED AND UPCOMING TRAININGS//

.trainings-row {
  min-height: 20rem;
  width: auto;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  margin-right: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  @include from-medium {
    flex-direction: row;
  }
}

.trainings-row::-webkit-scrollbar {
  display: none;
}

.trainings-row.active {
  background: rgba(255,255,255,0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}


.completed-trainings {
  height: 50%;
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include from-medium-high {
    justify-content: flex-start;
  }
}


.training-card-main-completed {
  opacity: 65%;
}


.user-trainings-card-syn {
  h3 {
    text-decoration: none;
  }
 background-color: white;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 border-radius: 5px;
 width: 25rem;
 height: 17rem;
 margin: 10px;
  .user-training-top {
    text-align: center;
    position: relative;
    height: 60%;
    padding: 20px;
  }
  .user-training-bottom {
    height: 40%;
    background: #F8D9C8;
    padding: 10px 20px;
  }
    i {
      color: #F26419;
    }
  .content-time {
    margin-right: 27px;
  }
}

.user-trainings-card-asyn {
  h3 {
    text-decoration: none;
  }
   background-color: white;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   border-radius: 5px;
   width: 25rem;
   height: 17rem;
   margin: 10px;
    .user-training-top {
      text-align: center;
      position: relative;
      height: 60%;
      padding: 20px;
    }

  .user-training-bottom {
    height: 40%;
    background-color: #EEEEEE;
    padding: 10px 20px;
  }
    i {
      color: black;
    }
  .content-time {
    margin-right: 27px;
  }
}

.user-training-icon {
  position: absolute;
  bottom: 10px;
  right: -4px;
}



// USER SHOW MODULE //

.user-show-modal-left {

  img {
    height: 15rem;
  }
}

.user-show-modal-username {
  margin: 2rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid #E5E5E5;
}

.user-show-modal-right {
  flex-grow: 1;
  padding-left: 1rem;

  .user-show-modal-right-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid #E5E5E5;
    p {
      color: #888888;
    }
  }
}

.user-tag-association {
  margin: 2rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid #E5E5E5;
  h3 {
    color: #888888;
  }
  .user-tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    background-color: #F8D9C8;
    color:#F26419;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 10px 5px;
  }
}

.user-tag-important-infos {
  margin-top: 10px;
}

.user-tag-info {
  color: #888888;
}

.modal-body-user-show {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}
