.container-new-form {
  margin-bottom: 0px;
  @include from-medium {
    margin-bottom: 0px;
  }
}

#new_workshop_description{
  font-size: 1.6rem !important;
}

#assessment_title {
  width: 130px;
  @include from-medium {
    width: auto;
  }
}

label {
  font-size: 1.2rem;
}

.workshop-index-image {
  width: 6rem;
  height: 4rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.workshop-index-infos {
  width: 100%;
  height: 100%;

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-of-type {
      flex-grow: 1;
    }
  }

  p {
    width: 24rem;
  }
}

.workshop-show-type {
  width: 100%;
  text-align: right;
  color: #8C8B8A;
}

.workshop-show-card {
  // height: 50rem;
  width: 35rem;
  margin: 2rem 0;
  @include from-medium-high {
    width: 90rem;
  }    @include from-medium {
    width: 70rem;
  }

}

.workshop-show-card-main {
  text-align: center;
  h1 {
    margin-bottom: 5rem;
  }

  p {
    margin-bottom: 1rem;
    color: rgba(0,0,0,0.5);
  }

  h3 {
    margin-bottom: 1rem;
  }

  img {
    margin-bottom: 3rem;
  }
}

.workshop-show-card-footer {
  width: 100%;
}


.workshop-show-category-card {
  background-color: #FF8E66;
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
}

.workshop-show-module-controls {
  width: 35rem;
  margin-bottom: 3rem;
  @include from-medium {
    width:60rem;
  }
   @include from-medium-high {
    width: 90rem;
  }
}

.workshop-show-content {
  width: 35rem;
  margin: 2rem 0;
  p {
    font-size: 13px;
  }
  @include from-medium-high {
    width: 90rem;
  }
    @include from-medium {
    width: 70rem;
    p {
      font-size: 16px;
    }
  }
}

.workshop-show-content-controls {
  margin-right: 1rem;

  a {
    font-size: 0;
  }
}

.workshop-show-content-index {
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
  margin-right: 1rem;
  p {
    font-size: 13px;
  }
  @include from-medium {
    border: 1px solid black;
    p {
    font-size: 16px;
  }
  }
}

.workshop-show-content-empty {
  width: 90rem;
  height: 10rem;
  margin: 2rem 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.workshop-show-content-header {
  height: 5rem;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 0 3rem;
  position: relative;
}

.workshop-show-view-mode-anchor {
  position: absolute;
  top: -15rem;
}

.workshop-show-content-attached {
  margin: 2rem 0 5rem 0;
  padding: 3rem;

  a {
    color: blue;
  }
}

.workshop-show-content-main {
  max-height: 50rem;
  overflow-y: scroll;
  width: 100%;
  padding: 3rem;

  ul {
    list-style-type: disc;
  }
}

.workshop-show-content-main-view-mode {
  width: 100%;
  padding: 3rem;

  ul {
    list-style-type: disc;
  }

  a {
    color: blue;
  }
}


#container-workshop-booked {
  margin-top: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 5rem;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#workshop-booked-infos-main {
    text-align: center;
}

#workshop-booked-infos-main.btn-edit {
    color: black !important;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

#workshop-booked-attendee-list {
  margin-top: 2rem;
  text-align: right;

  li {
    display: inline;
    margin: 0 0.2rem;
  }
}


// In this page only, scoped body only
body {
  overflow: hidden;
}

.interactive-form {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 100%;

  .roadmap, .controls {
    z-index: 5;
    margin-top: 20px;
  }

  .roadmap {

    left: 10%;
    display: inline-block;
  }

  .milestone {
    overflow: hidden;
    float: left;
    border-radius: 50%;
    width: 1vw;
    height: 1vw;
    margin: 0 .5vw;
    border: 1px solid #F4A261;
    opacity: .6;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s linear, filter .15s ease-in-out;
    will-change: transform, filter;
    cursor: pointer;

    &.active {
      opacity: 1;
      transform: translateY(-10px) scale(1.2);
    }

    &:hover {
      filter: drop-shadow(0 12px 10px rgba(0,0,0,.9));
    }

    span {
      font-weight: bold;
      color: black;
      font-size: 1rem;
    }
  }

  .controls {
    right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .prev, .next {
      height: 40px;
      padding: 0 10px;
      margin: .5vw;
      font-size: 14px;
      background: #F26419;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 7.5px;
      color: #fff;
      transition: background .2s ease-in-out, color .2s ease-in-out, opacity .1s linear;
      will-change: background, color, opacity;
      cursor: pointer;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;

      &.disabled {
        background: darken(#ccc, 30%);
        cursor: default;
        opacity: .7;
        color: #000;
      }

      &.submission {
        background: green;
      }
    }

    .next {
      color: #fff !important;
    }
  }

  .form-wrapper {
    display: block;
    height: 100%;
    position: relative;
    width: 80%;
    max-height: 80%;

    form {
      display: block;
      height: 100%;
    }

    .modules {
      max-height: 100%;
      overflow-y: scroll;
    }

    [class^="module_"] {
      opacity: 0;
      display: none;
      justify-content: center;
      flex-direction: column;
      overflow: auto;

      &.active {
        opacity: 1;
        display: flex;
      }
    }

    [class$="_greet"] {

    }

    [class$="_submit"] {

    }
  }
}

@media (max-width: 800px) {
  .interactive-form {
    .form-wrapper {
      width: 97.5%;
    }

    .roadmap {
      left: 2.5%;
    }

    .controls {
      right: 2.5%;

      .prev:after, .next:after {
        content: '';
      }
    }
  }
}

// Temp

.new-module {
  border-radius: 10px;
  width: 200px;
  height: 200px;
  background-color: #F8D9C8;
  color: #F26419;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid #F8D9C8;
}

.new-module:hover {
    border: 3px solid #F26419;
}

.active-btn {
    border: 3px solid #F26419;
}

.form-choices {
  display: flex;
  margin: 40px;
  justify-content: space-around;
}

.pre-existing {
  margin-top: 20px;
}

#move-on {
  height: 40px;
  padding: 0 10px;
  margin: .5vw;
  background: #F26419;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 7.5px;
  color: #fff;
  transition: background .2s ease-in-out, color .2s ease-in-out, opacity .1s linear;
  will-change: background, color, opacity;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

#submit {
  height: 40px;
  padding: 0 10px;
  margin: .5vw;
  background: #8FA078;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 7.5px;
  color: #fff;
  transition: background .2s ease-in-out, color .2s ease-in-out, opacity .1s linear;
  will-change: background, color, opacity;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}


.accordion {
  margin-bottom: 10px;
  background-color: #F8D9C8;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active-accor, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
}

.validate-btn {
  padding: 5px 12px;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  border: 2px solid #ff8244;
  background-color: #F8D9C8;
}

.validate-btn-flex {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.mod-btn {
  margin: 20px 0px;
  font-size: 15px;
  text-align: center;
  width: 150px;
  padding: 5px 12px;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  color: #ff8244;
  font-weight: 700;
  border: 2px solid #ff8244;
  background-color: #F8D9C8;
}

.hidden {
  display:none;
}

#booking {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  #book-now, #book-later {
    height: 40px;
    padding: 0 10px;
    margin: .5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 7.5px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
  }
  #book-now {
    background: #8FA078;
    border: 2px solid #8FA078;
    color: white;
  }
  #book-later {
    color: #8FA078;
    border: 2px solid #8FA078;
  }
}

.start-time {
  display: flex;
  .form-group {
    margin-right: 20px;
  }
}

.booking-containter {
  margin-top: 30px;
    h4 {
    padding: 20px 0px;
    font-style: italic;
  }
}

.mod-date {
  padding-bottom: 20px;
  label {
    font-size: 15px;
  }
  abbr {
    display: none;
  }
}

// custom checkbox //
.checkbox,
.radio {
  margin-bottom:6px;

  &.inline {
    display:inline-block;
    vertical-align:top;
    margin-right:18px;
    &:last-child { margin-right:0; }
  }

  label {
    display:block;
    position:relative;
    cursor: pointer;
  }

  input[type="checkbox"],
  input[type="radio"] {
    position:absolute;
    top:0;
    left:0;
    visibility:hidden;
  }

  // .custom-checkbox and .custom-radio must come immediately after the input element
  .custom-checkbox,
  .custom-radio {
    display:inline-block;
    vertical-align:top;
    margin:0 6px 0 0;
    width:18px;
    height:18px;
    background:#fff;
    border:1px solid #ddd;
    position:relative;
  }
}

.checkbox {
  .custom-checkbox {
    border-radius:2px;
    background:#F26419;
    transition:box-shadow 180ms ease;
    box-shadow:inset 0 0 0 12px #fff;
    top:-2px;
  }

  .icon-check {
    width:12px;
    height:12px;
    background-size:cover;
    position:absolute;
    top:2px;
    left:2px;
    transform:scale(0);
    transition:all 180ms ease;
  }

  input[type="checkbox"]:checked + .custom-checkbox {
    border-color:#F26419;
    box-shadow:none;
    .icon-check { transform:scale(1); }
  }
}




// SVG check icon
.icon-check {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20baseProfile%3D%22tiny%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M13.483%201.992l-7.186%207.066-3.778-3.715-2.518%202.475%205.037%204.954%201.259%201.237%209.704-9.541-2.518-2.476z%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
}

// Disable text selection (useful thing to have in your mixins!)
.no-select {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
