.workshop-index-list {
  margin-top: 5rem;
}

.workshop-index-list-category-title {
  margin-bottom: 1rem;
}

.workshop-index-card {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.workshop-index-image {
  width: 6rem;
  height: 4rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.workshop-index-infos {
  width: 100%;

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  p {
    width: 24rem;
  }
}

.workshop-show-card {
  height: 50rem;
  width: 90rem;
  margin: 2rem 0;
}

.workshop-show-card-main {
  height: 40rem;

  h2, h6 {
    color: white;
  }
}

.workshop-show-card-footer {
  height: 10rem;
  width: 100%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.workshop-show-card-footer-description, .workshop-show-card-footer-infos {
  height: 100%;
  width: 50%;
}

.workshop-show-category-card {
  background-color: #FF8E66;
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
}

.workshop-show-content {
  width: 90rem;
  margin: 2rem 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.workshop-show-content-empty {
  width: 90rem;
  height: 10rem;
  margin: 2rem 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.workshop-show-content-header {
  height: 5rem;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 0 3rem;
  position: relative;
}

.workshop-show-view-mode-anchor {
  position: absolute;
  top: -15rem;
}

.workshop-show-content-main {
  max-height: 50rem;
  overflow-y: scroll;
  width: 100%;
  padding: 3rem;

  ul {
    list-style-type: disc;
  }
}

.workshop-show-content-main-view-mode {
  width: 100%;
  padding: 3rem;

  ul {
    list-style-type: disc;
  }
}
