.workshop-index-card {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
}

.workshop-index-image {
  width: 6rem;
  height: 4rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.workshop-index-infos {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    width: 24rem;
  }
}

.workshop-show-card {
  height: 50rem;
  width: 90rem;
  margin: 2rem 0;
}

.workshop-show-card-main {
  height: 40rem;

  h2 {
    color: white;
  }
}

.workshop-show-card-footer {
  height: 10rem;
  width: 100%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.workshop-show-card-footer-description, .workshop-show-card-footer-infos {
  height: 100%;
  width: 50%;
}

.workshop-show-content {
  width: 90rem;
  padding: 5rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.workshop-show-content-empty {
  width: 90rem;
  height: 10rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
