<div id="stimulus-interviews--interviews-show-controller"
     data-controller="interviews--interviews-show">

  <div id="interview-container"
       class="interview-container"
       >

    <%= render 'interviews/show/show_display', interview: @interview, employee: @employee,
                                               manager: @manager, template: @template,
                                               questions: @questions %>

  </div>

  <!------------>
  <!-- MODALS -->
  <!------------>

  <div id='interviewConfirmSubmit'
       class='modal info-modal fade'
       tabindex='-1'
       role='dialog'
       data-backdrop="static"
       data-keyboard="false">

    <div class='modal-dialog info-modal__dialog'
         role='document'>
      <%= render 'interviews/modals/confirm_submit' %>
    </div>

  </div>

  <div id='confirmGoBack'
       class='modal info-modal fade'
       tabindex='-1'
       role='dialog'
       data-backdrop="static"
       data-keyboard="false">

    <div class='modal-dialog info-modal__dialog'
         role='document'>
      <%= render 'interviews/modals/confirm_later' %>
    </div>

  </div>

</div>
