<div
  class="bkt-btn-back d-flex justify-content-start align-items-center pos-abs cursor-pointer"
  style='top: 3.6rem; left: 2rem;'
  data-controller='back'
  data-action='click->back#back'
  data-fallback='<%= @fallback %>'
>
  <span class="iconify" data-icon="bi:arrow-left"></span>
  <p>Back</p>
</div>
