<div
  data-controller="dropdown replace-text"
  class="pos-rel cursor-pointer"
  style='width:  <%= @width %>;'
>
  <div
    data-action="click->dropdown#toggle dropdown:click:outside->dropdown#hide"
    class="flex-row-between-centered p-0_75rem bkt-bg-light-blue rounded-5px"
  >
    <div
      data-dropdown-target="title"
      data-replace-text-target="replaceable"
      class="fs-1_4rem font-weight-500 bkt-blue"
    ><%= @title %></div>
    <div class="flex-row-center-centered ml-1rem">
      <i class="fas fa-angle-down bkt-blue"></i>
    </div>
  </div>

  <div
    data-dropdown-target="menu"
    class="bkt-bg-white rounded-5px bkt-box-shadow-compact z-index-150 pos-abs hidden"
    style="top: 3rem; right: 0; width: <%= @width %>;"
  >
    <%= content %>
  </div>
</div>
