<div class="box-shadow d-flex rounded-5px align-items-center p-2rem"
  style='width: 200px;'
>
  <i class="<%= @icon_klasses %> bkt-orange fs-4rem"></i>
  <div class="pr-2rem"></div>
  <div>
    <div class="bkt-orange fs-2_4rem"><%= @number %></div>
    <div class="pb-1"></div>
    <div class="fs-1_4rem bkt-dark-grey"><%= @metric %></div>
  </div>
</div>
