<div class="dropdown">

  <div id="dropdownMenu"
       class="d-flex justify-content-center align-items-center height-4rem width-4rem rounded-20px
              bkt-light-grey5 bkt-dark-grey-hover bkt-bg-light-grey5-hover smooth-transition cursor-pointer"
       data-toggle="dropdown">

    <span class="iconify"
          data-icon="<%= @vertical ? 'ion:ellipsis-vertical' : 'ion:ellipsis-horizontal-sharp' %>"
          data-width="25"
          data-height="25"></span>

  </div>

  <div class="dropdown-menu dropdown-menu-right organisation__dropdown-menu bkt-bg-white rounded-5px
              bkt-box-shadow-medium width-max-content overflow-hidden"
       aria-labelledby="dropdownMenu">

    <%= content %>

  </div>

</div>
