<p style='color:#808080;'><b>Workshop acquired ?</b></p>
<% if ['Super Admin', 'Account Owner', 'HR'].include?(current_user.access_level) %>
  <% @attendees.each do |attendee| %>
    <h3 class="mt-3 ml-2"><%= attendee.user.fullname %></h3>
    <%= render 'workshops/partials/workshop_acquired_radiobutton.html', attendee: attendee %>
  <% end %>
<% else %>
  <%= render 'workshops/partials/workshop_acquired_radiobutton.html', attendee: @current_attendee %>
<% end %>