<p style='color:#808080;'><b>Workshop acquired ?</b></p>
<% if TrainingPolicy.new(current_user, nil).create? %>
  <% @attendees.each do |attendee| %>
    <h3 class="mt-3 ml-2"><%= attendee.user.fullname %></h3>
    <%= render 'workshops/partials/workshop_acquired_radiobutton.html', attendee: attendee %>
  <% end %>
<% else %>
  <%= render 'workshops/partials/workshop_acquired_radiobutton.html', attendee: @current_attendee %>
<% end %>
