<% cards.each do |content| %>
  <% if content.class.name == 'Folder' %>
    <div class="catalogue-card-container" id="folder-<%= content.id %>">
      <%= render 'pages/catalogue/catalogue_folder_card', folder: content %>
    </div>
  <% else %>
    <div class="catalogue-card-container" id="content-<%= content.id %>">
      <%= render 'pages/catalogue/catalogue_content_card', content: content %>
    </div>
  <% end %>
<% end %>
