<% def display_tree(folder) %>
  <% folder.each do |element| %>
    <% if element[:type] == 'Content' %>
      <ul>
        <div class="rest">
          <div class="line">
            <i class="far fa-file pr-2"></i>
            <p><%= element[:name] %></p>
          </div>
        </div>
      </ul>
    <% elsif element[:type] == 'Folder' %>
      <ul>
        <div class="line">
          <i class="far fa-folder pr-2"></i>
          <p><%= element[:name] %></p>
          <i class="fas fa-chevron-down chevron-display-tree"></i>
        </div>
        <div class="rest">
          <% display_tree(element[:children]) %>
        </div>
      </ul>
    <% end %>
  <% end %>
<% end %>
<% display_tree([folder.folder_to_hash]) %>
