<h2 class="my-5">Branding</h2>

<h2 class="my-5">Fonts</h2>

<h2 class="my-5">Tags</h2>

<h2 class="my-5">Buttons</h2>
<div class="m-1">
  <button class='btn btn-primary'>btn btn-primary</button>
</div>
<div class="m-1">
  <button class='btn btn-secondary'>btn btn-secondary</button>
</div>
<div class="m-1">
  <button class='bkt-btn-primary'>
    bkt-btn-primary (button)
  </button>
</div>

<div class="m-1">
  <div class='bkt-btn-primary'>
    bkt-btn-primary (div)
  </div>
</div>

<div class="m-1">
  <button class='bkt-btn-primary' style='width: 125px;'>
    bkt-btn-primary qesfdg
  </button>
</div>
<!-- <div class="m-1">
  <button class='btn btn-secondary'>TODO secondary button here</button>
 </div>-->

<h2 class="my-5">Flashes</h2>

<h2 class="my-5">Icons</h2>

<h2 class="my-5">Form</h2>

<h2 class="my-5">Backgrounds</h2>

