<script src="https://code.iconify.design/2/2.1.1/iconify.min.js"></script>
<div class="guidelines-container">

  <h2 class="my-5">Branding</h2>

  <h2 class="my-5">Fonts</h2>

   <h3 class="my-5">H1</h3>
    <div class="m-1">
      <div class="bkt-h1 bold-700">Title Example</div>
      <div class="bkt-h1 bold-600">Title Example</div>
      <div class="bkt-h1 bold-500">Title Example</div>
    </div>

  <h3 class="my-5">H2</h3>
    <div class="m-1">
      <div class="bkt-h2 bold-700">Title Example</div>
      <div class="bkt-h2 bold-600">Title Example</div>
      <div class="bkt-h2 bold-500">Title Example</div>
    </div>

  <h3 class="my-5">H3</h3>
    <div class="m-1">
      <div class="bkt-h3 bold-700">Title Example</div>
      <div class="bkt-h3 bold-600">Title Example</div>
      <div class="bkt-h3 bold-500">Title Example</div>
    </div>

    <h3 class="my-5">Classic Text</h3>
      <div class="my-3">
        <div class="bkt-text-bold">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum aspernatur sequi qui fuga soluta facere dolores nihil asperiores recusandae, dolor vero unde, quasi possimus. Porro eum sed laboriosam quidem odit!</div>
      </div>
      <div class="my-3">
        <div class="bkt-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum aspernatur sequi qui fuga soluta facere dolores nihil asperiores recusandae, dolor vero unde, quasi possimus. Porro eum sed laboriosam quidem odit!</div>
      </div>

    <h3 class="my-5">Description</h3>
      <div class="my-3">
        <div class="bkt-description-bold">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum aspernatur sequi qui fuga soluta facere dolores nihil asperiores recusandae, dolor vero unde, quasi possimus. Porro eum sed laboriosam quidem odit!</div>
      </div>
      <div class="my-3">
        <div class="bkt-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum aspernatur sequi qui fuga soluta facere dolores nihil asperiores recusandae, dolor vero unde, quasi possimus. Porro eum sed laboriosam quidem odit!</div>
      </div>

  <h2 class="my-5">Tags</h2>

      <div class="m-1">
      <div class='bkt-btn-green-status'>
        Completed
      </div>
    </div>

    <div class="m-1">
      <div class='bkt-btn-orange-status'>
        In progress
      </div>
    </div>

    <div class="m-1">
      <div class='bkt-btn-red-status'>
        Not started
      </div>
    </div>

  <h2 class="my-5">Buttons Primary</h2>

  <h3 class="my-5">Blue</h3>

    <div class="m-1">
      <button class='bkt-btn-blue-add'>
      <span class="iconify" data-icon="ant-design:plus-circle-outlined" style="color: white;" data-width="14" data-height="14"></span>
      Add element</button>
    </div>

    <div class="m-1">
      <button class='bkt-btn-blue-disabled' disabled>
      <span class="iconify" data-icon="ant-design:plus-circle-outlined" style="color: white;" data-width="14" data-height="14"></span>
        Disabled
      </button>
    </div>

    <div class="m-1">
      <button class='bkt-btn-blue-focus'>
      <span class="iconify" data-icon="ant-design:plus-circle-outlined" style="color: #3177B7;" data-width="14" data-height="14"></span>
        Focus
      </button>
    </div>

    <div class="m-1">
      <button class='bkt-btn-blue-no-icon'>
        No icon
      </button>
    </div>

    <h3 class="my-5">White</h3>

    <div class="m-1">
      <button class='bkt-btn-white-add'>
      <span class="iconify" data-icon="ant-design:plus-circle-outlined" style="color: #3177B7;" data-width="14" data-height="14"></span>
      Add element</button>
    </div>

    <div class="m-1">
      <button class='bkt-btn-white-disabled' disabled>
      <span class="iconify" data-icon="ant-design:plus-circle-outlined" style="color: #333333;" data-width="14" data-height="14"></span>
        Disabled
      </button>
    </div>

    <div class="m-1">
      <button class='bkt-btn-white-focus'>
      <span class="iconify" data-icon="ant-design:plus-circle-outlined" style="color: #3177B7;" data-width="14" data-height="14"></span>
        Focus
      </button>
    </div>

    <div class="m-1">
      <button class='bkt-btn-white-no-icon'>
        No icon
      </button>
    </div>

  <h2 class="my-5">Buttons Secondary</h2>

  <h2 class="my-5">Buttons Tertiary</h2>



  <h2 class="my-5">Modals</h2>

  <h3 class="my-3">Action Modal</h3>

      <div class="modal-dialog" role="document">
        <div class="modal-content action-modal-content" >
          <div class="modal-header action-modal-header">
            <h5 class="modal-title action-modal-title">Modal Title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="close-action-modal">&times;</span>
            </button>
          </div>
          <div class="modal-body action-modal-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt omnis magnam exercitationem ea dolorem ullam voluptas aliquid itaque inventore, tempora, nulla nostrum corrupti ab iusto. Minima rerum repellat fugit eaque?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt omnis magnam exercitationem ea dolorem ullam voluptas aliquid itaque inventore, tempora, nulla nostrum corrupti ab iusto. Minima rerum repellat fugit eaque?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt omnis magnam exercitationem ea dolorem ullam voluptas aliquid itaque inventore, tempora, nulla nostrum corrupti ab iusto. Minima rerum repellat fugit eaque?</p>
          </div>
          <div class="modal-footer action-modal-footer">
            <button type="button" class="bkt-btn-blue-no-icon">No Icon</button>
          </div>
        </div>
      </div>

    <h3 class="my-3">Info Modal</h3>


      <div class="modal-dialog" role="document">
        <div class="modal-content info-modal-content" >
          <div class="modal-body info-modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="close-info-modal">&times;</span>
            </button>
            <span class="iconify" data-icon="el:ok-sign" style="color: #3177b7;" data-width="80" data-height="80"></span>
            <p>Action have been done successfuly !</p>
          </div>
        </div>
      </div>




  <h2 class="my-5">Flashes</h2>

  <h2 class="my-5">Icons</h2>

  <h2 class="my-5">Backgrounds</h2>
</div>
