<% if UserPolicy.new(current_user, nil).create? %>
  <%#= f.input :access_level_int,
    label: 'Access Level:',
    collection: User::ACCESS_LEVEL_LABELS.slice(:employee, :manager, :hr).invert,
    include_blank: false,
    selected: user.access_level_int
  %>

  <div class="mb-3">
    <p class="bkt-light-grey mb-1 fs-1_4rem">Access Level:</p>
    <div class="flex-row-between-centered">
      <p><%= @user&.access_level_int.present? ? @user.access_level_int.capitalize : '' %></p>

      <%= link_to edit_user_permissions_path(@user), class: 'flex-row-center-centered height-3rem width-3rem rounded-5px bkt-bg-dark-grey' do %>
        <span class="iconify fs-1_6rem bkt-white" data-icon="bi:key-fill"></span>
      <% end %>
    </div>
  </div>
<% end %>
