<div id="container-login">
  <div id="login-div">
    <div class="login-title flex-row-around-centered">
      <h2>Booklet by</h2>
      <img src="https://byseven.co/assets/img/LOGO_SEVEN.png" alt="" height='50px'>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions centered-item">
        <%= f.button :submit, "Send reset instructions", class: 'btn-edit btn-sign-in' %>
      </div>
    <% end %>
  </div>
</div>
