<% employees.each do |employee| %>

  <div id="employee-card-<%= employee.id %>"
       class="employee-card d-flex justify-content-start align-items-center
              border-bottom-bkt-light-grey bkt-bg-light-grey10-hover py-2rem pos-rel cursor-pointer">

    <%= render 'campaigns/show/show_employee_card', campaign: campaign, employee: employee %>

  </div>

<% end %>

<div class="paginate-container paginate-container-blue">

  <% if params.dig(:search, :page).present? && params.dig(:search, :page).to_i > 1 %>

    <div class="paginate__previous-button paginate__button-blue"
         data-action='click->change-page#previous'>
      <span class="iconify" data-icon="fontisto:angle-left"></span>
      <p>Previous</p>
    </div>

  <% end %>

  <%= paginate employees, left: 3, right: 1 %>

  <% if employees.count == 25 && @any_more %>

    <div class="paginate__next-button paginate__button-blue"
         data-action='click->change-page#next'>
      <p>Next</p>
      <span class="iconify" data-icon="fontisto:angle-right"></span>
    </div>

  <% end %>

</div>
