<div class="navbar navbar-expand-sm navbar-light">
  <div class="navbar-controls-left">
    <%= link_to training_programs_path, class: 'navbar-icon' do %>
      <i class="far fa-envelope"></i>
    <% end %>
    <%= link_to training_programs_path, class: 'navbar-icon' do %>
      <i class="far fa-bell"></i>
    <% end %>
  </div>
  <div class="navbar-controls-right">
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>
  </div>
</div>
