<div class="d-none d-sm-flex navbar navbar-expand-sm navbar-light flex-row-between-centered navbar-white bkt-bg-white bkt-box-shadow-medium px-2rem pos-rel">

    <a class='flex-row-center-centered height-5rem width-5rem bkt-bg-white bkt-box-shadow-compact rounded-25px' href="/home">
      <span class="iconify fs-2_4rem bkt-dark-grey" data-icon="bxs:home"></span>
    </a>

    <%= render_component AsClAssetComponent.new(model: current_user.company, asset: :clear_bg_logo) %>

    <div>
      <ul class="flex-row-between-centered">

        <%= render_component NavbarAppMenuComponent.new(user: current_user, color: 'bkt-dark-grey') %>

        <%= render_component NavbarUserProfileComponent.new(user: current_user) %>

      </ul>
    </div>

</div>
