<% Notification.where(user_id: current_user.id).each do |notification| %>
  <% if notification.status == 'Unread' %>
    <div class='notification-show-unread flex-row-between-centered dropdown-item'>
      <%= notification.content %>
      <%= link_to mark_as_read_notifications_path(notification_id: notification.id), class: 'notification-show-link-unread', method: :get, remote: true do %>
        <i class="far fa-check-circle"></i>
      <% end %>
    </div>
  <% else %>
    <div class='notification-show flex-row-between-centered dropdown-item'>
      <%= notification.content %>
      <%= link_to mark_as_read_notifications_path(notification_id: notification.id), class: 'notification-show-link', remote: true do %>
        <i class="fas fa-check-circle"></i>
      <% end %>
    </div>
  <% end %>
<% end %>
