<div class="searchbar">
  <i class="fas fa-search catalogue-controls__search-icon"></i>
  <%= simple_form_for :search_recommendations, url: trainings_path, method: :get, remote: true do |f| %>
    <%= f.input :title, placeholder: 'Search', input_html: {autocomplete: 'off'}, label: 'Keyword', required: false %>

    <% if current_user.hr_or_above? && params[:action] == 'organisation' %>
      <%= f.input :employee, collection: @employees_form.order(lastname: :asc), label_method: :fullname, required: false, selected: current_user.id %>
    <% end %>
    <%= f.submit 'Search', class: 'btn-search' %>
  <% end %>
  <button class='btn-reset btn-reset-orange' onclick='resetAllFilter(this, "recommendation");'>Reset</button>
</div>
