<div class="searchbar">
  <i class="fas fa-search catalogue-controls__search-icon"></i>
  <%= simple_form_for :search_recommendations, url: dashboard_path, method: :get, remote: true do |f| %>
    <%= f.input :title, placeholder: 'Search', label: 'Keyword', required: false %>

    <% if ['Super Admin', 'Account Owner', 'HR'].include?(current_user.access_level) && params[:action] == 'organisation' %>
      <%= f.input :employee, collection: @employees_form.order(lastname: :asc), label_method: :fullname, required: false, selected: current_user.id %>
    <% end %>
    <%= f.submit 'Search', class: 'btn-search' %>
  <% end %>
  <button class='btn-reset' onclick='resetAllFilter(this, "recommendation");'>Reset</button>
</div>
