<div class="px-2rem">

  <p class="fs-5rem font-weight-600 bkt-white text-center bkt-text-shadow"><%= todo_campaigns.count %></p>

  <p class="fs-2rem font-weight-600 bkt-white bkt-text-shadow">Interviews left to fill</p>

</div>

<div class="px-2rem border-left-bkt-white border-right-bkt-white">

  <p class="fs-5rem font-weight-600 bkt-white text-center bkt-text-shadow"><%= ongoing_campaigns.count %></p>

  <p class="fs-2rem font-weight-600 bkt-white bkt-text-shadow">Ongoing interviews</p>

</div>

<div class="px-2rem">

  <p class="fs-5rem font-weight-600 bkt-white text-center bkt-text-shadow"><%= archived_campaigns.count %></p>

  <p class="fs-2rem font-weight-600 bkt-white bkt-text-shadow">Archived interviews</p>

</div>
