<div class="px-2rem">

  <p class="fs-5rem font-weight-600 bkt-white text-center"><%= todo_campaigns.count %></p>

  <p class="fs-2rem font-weight-600 bkt-white">Campaigns left to complete</p>

</div>

<div class="px-2rem border-left-bkt-white border-right-bkt-white">

  <p class="fs-5rem font-weight-600 bkt-white text-center"><%= ongoing_campaigns.count %></p>

  <p class="fs-2rem font-weight-600 bkt-white">Ongoing campaigns</p>

</div>

<div class="px-2rem">

  <p class="fs-5rem font-weight-600 bkt-white text-center"><%= archived_campaigns.count %></p>

  <p class="fs-2rem font-weight-600 bkt-white">Archived campaigns</p>

</div>
