<div class="modal-content action-modal__content">

  <div class="modal-body action-modal__body" data-controller='tabs workshop-show' data-tabs-target='tabContainer'>

    <div class="centered-item">
      <span class="iconify mb-2rem" data-icon="fxemoji:trophy" style='font-size: 90px;'></span>
    </div>

    <div class="text-center z-index-5 mb-5rem">
      <p class="fs-2_4rem font-weight-700 bkt-dark-grey mb-1rem">Congratulations !</p>
      <p class="fs-1_4rem font-weight-500 bkt-dark-grey">One more workshop finished, keep it up !</p>
    </div>

    <div class="centered-item">
      <button type="button" class="bkt-btn-orange-white" data-dismiss="modal" aria-label="Close">
        Sure !
      </button>
    </div>
  </div>

</div>
