<div class="d-none d-sm-flex modal-content action-modal__content">

  <div class="modal-header action-modal__header">

    <h3 class="modal-title action-modal__title"></h3>

    <button type="button" class="action-modal__close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" class="action-modal__close-icon">&times;</span>
    </button>

  </div>

  <div class="modal-body action-modal__body">

    <p class="fs-2rem font-weight-600 bkt-dark-grey text-center mb-1rem">
      Are you sure this workshop has no more secrets for you ?
    </p>

    <p class="fs-1_4rem font-weight-500 bkt-dark-grey text-center">
      Your manager will be noticed of your confirmation.
    </p>

    <a id='manage-attendees__email-sent' class='d-none' data-toggle='modal' data-target='#manageAttendeesEmailSent'></a>
  </div>

  <div class="modal-footer action-modal__footer">

    <button class="bkt-btn-white-orange mr-3rem"
            data-dismiss="modal">
      Not really <span class="iconify fs-1_8rem ml-0_75rem" data-icon="twemoji:thinking-face"></span>
    </button>

    <button class="bkt-btn-orange"
            onclick='selectCompletion(this);'
            data-value='Completed'>
      Yes, of course ! <span class="iconify fs-1_8rem ml-0_75rem" data-icon="twemoji:nerd-face"></span>
    </button>

  </div>

</div>

<div class="d-sm-none modal-content bkt-bg-white width-90-important m-auto" style="border-radius: 25px !important;">

  <h2 class="font-weight-600 px-5 pt-5 text-center">Are you sure this workshop has no more secrets for you ?</h2>
  <p class="p-5 text-center">Your manager will be noticed of your confirmation.</p>

  <div class="flex-row-around-centered align-items-start height-7rem">

    <button class="width-50 height-7rem bkt-orange border-top-bkt-orange p-4" data-dismiss="modal" aria-label="Close">
      Not really
      <span class="iconify fs-1_8rem" data-icon="twemoji:thinking-face"></span>
    </button>

    <button
      class="width-50 height-7rem bkt-bg-orange border-top-bkt-orange bkt-white p-4 rounded-br-25px"
      data-dismiss="modal"
      aria-label="Close"
      data-target='#congratulations'
      data-toggle="modal"
    >
      Yes, of course !
      <span class="iconify fs-1_8rem" data-icon="twemoji:nerd-face"></span>
    </button>
  </div>

</div>
