<div class="modal-content action-modal__content">

  <div class="modal-body action-modal__body" data-controller='tabs workshop-show' data-tabs-target='tabContainer'>

    <div class="centered-item">
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_fyipuh7y.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px; margin-top: -3rem;"    autoplay></lottie-player>
    </div>

    <div class="text-center z-index-5 mb-5rem" style='margin-top: -5rem;'>
      <p class="fs-2_4rem font-weight-700 bkt-dark-grey mb-1rem">Reminders are on their way !</p>
      <p class="fs-1_4rem font-weight-500 bkt-dark-grey">Employees will receive a email notification to complete this training.</p>
    </div>

    <div class="centered-item">
      <button type="button" class="bkt-btn-orange-white" data-dismiss="modal" aria-label="Close">
        Back
      </button>
    </div>
  </div>

</div>
