<div class="modal-content action-modal__content">

  <div class="modal-header action-modal__header">

    <h3 class="modal-title action-modal__title">Permissions : <%= user.fullname %></h3>

    <button type="button" class="action-modal__close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" class="action-modal__close-icon">&times;</span>
    </button>

  </div>

  <div class="modal-body action-modal__body">

    <% User::ADMIN_PERMISSIONS.keys.each do |permission| %>

      <div class='flex items-center fs-1_4rem'>
        <div class="mr-2"><%= permission.to_s.gsub('_', ' ').capitalize %></div>
        <% if user.send(permission) %>
          <span class="iconify block bkt-green" data-icon="akar-icons:check"></span>
        <% else %>
          <span class="iconify block bkt-red" data-icon="akar-icons:cross"></span>
        <% end %>
      </div>

    <% end %>

  </div>

  <div class="modal-footer action-modal__footer">

    <%= link_to edit_user_permissions_path(user), class: 'bkt-btn-white-dark-grey' do %>
      Edit permissions
      <span class="iconify" data-icon="akar-icons:chevron-right"></span>
    <% end %>

  </div>

</div>
