<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= "Add a picture for #{@user.firstname} #{@user.lastname}" %></h3>
    </div>
    <button type="button" class="btn btn-icon" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body">
    <%= simple_form_for @user do |f| %>
      <%= f.input :picture, label: 'Photo URL' %>
      <div style=" display: flex; justify-content: space-between;margin-top:3rem;">
        <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-icon' do %>
          <i class="fas fa-save"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
