<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel">Remove User(s)</h3>
      <button type="button" class="btn-icon cancel-close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
    </div>
  </div>
  <div class="modal-body">

    <p>Are you sure to delete this or these user(s) ?</p>
    <p>Removed users will no longer appear</p>
    <div class="flex-row-between-centered modal-button-centered">
      <button type="button" class="btn-blue" data-dismiss="modal" aria-label="Close">No, Thanks</button>
      <%= link_to 'Yes, remove user(s)', unlink_from_company_path(company_id: current_user.company_id, selected_users: ''), id: 'unlink_users', class: 'bkt-btn-white-blue', remote: true %>
    </div>

  </div>
</div>
