<div class="modal-content action-modal__content">

  <div class="modal-header action-modal__header">

    <h3 class="modal-title action-modal__title" id="myModalLabel">Remove User(s)</h3>

    <button type="button" class="action-modal__close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" class="action-modal__close-icon">&times;</span>
    </button>

  </div>

  <div class="modal-body action-modal__body">

    <div class="d-flex flex-column align-items-center mt-2rem">

      <p>Are you sure to delete this or these user(s) ?</p>
      <p>Removed users will no longer appear</p>

    </div>

  </div>

  <div class="modal-footer action-modal__footer">

    <button type="button" class="bkt-btn-white-dark-grey mr-3rem" data-dismiss="modal" aria-label="Close">No, Thanks</button>

    <%= link_to 'Yes, remove user(s)', unlink_from_company_path(company_id: current_user.company_id, selected_users: ''), id: 'unlink_users', class: 'bkt-btn-dark-grey', remote: true %>

  </div>

</div>
