<div class="modal-content info-modal__content">

  <div class="modal-body info-modal__body">

    <div class="flex-row-center-centered">
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_newtztyc.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px; margin-top: -3rem;" loop autoplay></lottie-player>
    </div>

    <div class="text-center z-index-5 mb-5rem" style='margin-top: -5rem;'>
      <p class="fs-2_4rem font-weight-700 bkt-dark-grey mb-1rem">Email is on its way !</p>
      <p class="fs-1_4rem font-weight-500 bkt-dark-grey">You will receive an email with instructions in a few moments.</p>
    </div>

    <div class="flex-row-center-centered">
      <button type="button" class="bkt-btn-dark-grey-border" data-dismiss="modal" aria-label="Close">
        Great !
      </button>
    </div>
  </div>

</div>
