<div class="mailer-banner">
  <div class="mailer-banner-row">
    <div class="mailer-banner-row-image">
      <%= email_image_tag('Booklet-logo.png') %>
    </div>
  </div>
</div>
<div class="mailer-container">
  <div class="mailer-text">
    <div class="mailer-text-image">
      <%= email_image_tag('noto_person-lifting-weights.png') %>
    </div>

    <h2>Training time !</h2>
    <p>You have been invited to the training <%= @training.title %> !</p>
    <p>Let's review the details.</p>
    <br>
    <div class="mailer-button">
      <%= link_to 'Go to My Trainings', my_trainings_url %>
    </div>
    <span>Please do not answer this email</span>
  </div>
</div>
