<div class="mailer-banner">
  <div class="mailer-banner-row">
    <div class="mailer-banner-row-image">
      <%= email_image_tag('Booklet-logo.png') %>
    </div>
  </div>
</div>
<div class="mailer-container">
  <div class="mailer-text">
    <div class="mailer-text-image">
      <%= email_image_tag('noto-v1_bell.png') %>
    </div>

    <h2>Here is a reminder for you !</h2>
    <p>It seems you have not validated all the workshops in the training <%= @training.title %>, don't forget to do it !</p>
    <br>
    <div class="mailer-button">
      <%= link_to 'Go to the training', training_url(@training) %>
    </div>
    <span>Please do not answer this email</span>
  </div>
</div>
