<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type='text/css' media='screen'>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

      body {
        font-family: "Montserrat", Sans-Serif;
        margin: 0;
        padding: 0;
      }

      img {
        margin: 0 10px;
      }

      h2, p, span {
        font-family: "Montserrat", Sans-Serif;
        color: #333333;
      }

      h2 {
        font-size:  20px;
        font-weight: 700;
        margin: 0 0 10px 0;
      }

      p {
        font-size:  16px;
        font-weight: 700;
        line-height: 20px;
        margin: 0;
      }

      a {
        font-size:  16px;
        color: white !important;
        text-decoration: none;
        padding: 10px;
        background-color:  #333333;
        border-radius: 1px;
        width: fit-content !important;
      }

      span {
        font-size:  12px;
      }

      .mailer-banner {
          width: 100%;
          height: 100px;
          background-color: white;
          display:table;
      }

      .mailer-banner-row {
        height: 100%;
        width: 100%;
        vertical-align: middle;
        text-align: center;
        display:table-cell;
      }

      .mailer-banner-row-image > img {
        height: 30px;
      }

      .mailer-container {
        width: 100%;
        display: table;
        padding: 50px 0;
      }

      .mailer-text {
        text-align:  center;
        width: 100%;
        min-width: 300px;
      }

      .mailer-button {
        margin: 10px 0 20px 0;
      }

      .mailer-text-image > img {
        height: 80px;
      }

    </style>
  </head>
  <body>
    <div class="mailer-banner">
      <div class="mailer-banner-row">
        <div class="mailer-banner-row-image">
          <%= email_image_tag('Booklet-logo.png') %>
        </div>
      </div>
    </div>
    <div class="mailer-container">
      <div class="mailer-text">
        <div class="mailer-text-image">
          <%= email_image_tag('noto-v1_bell.png') %>
        </div>

        <h2>Here is a reminder for you !</h2>
        <p>It seems you have not validated all the workshops in the training <%= @training.title %>, don't forget to do it !</p>
        <br>
        <div class="mailer-button">
          <%= link_to 'Go to the training', training_url(@training) %>
        </div>
        <span>Please do not answer this email</span>
      </div>
    </div>
  </body>
</html>
