<i class="fas fa-search"></i>
<%= simple_form_for :filter_content, url: book_path, remote: true, method: :get do |f| %>
  <%= f.text_field :title, placeholder: 'Search', label: false %>
  <%= f.hidden_field :selected %>
  <%= f.submit class: 'hidden hidden-submit' %>
<% end %>
<div id="organisation-controls__content-search-clear" class='hidden' onclick='clearSearchContent(this);'>
  <p>Reset</p>
</div>
