<div class="row">
  <% contents.each do |content| %>
    <div class="booklet-col col-xl-4 col-lg-6 col-md-12" id="content-<%= content.id %>">
      <%= render 'pages/catalogue_content_card', content: content, contents: contents %>
    </div>
    <div class='modal fade' id='addTheme-<%= content.id %>' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
      <div class='modal-dialog' role='document' style='border-radius: 20px'>
        <%= render 'pages/manage_categories', content: content %>
      </div>
    </div>
  <% end %>
</div>
