<div class="dashboard-grid">
  <div class="dashboard-navigation">
    <div class="trainings-nav">
      <ul class="nav nav-tabs-trainings">
        <li role="presentation"><a href="#CurrentSessionsAll" data-toggle="tab" class='active'>Current</a></li>
        <%# <li role="presentation"><a href="#UpcomingAll" data-toggle="tab">Upcoming</a></li> %>
        <li role="presentation"><a href="#CompletedAll" data-toggle="tab">Past</a></li>
      </ul>
    </div>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="CompletedAll">
        <div class="row">
          <% @past_sessions.each do |session| %>
            <%= render 'dashboard_sessions_card', session: session %>
          <% end %>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane active" id="CurrentSessionsAll">
        <div class="row">
          <% if @current_sessions.empty? %>
            <p style='padding: 15px;'>No current trainings scheduled for the moment.</p>
          <% elsif %>
            <% @current_sessions.each do |session| %>
              <%= render 'dashboard_sessions_card', session: session %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
