<% sessions = Session.where(company_id: current_user.company_id).where('date >= ? AND date < ?', start_date, end_date) %>
<div class="flex-row-start-centered">
  <p>Cost (total) :</p>
  <p><%= sprintf('%.2f', sessions.map(&:cost).sum) %> €</p>
</div>
<div class="flex-row-start-centered">
  <p>Trainings :</p>
  <p><%= sessions.count %></p>
</div>
<div class="flex-row-start-centered">
  <p>Hours of trainings :</p>
  <p><%= sessions.map{|x| x.content.duration / 60.0 }.sum %> h</p>
</div>
<div class="flex-row-start-centered">
  <p>Attendees :</p>
  <p><%= sessions.map{|x| x.attendees.count}.sum %></p>
</div>
