<div class="book-container">
  <div class="booking-title">
    <h2>Select Workshop to Book</h2>
  </div>
  <div class="workshop-grid">
    <div class="workshop-cards-book container">
      <ul id='workshop-card-list'>
        <li>
          <div class="card-interest draggable" draggable='true'>
            <div class="card-interest-left">
              <div class="card-interest-title"></i><h2>Title</h2></div>
              <div class="card-interest-duration"><p>Duration</p></div>
              <div class="card-interest-objective"><p>This would be the objective of the card.</p></div>
              <div class="card-interest-left-themes">
                <div class='card-interest-themes'>
                  <p>Web Design</p>
                </div>
              </div>
            </div>
            <div class="card-interest-synch-right">
              <div class="card-type">
                <i class="fas fa-laptop fa-5x"></i>
              </div>
              <div class="card-heart-interest">
                <p><i class="fas fa-heart"></i> 12 Interested</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="card-interest draggable"  draggable='true'>
            <div class="card-interest-left">
              <div class="card-interest-title"><h2>Title</h2></div>
              <div class="card-interest-duration"><p>Duration</p></div>
              <div class="card-interest-objective"><p>This would be the objective of the card.</p></div>
              <div class="card-interest-left-themes">
                <div class='card-interest-themes'>
                  <p>Web Design</p>
                </div>
              </div>
            </div>
            <div class="card-interest-asynch-right">
              <div class="card-type">
                <i class="fas fa-chalkboard-teacher fa-5x"></i>
              </div>
              <div class="card-heart-interest">
                <p><i class="fas fa-heart"></i> 12 Interested</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="workshop-cards-selected container">
    </div>
  </div>
</div>


<script>
  const draggables = document.querySelectorAll('.draggable')
const containers = document.querySelectorAll('.container')

draggables.forEach(draggable => {
  draggable.addEventListener('dragstart', () => {
    draggable.classList.add('dragging')
  })

  draggable.addEventListener('dragend', () => {
    draggable.classList.remove('dragging')
  })
})

containers.forEach(container => {
  container.addEventListener('dragover', e => {
    e.preventDefault()
    const afterElement = getDragAfterElement(container, e.clientY)
    const draggable = document.querySelector('.dragging')
    if (afterElement == null) {
      container.appendChild(draggable)
    } else {
      container.insertBefore(draggable, afterElement)
    }
  })
})

function getDragAfterElement(container, y) {
  const draggableElements = [...container.querySelectorAll('.draggable:not(.dragging)')]

  return draggableElements.reduce((closest, child) => {
    const box = child.getBoundingClientRect()
    const offset = y - box.top - box.height / 2
    if (offset < 0 && offset > closest.offset) {
      return { offset: offset, element: child }
    } else {
      return closest
    }
  }, { offset: Number.NEGATIVE_INFINITY }).element
}
</script>

