<div id="index-controls" class="flex-row-between-centered">
  <h1>Calendar</h1>
  <%= link_to 'Week', dashboard_calendar_week_path, class: 'btn btn-edit-white' %>
</div>
<div class="content-index">

</div>
