<div class="catalogue-container">
  <div id="index-controls" class='flex-row-between-start'>
    <div class="index-controls-filter-bar">
      <%= render 'shared/searchbar', path: catalogue_path, reset_path: catalogue_path(reset: ""), reset: true %>
    </div>
    <div class='index-controls-create-content'>
      <% if ['Super Admin', 'Account Owner', 'HR'].include?(current_user.access_level) %>
        <div class="btn-blue" data-toggle='tooltip' title='Create a folder'>
          <i class="fas fa-plus"></i>
          <p>Create Folder</p>
        </div>
        <%= link_to new_content_path do %>
          <div class="btn-orange" data-toggle='tooltip' title='Create a content'>
            <i class="fas fa-plus"></i>
            <p>Create Workshop</p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div id="catalogue-index">
    <% if @contents.empty? %>
      <% if params[:search].present? %>
        <p>No results.</p>
      <% else %>
        <p style="padding:15px;">No workshop have been created. You see that big <span style='color:#F26419'>orange</span> button in the corner? Click it to create your first workshop.</p>
      <% end %>
    <% else %>
      <h2>Folders</h2>
      <div class="catalogue-row folders-row">
        <%= render 'pages/partials/catalogue_index', cards: @folders %>
      </div>
      <h2>Workshops</h2>
      <div class="catalogue-row contents-row">
        <%= render 'pages/partials/catalogue_index', cards: @contents %>
      </div>
    <% end %>
  </div>
</div>

<script>

  formGuardian = false;

  function outsideClick(event, notelem) {
    notelem = $(notelem); // jquerize (optional)
    // check outside click for multiple elements
    var clickedOut = true, i, len = notelem.length;
    for (i = 0;i < len;i++)  {
        if (event.target == notelem[i] || notelem[i].contains(event.target)) {
            clickedOut = false;
        }
    }
    if (clickedOut) return true;
    else return false;
  }

  function openContentMenu(element) {
    dropdown = element.parentNode.querySelector('.content-dropdown')
    dropdown.classList.toggle('hidden')
    formGuardian = true
    setTimeout(function(){
      formGuardian = false
    }, 1);
    window.addEventListener('click', function(e) {
      if (outsideClick(e, dropdown) && formGuardian == false) {
        dropdown.classList.add('hidden')
        this.removeEventListener('click', arguments.callee, false)
      }
    });
  }

  function openHiddenForm(element) {
    form = element.parentNode.querySelector('.hidden-form-ajax');
    element.classList.toggle('hidden');
    form.classList.toggle('hidden');
  }

  function openFilter(element) {
    filter = element.parentNode.querySelector('.index-controls-filter-bar-block-filter')
    element.classList.toggle('hidden');
    filter.classList.toggle('hidden');
  }

  function removeFilter(element) {
    filter_tag = element.parentNode;
    storage = document.querySelector('#filter_themes')
    array = storage.value.split(',');
    array = array.filter(function(value, index, arr){
      return value != element.getAttribute('data-id');
    });
    storage.value = array.join(',');
    filter_tag.remove();
    storage.parentNode.querySelector('.hidden-submit').click();
  }

  sliders = document.querySelectorAll('.catalogue-row');
  sliders.forEach((slider) => {
    isDown = false;
    let startX;
    let scrollLeft;

    slider.addEventListener('mousedown', (e) => {
      isDown = true;
      slider.classList.add('active');
      startX = e.pageX - slider.offsetLeft;
      scrollLeft = slider.scrollLeft;
    });
    slider.addEventListener('mouseleave', () => {
      isDown = false;
      slider.classList.remove('active');
    });
    slider.addEventListener('mouseup', () => {
      isDown = false;
      slider.classList.remove('active');
    });
    slider.addEventListener('mousemove', (e) => {
      if(!isDown) return;
      e.preventDefault();
      const x = e.pageX - slider.offsetLeft;
      const walk = (x - startX) * 3; //scroll-fast
      slider.scrollLeft = scrollLeft - walk;
      console.log(walk);
    });
  })
</script>
