<div class="training-program-index">
  <div id="index-controls" class='flex-row-between-centered'>
    <h1>Catalogue</h1>
    <div id="index-buttons">
      <% if ['Super Admin', 'Admin', 'HR'].include?(current_user.access_level) %>
        <div>
          <button class="btn btn-edit-white btn-edit-icon dropdown-toggle" name='show-modal' type="button"  data-toggle="modal" data-target='#indexTheme' aria-haspopup="true" aria-expanded="false"><i class="fas fa-swatchbook"></i></button>
        </div>
      <% end %>

    </div>
  </div>
  <div class="dashboard-tabs">
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="#Workshops" data-toggle="tab" class='active'>Workshops</a></li>
<!--       <li role="presentation"><a href="#Programs" data-toggle="tab">Programs</a></li> -->
    </ul>
  </div>
  <div class="tab-content">
<!--     <div role="tabpanel" class="tab-pane" id="Programs">
      <%# render 'catalogue_programs', training_programs: @training_programs %>
    </div> -->
    <div role="tabpanel" class="tab-pane active" id="Workshops">
      <%= render 'catalogue_workshops', workshops: @workshops.order(title: :asc) %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class='modal fade' id='indexTheme' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog' role='document' style='border-radius: 20px'>
    <%= render 'categories/index' %>
  </div>
</div>

<!-- <div class='modal fade' id='newTheme' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog' role='document' style='border-radius: 20px'>
    <%# render 'categories/new' %>
  </div>
</div> -->


<script>$('button[name="show-modal"]').click(function(){
  $('.modal').modal('show');
});</script>
