<div class="catalogue-container">
  <div id="index-controls" class='flex-row-between-centered'>
    <div class="index-controls-filter-bar">
      <div class="index-controls-filter-bar-block">
        <%= render 'catalogue_filter' %>
      </div>
      <div class="btn-orange">
        <p>Create</p>
      </div>
    </div>
  </div>
  <div id="catalogue-index">
    <%= render 'catalogue_index', contents: @contents %>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script>

<script>
  function openContentMenu(element) {
    dropdown = element.parentNode.querySelector('.content-dropdown');
    dropdown.classList.toggle('hidden');
  }

  function openHiddenForm(element) {
    form = element.parentNode.querySelector('.hidden-form-ajax');
    element.classList.toggle('hidden');
    form.classList.toggle('hidden');
  }

  function openFilter(element) {
    filter = element.parentNode.querySelector('.index-controls-filter-bar-block-filter')
    element.classList.toggle('hidden');
    filter.classList.toggle('hidden');
  }

  function removeFilter(element) {
    filter_tag = element.parentNode;
    storage = document.querySelector('#filter_themes')
    array = storage.value.split(',');
    array = array.filter(function(value, index, arr){
        return value != element.getAttribute('data-id');
    });
    storage.value = array.join(',');
    filter_tag.remove();
    storage.parentNode.querySelector('.hidden-submit').click();
  }

  $input = $("[data-behavior='autocomplete']");

  var options = {
    listLocation: "categories",
    getValue: 'title',
    url: function(phrase) {
      return "/categories_search.json?search=" + phrase
    },
    list: {
      onChooseEvent: function() {
        var id = $input.getSelectedItemData().id;
        var title = $input.getSelectedItemData().title;
        container = document.querySelector('.filtered_themes');
        new_category = document.createElement("div");
        new_category.innerHTML = "<p>" + title + "</p><i class='fas fa-times' data-id="+ id +" onclick='removeFilter(this);'></i>";
        container.appendChild(new_category);
        storage = document.querySelector('#filter_themes')
        if (storage.value != '') {
          storage.value = storage.value + ',' + id;
        } else {
          storage.value = id;
        }
        $input[0].value = '';
        storage.parentNode.querySelector('.hidden-submit').click();
      },
      match: {
        enabled: true
      }
    }
  }

  $input.easyAutocomplete(options);

</script>
