<div class="catalogue-container">
  <div class='index-controls-create-content'>
    <h2 class='catalogue-title'>Catalogue of Trainings</h2>
    <% if ['Super Admin', 'Account Owner', 'HR'].include?(current_user.access_level) %>
      <%= link_to new_content_path do %>
        <div class="btn-orange" data-toggle='tooltip' title='Create a content'>
          <p><i class="fas fa-plus"></i> Create</p>
        </div>
      <% end %>
    <% end %>
  </div>
  <div id="index-controls" class='flex-row-between-centered'>
    <div class="index-controls-filter-bar">
      <%= render 'shared/searchbar', path: catalogue_path, reset_path: catalogue_path(reset: ""), reset: true %>
    </div>
  </div>
  <div id="catalogue-index">
    <% if @contents.empty? %>
      <% if params[:search].present? %>
        <p>No results.</p>
      <% else %>
        <p style="padding:15px;">No trainings have been created. You see that big <span style='color:#F26419'>orange</span> button in the corner? Click it to create your first training.</p>
      <% end %>
    <% elsif %>
      <%= render 'pages/catalogue_index', contents: @contents %>
    <% end %>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script>

<script>

  formGuardian = false;

  function outsideClick(event, notelem) {
    notelem = $(notelem); // jquerize (optional)
    // check outside click for multiple elements
    var clickedOut = true, i, len = notelem.length;
    for (i = 0;i < len;i++)  {
        if (event.target == notelem[i] || notelem[i].contains(event.target)) {
            clickedOut = false;
        }
    }
    if (clickedOut) return true;
    else return false;
  }


  function openContentMenu(element) {
    dropdown = element.parentNode.querySelector('.content-dropdown')
    dropdown.classList.toggle('hidden')
    formGuardian = true
    setTimeout(function(){
      formGuardian = false
    }, 1);
    window.addEventListener('click', function(e) {
      if (outsideClick(e, dropdown) && formGuardian == false) {
        dropdown.classList.add('hidden')
        this.removeEventListener('click', arguments.callee, false)
      }
    });
  }

  function openHiddenForm(element) {
    form = element.parentNode.querySelector('.hidden-form-ajax');
    element.classList.toggle('hidden');
    form.classList.toggle('hidden');
  }

  function openFilter(element) {
    filter = element.parentNode.querySelector('.index-controls-filter-bar-block-filter')
    element.classList.toggle('hidden');
    filter.classList.toggle('hidden');
  }

  function removeFilter(element) {
    filter_tag = element.parentNode;
    storage = document.querySelector('#filter_themes')
    array = storage.value.split(',');
    array = array.filter(function(value, index, arr){
      return value != element.getAttribute('data-id');
    });
    storage.value = array.join(',');
    filter_tag.remove();
    storage.parentNode.querySelector('.hidden-submit').click();
  }

  function fetchCategoryForm(element) {
    form = element.parentNode.parentNode.querySelector('.hidden-form-category-ajax');
    initial_top = form.offsetTop
    initial_left = form.offsetLeft
    form.style.top = (element.offsetTop).toString() + 'px'
    form.style.left = (element.offsetLeft + 25).toString() + 'px'
    element.querySelector('p').style.opacity = '0'
    form.classList.toggle('hidden')
    form.querySelector('input').focus()
    formGuardian = true;
    setTimeout(function(){
      formGuardian = false;
    }, 1);

    form.querySelector('#new_category_title').addEventListener('keypress', function(e) {
      if (event.which == '13') {
        event.preventDefault();
        form.querySelector('.hidden-submit').click()
      }
    })

    window.addEventListener('click', function(e) {
      if (outsideClick(e, form) && formGuardian == false) {
        form.style.top = initial_top.toString() + 'px';
        form.style.left = initial_left.toString() + 'px'
        element.querySelector('p').style.opacity = '1'
        form.classList.toggle('hidden')
        form.querySelector('input').value = ''
        this.removeEventListener('click', arguments.callee, false)
      }
    });
  }

  function autoSubmitTheme(element) {
    element.closest('form').querySelector('.hidden-submit').click()
  }

  function dismissModal(element) {
    content_id = element.parentNode.parentNode.querySelector('#add_categories_content_id').value;
    modal = document.querySelector('#addTheme-' + content_id);
    modal.querySelector('.cancel-close').click();
  }

  function showDelete(element) {
    // element.parentNode.querySelector('.category-delete').classList.toggle('hidden');
    trash = element.parentNode.querySelector('.category-delete');
    if (trash.style.opacity == 0) {
      trash.style.opacity = 1;
    } else {
      trash.style.opacity = 0;
    }
  }

  // function clearSearch(element) {
  //   document.querySelector('#search_title').value = ''
  //   document.querySelector('#organisation-controls__user-search-clear').classList.add('hidden')
  //   element.parentNode.querySelector('.hidden-submit').click()
  // }

  // if (document.querySelector('.search') != null) {
  //   search_input = document.querySelector('.search').querySelector('input');
  //   clear_button = document.getElementById('organisation-controls__user-search-clear');
  //   search_input.addEventListener('keyup', event => {
  //     if (search_input.value != '' && clear_button.classList.contains('hidden')) {
  //       clear_button.classList.remove('hidden');
  //     } else if (search_input.value == '') {
  //       clear_button.classList.add('hidden');
  //     }
  //   })
  // }

  $input = $("[data-behavior='autocomplete']");

  var options = {
    listLocation: "categories",
    getValue: 'title',
    url: function(phrase) {
      return "/categories_search.json?search=" + phrase
    },
    list: {
      onChooseEvent: function() {
        var id = $input.getSelectedItemData().id;
        var title = $input.getSelectedItemData().title;
        container = document.querySelector('.filtered_themes');
        new_category = document.createElement("div");
        new_category.innerHTML = "<p>" + title + "</p><i class='fas fa-times' data-id="+ id +" onclick='removeFilter(this);'></i>";
        container.appendChild(new_category);
        storage = document.querySelector('#filter_themes')
        if (storage.value != '') {
          storage.value = storage.value + ',' + id;
        } else {
          storage.value = id;
        }
        $input[0].value = '';
        storage.parentNode.querySelector('.hidden-submit').click();
      },
      match: {
        enabled: true
      }
    }
  }

  $input.easyAutocomplete(options);

  $('#search').keypress(
    function(event){
      if (event.which == '13') {
        event.preventDefault();
      }
  });

</script>
