<div id="index-controls" class="flex-row-start-centered">
  <h1>My Booklet</h1>
</div>
<div class="dashboard-tabs">
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="#Personal" data-toggle="tab" class='active'>Me</a></li>
    <li role="presentation"><a href="#All" data-toggle="tab">Manager</a></li>
  </ul>
</div>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="Personal">
    <%= render 'dashboard_personal' %>
  </div>
  <div role="tabpanel" class="tab-pane" id="All">
    <%= render 'dashboard_all' %>
  </div>
</div>
