<div class="dashboard-grid">
  <div class="dashboard-navigation">
    <div class="dashboard-tabs">
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="#Trainings" data-toggle="tab" class='active'>Trainings</a></li>
        
        <li role="presentation" id='pending_recommendation_main'><a href="#Recommended" data-toggle="tab" >Recommended</a></li>
      </ul>
    </div>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="Trainings">
        <%= render 'dashboard_trainings' %>
      </div>

      <div role="tabpanel" class="tab-pane" id="Recommended">
        <%#= render 'dashboard_recommended' %>
      </div>
    </div>
  </div>
</div>



<script>
  days = document.querySelectorAll('.day')
  days.forEach((element) =>{
    element.addEventListener('click', event => {
      previous = document.querySelector('.selected_day')
      console.log(event.currentTarget)
      if (previous != null) {
        document.querySelector('.selected_day').classList.remove('selected_day')
      }

      element.classList.add('selected_day')
    })
  })

  doubleClickGuardian = false

  function outsideClick(event, notelem) {
    notelem = $(notelem)
    var clickedOut = true, i, len = notelem.length;
    for (i = 0;i < len;i++)  {
        if (event.target == notelem[i] || notelem[i].contains(event.target)) {
            clickedOut = false
        }
    }
    if (clickedOut) return true
    else return false
  }

  function openContentMenu(element) {
    if (doubleClickGuardian == false) {
      doubleClickGuardian = true
      dropdown = element.parentNode.querySelector('.content-dropdown');
      dropdown.classList.toggle('hidden');
      setTimeout(function(){doubleClickGuardian = false}, 10)

      window.addEventListener('click', function(e) {
        if (outsideClick(e, dropdown) && doubleClickGuardian == false) {
          dropdown.classList.toggle('hidden');
          this.removeEventListener('click', arguments.callee, false)
        }
      })
    }
  }

  function dismissModal(element) {
    if (doubleClickGuardian == false) {
      doubleClickGuardian = true
      form = element.closest('form')
      form.querySelector('.hidden-submit').click()
      form.querySelector('.cancel-close').click()
      setTimeout(function(){doubleClickGuardian = false}, 10)
    }
  }

  function test(element) {
    console.log(element)
    element.closest('form').querySelectorAll('.radio_buttons').forEach((el) => {
      el.checked = ''
    })
    element.checked = 'checked'
  }
</script>
