<div class="dashboard-grid">
  <div class="dashboard-navigation">
    <div class="dashboard-tabs">
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="#Trainings" data-toggle="tab" class='active'>Trainings</a></li>
        
        <li role="presentation" id='pending_recommendation_main'><a href="#Recommended" data-toggle="tab" >Recommended</a></li>
      </ul>
    </div>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="Trainings">
        <div class="dashboard-grid">
          <div class="dashboard-navigation">
            <div class="trainings-nav">
              <div class="nav nav-tabs-trainings">
                <%# <li role="presentation"><a href="#CurrentPersonal" data-toggle="tab" class='active'>Current</a></li> %>
                <%# <li role="presentation"><a href="#UpcomingPersonal" data-toggle="tab">Upcoming</a></li> %>
                <%# <li role="presentation"><a href="#CompletedPersonal" data-toggle="tab">Past</a></li> %>
              </div>

              <%= render 'shared/searchbar_trainings' %>
            </div>

            <% if @current_trainings.empty? && params[:search_trainings].present? %>
              <h1>No results</h1>
            <% else %>
              <h1>Trainings</h1>
              <div class="dashboard-trainings">
                <%= render 'pages/partials/dashboard_trainings' %>
              </div>
            <% end %>

          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="Recommended">
        <%= render 'pages/partials/dashboard_recommendations' %>
      </div>
    </div>
  </div>
</div>

<script>
  doubleClickGuardian = false

  function outsideClick(event, notelem) {
    notelem = $(notelem); // jquerize (optional)
    // check outside click for multiple elements
    var clickedOut = true, i, len = notelem.length;
    for (i = 0;i < len;i++)  {
        if (event.target == notelem[i] || notelem[i].contains(event.target)) {
            clickedOut = false;
        }
    }
    if (clickedOut) return true;
    else return false;
  }

  function openFilterInput() {
    if (doubleClickGuardian == false) {
      doubleClickGuardian = true
      setTimeout(function(){doubleClickGuardian = false}, 10)
      container = document.querySelector('.searchbar__checkboxes')
      if (container.classList.contains('hidden')) {
        container.classList.remove('hidden')
      } else {
        container.classList.add('hidden')
      }
      window.addEventListener('click', function(e) {
        if (outsideClick(e, container) && doubleClickGuardian == false) {
          container.classList.add('hidden')
          this.removeEventListener('click', arguments.callee, false);
        }
      });
    }
  }

  function resetAllFilter(element, recommendation = false) {
    searchbar = element.closest('.searchbar')
    searchbar.querySelectorAll('input').forEach((input) => {
      if (input.type == 'text') {
        input.value = ''
      } else if (input.type == 'checkbox') {
        input.checked = false
      }
    })
    searchbar.querySelectorAll('select').forEach((select) => {
      select.selectedIndex = 0
    })
    searchbar.querySelector('.btn-search').click()
  }

  function resetFilter(element) {
    element.parentNode.querySelectorAll('input[type="checkbox"]').forEach((checkbox) => {
      checkbox.checked = false
    })
  }

  function dismissModal(element) {
    if (doubleClickGuardian == false) {
      doubleClickGuardian = true
      form = element.closest('form')
      form.querySelector('.hidden-submit').click()
      form.querySelector('.cancel-close').click()
      setTimeout(function(){doubleClickGuardian = false}, 10)
    }
  }
</script>
