<div class="main-container">
  <div class="conatiner-margin">

    <div class="home-title">
      <h1>Welcome on Booklet, <%= "#{current_user.firstname}" %> !</h1>
      <p>Get instant access to your trainings, and all your interviews from here.</p>
    </div>

    <div class="home-my-interviews-card">

      <div class="home-my-interviews-card-part-left">
      </div>

      <div class="home-my-interviews-card-part-mid">

        <div class="home-my-interviews-card__header">
          <div class="home-my-interviews-card__icon">
          </div>
          <div class="home-my-interviews-card__title">
          <p><h2>My Interviews</h2> <%= "#{current_user.interviews.count}" %> to do</p>
          </div>
        </div>

        <div class="home-my-interviews-card__body">
          <p>You have reviews to complete are :</p>
           <%# @campaigns.each do |campaign| %>
           <%# campaign.interviews.find_by(employee_id: current_user.id, label: 'Manager') %>
           <%# end %>
          <p></p>
          <p></p>
          <p></p>
        </div>

      </div>

      <div class="home-my-interviews-card-part-right">
        <div class="home-my-interviews-card-part-right__incon">
        </div>
      </div>

    </div>

    <div class="home-my-team-interviews-card">
    </div>

  </div>
</div>
