
<div class="homepage-container">
  <div class="homepage-wraper">

    <div class="homepage-title">
      <h1>Welcome on Booklete, Jessica!</h1>
      <strong><p>Get instant access to your trainings, and all your interviews from here.</p></strong>
    </div>

    <div class="homepage-card-1">
      <div class="homepage-card__line-1">
      </div>
      <div class="homepage-card__header">
        <div class="header-icon">
          <span class="iconify" data-icon="fluent:chat-multiple-24-filled" style="color: #3177b7;" data-width="50" data-height="50"></span>
        </div>
        <div class="header-text">
          <h2><Strong>My Interviews</Strong></h2>
          <p>- 2 reviews to do</p>
        </div>
      </div>
      <div class="homepage-card__main-text">
        <p>You have 2 reviews to do in this section. You can complete them right now in <strong>‘My Interviews’</strong> section !</p>
        <p>Your reviews to complete are :</p>
        <p class="part1">
        <strong style="color:#3177B7">Annual Performance Review</strong> with the manager <strong>Nicolas Heintz.</strong><br>
        The deadline for this campaign is the <strong>18/02/2022.</strong><br>
        </p>
        <p class="part2">
        <strong style="color:#3177B7">Rapport d'étonnement</strong> with the manager <strong>Nicolas Heintz.</strong><br>
        The deadline for this campaign is the <strong>18/02/2022.</strong><br>
        </p>
      </div>
      <div class="homepage-card__arrow-1">
        <span class="iconify" data-icon="dashicons:arrow-right-alt" style="color: #3177b7;" data-width="50" data-height="50"></span>
      </div>
    </div>

    <div class="homepage-card-2">
      <div class="homepage-card__line-2">
      </div>
      <div class="homepage-card__header">
        <div class="header-icon">
          <span class="iconify" data-icon="fluent:chat-multiple-24-filled" style="color: #3177b7;" data-width="50" data-height="50"></span>
        </div>
        <div class="header-text">
          <h2><Strong>My Team Interviews</Strong></h2>
          <p>- 5 reviews to do</p>
        </div>
      </div>
      <div class="homepage-card__main-text">
        <p>You have 5 reviews to do in this section. You can complete them right now in <strong>‘My Interviews’</strong> section !</p>
        <p>Your reviews to complete are :</p>
        <p class="part1">
        <strong style="color:#3177B7">Annual Performance Review</strong> with the manager <strong>Nicolas Heintz.</strong><br>
        The deadline for this campaign is the <strong>18/02/2022.</strong><br>
        </p>
        <p class="part2">
        <strong style="color:#3177B7">Rapport d'étonnement</strong> with the manager <strong>Nicolas Heintz.</strong><br>
        The deadline for this campaign is the <strong>18/02/2022.</strong><br>
        </p>
        <p class="part3">
        <strong style="color:#3177B7">Rapport d'étonnement</strong> with the manager <strong>Nicolas Heintz.</strong><br>
        The deadline for this campaign is the <strong>18/02/2022.</strong><br>
        </p>
        <p>And 2 more interviews.</p>
      </div>
      <div class="homepage-card__arrow-2">
        <span class="iconify" data-icon="dashicons:arrow-right-alt" style="color: #3177b7;" data-width="50" data-height="50"></span>
      </div>
    </div>

  </div>
</div>
