<div class="training-program-index">
  <div id="index-controls" class='flex-row-start-centered'>
    <h3>Statistics</h3>
  </div>
  <div class="dashboard-tabs">
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="#Numbers" data-toggle="tab">Numbers</a></li>
      <li role="presentation"><a href="#Trainings" data-toggle="tab">Trainings</a></li>
      <li role="presentation"><a href="#Contents" data-toggle="tab">Contents</a></li>
    </ul>
  </div>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Numbers">
      <%= render 'statistics_numbers' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="Contents">
      <%= render 'statistics_contents' %>
    </div>
  </div>
</div>
