<div class="dashboard-grid">
  <div class="dashboard-navigation">
    <div class="trainings-nav">
      <ul class="nav nav-tabs-trainings">
        <% if @recommendations.count > 0 %>
          <li role="presentation" id='pending_recommendation'><a href="#PendingRecommendation" data-toggle="tab" class='active'>Pending (<%= @recommendations.count %>)</a></li>
        <% else %>
          <li role="presentation"><a href="#PendingRecommendation" data-toggle="tab" class='active'>Pending</a></li>
        <% end %>
        <li role="presentation"><a href="#AnsweredRecommendation" data-toggle="tab">Answered</a></li>
      </ul>
      <%= render 'shared/searchbar_trainings' %>
    </div>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="PendingRecommendation">
          
        

        <div class="cards-recommended">  
          <% if @recommendations.empty? %>
            <p style='padding: 15px;'>No recommended trainings.</p>
          <% elsif %>
            <% @recommendations.each do |interest| %>
              <% content = interest.content %>
              <div id='recommendation-card-<%= interest.id %>' class="booklet-col">
                <%= render 'pages/dashboard_recommended_card', content: content, interest: interest, status: 'pending' %>
              </div>
            <% end %>
          <% end %>
        </div>

      </div>
      <div role="tabpanel" class="tab-pane" id="AnsweredRecommendation">
        <div class="cards-recommended">  
          
        </div>
      </div>
    </div>
  </div>
</div>
