<div class="dashboard-grid">
  <div class="dashboard-navigation">
    <div class="trainings-nav">
      <ul class="nav nav-tabs-trainings">
        <li role="presentation" id='pending_recommendations'><a href="#PendingRecommendation" data-toggle="tab" class='active'>Pending</a></li>
        <li role="presentation" id='answered_recommendations'><a href="#AnsweredRecommendation" data-toggle="tab">Answered</a></li>
      </ul>
      <%= render 'shared/searchbar_recommendations' %>
    </div>

    <div class="tab-content recommendations-container">
      <%= render 'pages/partials/dashboard_recommendations_results' %>
    </div>
  </div>
</div>

