<div class="modal-content">
  <div class="modal-header modal-header__simple">
    <button type="button" class="btn-icon cancel-close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body modal-body__simple">
    <h3>Choose employee</h3>
    <%= simple_form_for :search, url: users_path, method: :get do |f| %>
      <%= f.text_field :name, placeholder: 'Search for Users', label: false, data: {behavior: 'autocomplete'} %>
    <% end %>
    <div class="flex-row-between-centered">
      <%= link_to campaign_add_user_path(id: @campaign), id: 'add-participant-button', class: 'btn-grey', remote: true do %>
        <p>Add employee</p>
      <% end %>
    </div>
  </div>
</div>
