<div class="modal-content">
  <div class="modal-header modal-header__simple">
    <button type="button" class="btn-icon cancel-close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body modal-body__simple">
    <span class="iconify modal-icon-success" data-icon="akar-icons:circle-check-fill"></span>
    <h3><%= message %></h3>
  </div>
</div>
