<% campaign_id = campaign.id %>

<div class="modal-content action-modal__content">

  <div class="modal-header action-modal__header">

    <h3 class="modal-title action-modal__title">Edit campaign tags</h3>

    <button type="button" class="action-modal__close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" class="action-modal__close-icon">&times;</span>
    </button>

  </div>

  <div class="modal-body action-modal__body min-h-30rem">

    <%= render_component TagManagementComponent.new(
      company_tags: @company_tags,
      tags: campaign.categories.order(title: :asc).pluck(:title),
      toggle_path: toggle_tag_campaign_path(id: campaign_id),
      remove_company_tag_path: remove_company_tag_campaign_path(id: campaign_id),
      search_tag_path: search_tags_campaign_path(id: campaign_id),
      color: 'bkt-blue',
      background_color: 'bkt-bg-light-blue',
      always_open: true
    )%>

    <%= link_to '', index_line_campaign_path(campaign), class: 'update-line d-none', remote: true %>
    <%= link_to '', campaigns_path, class: 'update-list d-none', remote: true %>

  </div>

</div>
