<div class="modal-content date-modal__content">

  <div class="modal-header date-modal__header">

    <h3 class="modal-title date-modal__title">Edit campaign deadline</h3>

    <button type="button" class="date-modal__close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" class="date-modal__close-icon">&times;</span>
    </button>

  </div>

  <div class="modal-body date-modal__body">

    <%= simple_form_for campaign, remote: true do |f| %>

      <%= f.input :deadline, as: :string, label: false,
                                      input_html: {
                                        class: 'datepicker-inline hidden',
                                        value: campaign.deadline,
                                        data: { action: 'change->interviews--campaigns-show#editDeadline' }
                                      } %>

      <%= f.submit '', class: 'hidden-submit hidden' %>

    <% end %>

  </div>

</div>
