<div class="modal-content action-modal__content">

  <div class="modal-header action-modal__header">

    <h3 class="modal-title action-modal__title">Edit campaign tags</h3>

    <button type="button" class="action-modal__close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" class="action-modal__close-icon">&times;</span>
    </button>

  </div>

  <%= simple_form_for InterviewForm.new do |f| %>

    <div class="modal-body action-modal__body width-35rem">

        <%= f.input :title, input_html: {autocomplete: 'off'}, required: true %>

    </div>

    <div class="modal-footer action-modal__footer">

      <button type="button" class="bkt-btn-white-blue mr-3rem" data-dismiss="modal" aria-label="Close">
        Cancel
      </button>

      <%= button_tag type: 'submit', class: 'bkt-btn-blue', id: 'save_button' do %>
        Save
      <% end %>

    </div>

  <% end %>

</div>
