<div class="modal-content info-modal__content">

  <div class="modal-body info-modal__body width-50rem">

    <div class="flex-row-center-centered">
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_9ggiedvi.json"  background="transparent"  speed="1"  style="width: 200px; height: 300px; margin-top: -3rem;" loop autoplay></lottie-player>
    </div>

    <div class="text-center z-index-5 mb-5rem" style='margin-top: -5rem;'>
      <p class="fs-1_4rem font-weight-500 bkt-dark-grey">Adding participants...</p>
      <p class="fs-1_4rem font-weight-500 bkt-dark-grey">All users will be added soon!</p>
    </div>

    <div class="flex-row-center-centered">
      <button type="button" class="bkt-btn-blue-border" data-dismiss="modal" aria-label="Close">
        Got it!
      </button>
    </div>
  </div>

</div>
