<div class="modal-content">
  <div class="modal-header modal-header__folder">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel">Send invitation emails</h3>
      <button type="button" class="btn-icon cancel-close" data-dismiss="modal" aria-label="Close"><p>x</p></button>
    </div>
  </div>
  <div class="modal-body">
    <p>Do you wish to send invitations by email for this campaign ?</p>
    <div class="flex-row-between-centered">
      <button type="button" class="btn-blue-text"  onclick='createCampaign(this, false)'>NO, THANKS</button>
      <button type="button" class="btn-blue"  onclick='createCampaign(this, true)'>YES, SEND BY EMAIL</button>
    </div>
  </div>
</div>
