<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel">Create a new Tag</h3>
    </div>
    <button type="button" class="btn btn-icon" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <% if TagCategory.where(company_id: current_user.company_id).present? %>
    <div class="modal-body" id="modalNewBookinBody">
      <%= simple_form_for tag do |f| %>
        <div class="mod-date">
          <%= f.input :tag_name %>
          <%= f.input :tag_category_id, collection: TagCategory.where(company_id: current_user.company_id), include_blank: false %>
        </div>
        <div style=" display: flex; justify-content: space-between;margin-top:3rem;">
          <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-icon' do %>
            <i class="fas fa-save"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>You need to create a Tag Category before creating any Tags.</p>
  <% end %>
</div>
