<% unless user.company.nil? %>
  <div class="user-work-info">
    <div class="user-job">
      <%= simple_form_for :user, url: user_path(user, page: 'show', type: 'job'), method: :patch, remote: true, input_html: {multipart: true} do |f| %>
        <%= f.input :job_title, label: false, placeholder: 'Add job title', input_html: {class: 'data', value: user.job_title, style: 'color:#F26419', onclick: 'updateUser(this)'} %>
        <%= f.submit '', class: 'hidden-submit hidden' %>
      <% end %>
    </div>
  </div>
<% end %>
<% unless user.company.nil? %>
  <div class="user-tags">
    <i class="fas fa-user-tag"></i>
    <% user.tags.each do |tag| %>
      <% if tag.tag_name.present? %>
        <div class='user-tag-name'><p><%= tag.tag_name %></p></div>
      <% else %>
        <p>No associated tags</p>
      <% end %>
    <% end %>
  </div>
<% end %>
