<% content_for :title do %>

  Check your mailbox ! 📩

<% end %>

<% content_for :subtitle do %>

  <p class="flew-row width-100 bkt-light-grey6 mb-2rem">
    We just sent an email to the adress
  </p>

  <p class="font-weight-600 mb-2rem"><%= @user.email %></p>

  <p class="flew-row mb-2rem width-100 bkt-light-grey6">
    If you did not receive it, check your spams,
    or click on the button below to send it
    again.
  </p>

<% end %>

<div class="">
  <%= link_to u_check_path(user: {email: params.dig(:user, :email)}, reset: true), method: :post do %>
    <button class="width-100 bkt-bg-dark-grey bkt-white rounded-2px p-3">Send it again</button>
  <% end %>
</div>

<% flash.each do |type, msg| %>
  <% if type == 'alert' %>
    <div class="bkt-red mt-2">
      <%= msg %>
    </div>
  <% else %>
    <div class="bkt-green mt-2">
      <%= msg %>
    </div>
  <% end %>
<% end %>
