
<% content_for :title do %>
  Welcome on board !
<% end %>
<% content_for :subtitle do %>
  Please enter your email.
<% end %>

<div class="flew-row">
  <%= simple_form_for(resource, url: u_check_path) do |f| %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  label_html: {class: 'font-weight-500'}
      %>
    <div class="">
      <button class="width-100 bkt-bg-dark-grey bkt-white rounded-2px mt-4 p-3">continue</button>
    </div>
  <% end %>
</div>
