<% icon = { 'text' => 'akar-icons:text-align-center',
            'video' => 'fa-solid:video',
            'assessment' => 'ant-design:check-square-filled' } %>

<div id='template-summary-container' class='width-100'>
  <div  class='mb-2rem'>
    <h3 class='fs-2_4rem font-weight-500 bkt-light-grey text-center'>Summary</h3>
  </div>
  <% separator_number = 1 %>
  <% content.mods.order(position: :asc).each do |mod| %>
    <a href="#anchor-<%= mod.id %>" class='bkt-light-grey6-hover'>
      <div id='anchor' class='flex-row-start-top mb-2rem'>
        <div class='flex-row-center-centered bkt-bg-light-orange height-2_5rem-forced width-2_5rem-forced rounded-3px mr-1rem'>
          <span class="iconify bkt-orange" data-icon="<%= icon[mod.mod_type] %>"></span>
        </div>
        <p class='line-height-2_5rem'><%= mod.title %></p>
      </div>
    </a>
  <% end %>
</div>

