<%= render_component FormSectionTitleComponent.new(title: 'Chose how you want to display template(s)') %>

<div class="d-flex gap-1rem w-100 mb-3rem" style='max-width: 500px;'>

  <%= render_component RadioButtonTileComponent.new(
    model: :templates_selection_method,
    name: :single,
    checked: campaign.templates_selection_method == :single.to_s || campaign.templates_selection_method.nil?,
    title: "Single template",
    subtitle: "Select participants from your employee list"
  ) do %>
    <%# TODOCHANGEICON %>
    <span class="iconify fs-3rem" data-icon="akar-icons:file"></span>
  <% end %>

  <%= render_component RadioButtonTileComponent.new(
    model: :templates_selection_method,
    name: :multiple,
    checked: campaign.templates_selection_method == :multiple.to_s,
    title: "Multiple templates",
    subtitle: "Add participants by their arrival date in the company",
    disabled: true
  ) do %>
    <span class="iconify fs-3rem" data-icon="akar-icons:network"></span>
  <% end %>

</div>

<%# TODO %>
<%= hidden_field_tag :default_template_id %>
