<%= render_component FormSectionTitleComponent.new(title: 'Chose how you want to display template(s)') %>

<div class="d-flex gap-1rem w-100" style='max-width: 500px;'>

  <%= render_component RadioButtonTileComponent.new(
    model: :templates_selection_method,
    name: :single,
    checked: campaign.templates_selection_method == :single.to_s || campaign.templates_selection_method.nil?,
    icon_klasses: "fas fa-check",
    title: "Single template",
    subtitle: "Select participants from your employee list"
  ) %>

  <%= render_component RadioButtonTileComponent.new(
    model: :templates_selection_method,
    name: :multiple,
    checked: campaign.templates_selection_method == :multiple.to_s,
    icon_klasses: "fas fa-rocket",
    title: "Multiple templates",
    subtitle: "Add participants by their arrival date in the company",
    disabled: true
  ) %>

</div>

<%# TODO %>
<%= select_tag :default_template_id, options_for_select(InterviewForm.last(5).pluck(:title, :id), selected: @campaign.default_template_id) %>
