<% trainings.each do |training| %>
  <div class="p-2rem" style="border-top: 2px solid #d0d0d0;">

    <div class="flex-row-between-centered mb-2rem">
      <div class="flex-row-center-centered height-5rem width-5rem bkt-bg-light-orange rounded-5px mr-1rem">
        <span class="iconify height-3rem width-3rem bkt-orange" data-icon="maki:college"></span>
      </div>

      <div class='flex-grow-1'>
        <p class="d-none d-sm-block fs-2_4rem font-weight-600 bkt-dark-grey"><%= training.title %></p>
        <p class="d-sm-none fs-2rem font-weight-600 bkt-dark-grey"><%= training.title %></p>
        <div class="flex-row-between-centered width-fit-content pt-1rem" style='padding: .25rem .75rem;'>
          <p class='fs-1_6rem bkt-dark-grey'>Acquired on : <%= training.sessions.last.date %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
