<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= training_workshop.title %></h3>
    </div>
    <button type="button" class="btn btn-edit-icon" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <a data-toggle='modal' data-target='#newModule'><button class="btn btn-edit-orange">New Module</button></a>
    <a data-toggle='modal' data-target='#loadModule'><button class="btn btn-edit-white">Existing Module</button></a>
  </div>
</div>

<!-- Modals -->
<div class='modal fade' id='newModule' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'mods/new', training_workshop: @training_workshop %>
  </div>
</div>

<div class='modal fade' id='loadModule' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'mods/library', training_workshop: @training_workshop %>
  </div>
</div>
