<% template.interview_questions.order(position: :asc).each do |question| %>
  <% question.required ? required = 'Required' : required = 'Not required' %>
  <% question_wrapper_klass = {
    'separator' => 'content-text content-text__separator',
    'open_question' => 'content-text',
    'rating' => 'content-text',
    'mcq' => 'content-quiz'
  } %>

  <div class="<%= question_wrapper_klass[question.question_type] %>"
       id="item-<%= question.position %>">
    <div class="content-show-view-question-anchor" id="anchor-<%= question.id %>"></div>
    <%= render 'interview_forms/question_form', question: question, template: template  %>
  </div>

<% end %>

<div class="template-add-lines"></div>
