// CLEANED - 2021-07-06

.assessment_add_option {
  margin-top: 1rem;
}

.edit_assessment_answer, .new_assessment_answer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem 0;

  span > input {
    margin-right: 1rem;
  }
}

.edit_assessment_answer > input:last-of-type, .new_assessment_answer > input:last-of-type {
  margin-top: 2rem;
}

.options_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;

  label {
    margin: 0 1rem 0 0;
  }

  input {
    margin: 0 !important;
  }
}

#mod-assessment-questions-list {
  width: 100%;
  margin-bottom: 2rem;
}

.mod-assessment-questions-card {
  padding: 2rem;
  border: 1px solid rgba(0,0,0,0.3);
  position: relative;
  min-height: 16.8rem;

  .mod-assessment-questions-position {
    padding-bottom: 2rem;
  }

  .mod-assessment-questions-controls {
    position: absolute;
    top: 2rem;
    right: 2rem;

    i {
      cursor: pointer;
    }
  }
}

.mod-assessment-questions-card-view {
  padding: 5rem;

  .mod-assessment-questions-position {
    padding-bottom: 2rem;
  }

  .mod-assessment-questions-answer {
    margin-top: 2rem;
  }
}

.new_assessment_question {

  button:first-of-type {
    margin-right: 1rem;
  }
}
