.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-large {
  width: 5.6rem;
  height: 5.6rem;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-large-content-card {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-xlarge {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;

  img {
    object-fit: cover;
  }
}

.avatar-xlarge-empty {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background-color: white;
}

.avatar-sm {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-bordered {
  width: 4rem;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 4rem;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
