// CLEANED - 2021-07-06

.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-xlarge {
  width: 20rem;
  height: 20rem;
  object-fit: cover;

  img {
    object-fit: cover;
  }
}

.avatar-sm {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}
