// CLEANED - 2021-07-06

button {
  border-color: transparent;
  background-color: transparent;
}

.btn {
  font-size: 1.6rem;

  &:focus {
    box-shadow: none;
  }
}


////////////
// COLORS //
////////////

.btn-back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  margin-right: 2rem;

  &:hover {
    background-color: #D0D0D7;
  }

  i {
    font-size: 2.6rem;
  }
}

.btn-white {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 0 1rem;
  height: 4rem;
  background-color: white;
  border-radius: 4px;
  transition: all .25s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.7;

  i, p, a {
    color: #F26419;
    transition: all .25s ease-in-out;
    font-weight: 500;
    font-size: 1.3rem;
    font-weight: 600 !important;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }

  i {
    margin-right: 1rem;
  }

  &:hover {
    opacity: 1;
  }

  @include from-medium {
    p {
      font-size: 1.6rem;
    }
  }
}

.btn-orange {
  background-color: #F26419;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 20px;
  height: 5rem;
  border-radius: 4px;
  transition: all .25s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: white;

  i, p, a {
    color: white !important;
    transition: all .25s ease-in-out;
    font-weight: 500;
    font-size: 1.3rem;
    font-weight: 600 !important;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
  }

  i {
    margin-right: 1rem;
  }

  &:hover {
    opacity: 0.7;

    i, p {
      color: white !important;
    }
  }
  @include from-medium {
    p {
      font-size: 1.6rem;
    }
  }
}

.btn-blue {
  background-color: #3177B7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 20px;
  height: 5rem;
  border-radius: 4px;
  transition: all .25s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: white;

  i, p, a {
    color: white !important;
    transition: all .25s ease-in-out;
    font-weight: 500;
    font-size: 1.3rem;
    font-weight: 600 !important;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
  }

  i {
    margin-right: 1rem;
  }

  &:hover {
    opacity: 0.7;

    i, p {
      color: white !important;
    }
  }
  @include from-medium {
    p {
      font-size: 1.6rem;
    }
  }
}

.btn-white-blue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 20px;
  height: 5rem;
  background-color: white;
  border-radius: 4px;
  transition: all .25s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color:  #3177B7;

  i, p, a {
    color:  #3177B7 !important;
    transition: all .25s ease-in-out;
    font-weight: 500;
    font-size: 1.3rem;
    font-weight: 600 !important;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
  }

  i {
    margin-right: 1rem;
  }

  &:hover {
    opacity: 0.7;

    i, p {
      color:  #3177B7 !important;
    }
  }
  @include from-medium {
    p {
      font-size: 1.6rem;
    }
  }
}


.btn-orange-disabled, .btn-blue-disabled {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 2rem;
  height: 4rem;
  border-radius: 4px;
  transition: all .25s ease-in-out;
  cursor: not-allowed;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  opacity: .7;

  i, p, a {
    color: white !important;
    transition: all .25s ease-in-out;
    font-weight: 500;
    font-size: 1.3rem;
    font-weight: 600 !important;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }

  i {
    margin-right: 1rem;
  }

  @include from-medium {
    p {
      font-size: 1.6rem;
    }
  }
}

.btn-orange-disabled {
  background-color: #F26419;
}

.btn-blue-disabled {
  background-color: rgba(91, 146, 197, 1);
}

.btn-blue-text, .btn-orange-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  background-color: transparent;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 0 2rem;
  height: 5rem;
  border-radius: 4px;
  margin-right:5px;

  &:hover {
    border-radius: 4px;
    background-color: #E5E5E5;
  }

  p {
    font-weight: bolder !important;
    white-space: nowrap;
  }
}

.btn-blue-text {
  color: #3177B7;
}

.btn-orange-text {
  color: #F26419;
}

.btn-orange__white-border, .btn-blue__white-border {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 0 1rem;
  height: 4rem;
  background-color: white;
  border-radius: 4px;
  transition: all .25s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

  i, p, h4 {
    font-weight: 700 !important;
  }

  h4 {
    margin: 0;
    font-size: 1.6rem !important;
  }

  i {
    margin-right: 1rem;
  }

  &:hover {
    i, p, h4 {
      color: white;
    }
  }
}

.btn-orange__white-border {
  border: 1px solid #F26419;

  &:hover {
    background-color: #F26419;
    border: 1px solid #F26419;
  }

  i, p, h4 {
    color: #F26419;
  }
}

.btn-blue__white-border {
  border: 1px solid #3177B7;

  &:hover {
    background-color: #3177B7;
    border: 1px solid #3177B7;
  }

  i, p, h4 {
    color: #3177B7;
  }
}

.btn-orange__white-border-disabled {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 0 1rem;
  height: 4rem;
  background-color: white;
  border-radius: 4px;
  transition: all .25s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #F26419;
  opacity: .7;
  cursor: not-allowed;


  i, p, h4 {
    color: #F26419;
    font-weight: 700 !important;
  }

  h4 {
    margin: 0;
    font-size: 1.6rem !important;
  }

  i {
    margin-right: 1rem;
  }
}

.btn-white.flashing_button {
  -webkit-animation: glowing 1300ms infinite;
  -moz-animation: glowing 1300ms infinite;
  -o-animation: glowing 1300ms infinite;
  animation: glowing 1300ms infinite;

  i, p {
    color: white;
  }
}

@keyframes glowing {
  0% { background-color: #F26419; box-shadow: 0 0 3px #F26419; }
  50% { background-color: #F26419; box-shadow: 0 0 10px #F26419; }
  100% { background-color: #F26419; box-shadow: 0 0 3px #F26419; }
}


///////////////
// SEARCHBAR //
///////////////

.btn-reset-blue {
  height: 5rem;
  padding: 0 1rem;
  color: #3177B7;
}


//////////
// MISC //
//////////

.return-arrow {
  min-width: 0 !important;
  padding: 1.575rem 1.3rem !important;
  box-shadow: none !important;

  i {
    font-size: 1.4rem;
  }
  &:hover {
    opacity: 65%;
  }
}




.btn-csv {
  height: 32px;
  background-color: #F26419;
  color: white;
  &:hover {
    opacity: .8;
  }
  cursor: pointer;
}

#campaign-confirm-button {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
  padding: 20px;
  height: 5rem;
  background-color: #3177B7;
  border-radius: 4px;
  transition: all .25s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: white;
  bottom: 4vh;
  right: 10vw;

  @include from-medium {
    position: static;
    justify-content: space-between;
    width: auto;
    height: 5rem;
  }

  i, p, a {
    color: white !important;
    transition: all .25s ease-in-out;
    font-weight: 500;
    font-size: 1.3rem;
    font-weight: 600 !important;
    letter-spacing: 0.15em;

    @include from-medium {
      color: white !important;
      transition: all .25s ease-in-out;
      font-weight: 500;
      font-size: 1.3rem;
      font-weight: 600 !important;
      letter-spacing: 0.15em;
      text-transform: uppercase;
    }
  }
}


.back-arrow-btn-mobile {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  bottom: 4vh;
  left: 10vw;
  background-color: #3177B7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: white;
  z-index: 50;

}

@include from-medium {
  .back-arrow-btn-mobile {
    display: none;
  }
}

.next-arrow-btn-mobile {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  bottom: 4vh;
  right: 10vw;
  background-color: #3177B7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: white;
  z-index: 50;

}

.next-arrow-btn-mobile.disabled {
      opacity: 0.5;
    }


@include from-medium {
  .next-arrow-btn-mobile {
    display: none;
  }
}

.fa-paper-plane {
  margin-left: 1rem;

  &.no-margin {
    margin-right: 0;
  }
}

.completed {
  color: #56690A !important;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  background-color: #E6EAD7;
  padding: .5rem 1rem;
  border-radius: 4px;
  margin-right:5px;
  cursor: default;
  @include from-medium {
    p {
      font-size: 1.6rem !important;
    }
  }
}

.btn-edit-white {
  background-color: #F8D9C8 !important;


  i {
    color: #F26419  !important;
  }

  &:hover {
    border: 0.01rem solid #F26419 !important;

    i {
      color: #F26419  !important;
    }
  }
}

.btn-sign-in {
  height: 40px;
  background-color: #F26419 !important;
  color: white !important;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}

.btn-icon {
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  min-width: 0 !important;

  i {
    margin: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.btn-last {
  margin-right: 0 !important;
}

.btn-icon-grey {
  background-color: transparent;
  margin-bottom: 8px;
  &:hover {
    opacity: 65%
  }
  i {
    color:#8C8B8A;
  }
}

.cancel-submit-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
}


///////////////
// SEARCHBAR //
///////////////

.btn-reset-form {
  position: absolute;
  text-decoration: underline;
  left: 25rem;
  opacity: 0.5;
  cursor: pointer;

  &:hover { 
    opacity: 1;
  }
}
