.return-arrow {
  min-width: 0 !important;
  padding: 1.575rem 1.3rem !important;
  box-shadow: none !important;

  i {
    font-size: 1.4rem;
  }
  &:hover {
    opacity: 65%;
  }
}

.btn {
  font-size: 1.6rem;
  color: #F26419 !important;

  &:focus {
    box-shadow: none;
  }
}

.btn-white {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 0 1rem;
  height: 4rem;
  background-color: white;
  border-radius: 4px;
  transition: all .25s ease-in-out;
  cursor: pointer;

  i, p {
    color: #F26419;
  }

  i {
    margin-right: 1rem;
  }

  &:hover {
    background-color: #F26419;

    i, p {
      color: white;
    }
  }
}


.btn-edit-orange {
  background-color: #F26419 !important;
}

.btn-edit-white {
  background-color: #F8D9C8 !important;


  i {
    color: #F26419  !important;
  }

  &:hover {
    border: 0.01rem solid #F26419 !important;

    i {
      color: #F26419  !important;
    }
  }
}

.btn-sign-in {
  height: 40px;
  background-color: $yellow !important;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}

.btn-icon {
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  min-width: 0 !important;

  i {
    margin: 0;
  }
}

.btn-icon-small {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  min-width: 0 !important;

  i {
    font-size: 1.2rem;
  }

  &::after {
    z-index: 100;
  }
}

.btn-last {
  margin-right: 0 !important;
}

.btn-edit-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
  font-weight: 700;
  transition: all 0.1s;
  outline: none !important;
  margin-right: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 1px 3px 1px rgba(60,64,67,0.149);
  width: 115px;
  height: 35px;
  margin: 0;
  background-color: #F26419;

  a {
    font-size: 2rem !important;
    color: white;
  }

  i {
    font-size: 2rem !important;
    color: white;
    margin-right: 2rem;
  }

  &:hover, &:focus {
    background-color: #F8D9C8 !important;

    i, a {
      // color: black !important;
      color: #F26419 !important;
    }
  }
  @include from-medium-high {
      margin: 0 2.4rem;
  }
}

.btn-invite-users {
  font-size: 1.6rem;
  background-color: #E95F48;
  color: white !important;

  &:hover {
    color: white;
  }
}

.btn-disabled {
  opacity: .65 !important;

  &:hover {
    opacity: .65 !important;
    color: white;
    cursor: default;
  }
}

.btn-red {
  color: red;
}

button {
  border-color: transparent;
  color: #F26419 !important;
}

#mod-create-assessment-button {
  color: #F26419;
}

.booking-btn {
  width: auto;
  max-width: none;
  padding: 0.45rem 2rem;
  border-radius: 20px;
  box-sizing: border-box;
  font-weight: 800 !important;
  text-align: center;
  transition: all 0.1s;
  outline: none !important;
  margin-right: 0.5rem;
  a {
    color: #F26419;
  }
  border: 2px solid #F26419;
}

  .booking-btn:hover {
    a {color: white !important;}
    background-color: #F26419;
  }

.btn-filter-submit {
  opacity: 0.8;
  width: auto;
  max-width: none;
  padding: 0.45rem 2rem;
  border-radius: 0.22rem;
  box-sizing: border-box;
  font-weight: 800 !important;
  text-align: center;
  transition: all 0.1s;
  outline: none !important;
  margin-right: 0.5rem;
  color: #F26419 !important;
}

.icon-btn {
  background-color: #F7F7F7;
  i {
    color: #F26419 !important;
    font-size: 22px;
    margin-right: 10px;

  }
}

.pencil-btn {
   background-color: #F7F7F7;
  i {
    color:#8C8B8A;
  }
  &:hover {
    opacity: 65%;
  }
}

.btn-icon-grey {
  background-color: transparent;
  margin-bottom: 8px;
  &:hover {
    opacity: 65%
  }
  i {
    color:#8C8B8A;
  }
}
