.simple-calendar {

  width: 300px;

  @media screen and (max-width: 640px) {
    // table {
    // width:100%;
    // }
    // thead {
    // display: none;
    // }
    // tbody td {
    //    text-align:center;
    //    width:100%;
    // }
  }

  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: transparent !important;
    border: none !important;
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;

    td {
      padding-right: 10px !important;
      padding-left: 10px !important;
      border: none !important;
      background-color: transparent !important;
    }
  }

  tr {
    border-collapse: collapse;
  }

  th {
    padding: 8px;
    font-size: 15px;
    border-bottom: none !important;
    border-collapse: collapse;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    box-sizing: border-box;
    text-align: left;
    color: #888888;
    font-weight: 400 !important;
  }

  td {
    padding: 10px !important;
    vertical-align: top;
    width: 14%;
    border: none;
    font-size: 15px;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent !important;
  }


  .today {
    background: #F8D9C8 !important;
    border-radius: 50%;
  }

  .day {
    height: 100% !important;
    text-align: center;
  }

  .prev-month {
    background: transparent !important;
    opacity: 0;
  }

  .next-month {
    background: transparent !important;
    display: none !important;
  }
  .current-month {}

  .has-events {}
}


.calendar-heading {
  text-align: center;
  i {
    color: #F26419;
  }
}

.calendar-title {
  font-size: 2.5rem;
  color: #F26419;
  margin: 0 1rem;
}

.prev-month, .next-month {
  display: none !important;

  @include from-large {
    display: table-cell !important;
  }
}

.tab-grayed {
  color: rgba(0,0,0,0.3) !important;
}


.content-card-calendar {
  position: relative;
  background-color: white;
  border: none !important;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 5px;
}

.content-card-calendar-indicator-green {
  position: absolute;
  top: -0.7rem;
  right: -0.7rem;
  color: green;

  i {
    font-size: 1.4rem;
  }
}

.content-card-calendar-indicator-orange {
  position: absolute;
  top: -0.7rem;
  right: -0.7rem;
  color: orange;

  i {
    font-size: 1.4rem;
  }
}

.training-card-calendar-indicator-green {
  position: absolute;
  top: -0.3rem;
  right: 0.3rem;
  color: green;

  i {
    font-size: 1.4rem;
  }

}.training-card-calendar-indicator-orange {
  position: absolute;
  top: -0.3rem;
  right: 0.3rem;
  color: orange;

  i {
    font-size: 1.4rem;
  }
}
