// CLEANED - 2021-07-06

.simple-calendar {
  tr {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
  }
  td {
    margin-bottom: 1rem;
    width: 40px;
    height: 40px;
    background-color: none !important;
    border: none !important;
  }

  table {
    background-color: transparent !important;
    border: none !important;
  }

  th {
    font-weight: 400;
    font-size: 1.4rem;
    width: 45px;
  }

  thead {
    margin-right: 20px;
  }

   .today {
    background: #F8D9C8 !important;
    border-radius: 50%;
  }

  .day {
    text-align: center;

  }

  .prev-month {
    background: transparent !important;
    opacity: 0;
  }

  .next-month {
    background: transparent !important;
    color: lightgrey !important;
  }
  .current-month {}

  .has-events {}

  th {
    border-bottom: none !important;
    border-collapse: collapse;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    box-sizing: border-box;
    text-align: left;
    color: #888888;
  }

.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent !important;
}

.calendar-heading {
  text-align: center;
  i {
    color: #F26419;
  }
}

.calendar-title {
  font-size: 2.5rem;
  color: #F26419;
  margin: 0 1rem;
}

 .next-month {
  td {
   color: lightgrey;
  }

  @include from-large {
    display: table-cell !important;
  }
}

.tab-grayed {
  color: rgba(0,0,0,0.3) !important;
}

  .calendar-heading {
    a {
      font-weight: 400;
      font-size: 2.5rem;
    }
  }
}
