// CLEANED - 2021-07-08

.booklet-col {
  display: flex;
  justify-content:center;
  align-items: center;
}

.catalogue-card-container {
  height: 35rem;
  max-height: 35rem;
  width: 35rem;
  flex-shrink: 0;
  margin: 2rem 4rem;
  background-color: white;
}

.catalogue-card-container--mini {
  height: 15rem;
  width: 35rem;
  flex-shrink: 0;
  margin: 2rem 4rem;
}

.booklet-content-card {
  position: relative;
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgba(242, 100, 25, 0.17);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  h6 {
    font-size: 1.2rem
  }
}

.booklet-folder-card {
  position: relative;
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  h6 {
    font-size: 1.2rem
  }
}

.booklet-content-card-syn {
  background-color: rgba(242, 100, 25, 0.17);
  border-bottom: 2px solid rgba(242, 100, 25, 0.33);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 13rem;
}

.booklet-content-card-asyn {
  background-color: rgba(136, 158, 175, .17);
  border-bottom: 2px solid rgba(136, 158, 175, .33);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 13rem;
}

.booklet-content-card-top {
  padding: 1.5rem;
  height: 100%;
}

.booklet-folder-card-top {
  background-color: rgba(91, 146, 197, 0.31);;
  border-bottom: 2px solid rgba(91, 146, 197, 0.67);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 13rem;
  padding: 1.5rem;
}

.booklet-folder-card-top.disabled {
  background-color: rgba(127, 124, 130, .3);
}

.booklet-content-card__top-info, .booklet-folder-card__top-info {

  h3{
    display: inline;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 2rem;
  }

  .booklet-content-card__duration, .booklet-folder-card__duration {
    width: auto;
    margin-right: 2rem;
  }

  i.fa-file {
    margin-right: 1rem;
    font-size: 3rem;
    color: rgba(242, 100, 25, 0.33);
  }

  i.fa-folder {
    margin-right: 1rem;
    font-size: 3rem;
    color: #5B92C5;
  }

  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
  }
}

.booklet-content-card__options {
  z-index: 200;
  position: absolute;
  top: 15px;
  right: 10px;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  border-radius: 50%;

  &:hover {
    cursor:pointer;
    background-color: rgba(242, 100, 25, 0.33);
  }

  i {
    font-size: 2rem;
    color: #F26419;
  }
}

.booklet-folder-card__options {
  z-index: 200;
  position: absolute;
  top: 15px;
  right: 10px;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  border-radius: 50%;

  &:hover {
    cursor:pointer;
    background-color: rgba(91, 146, 197, .33);
  }

  i {
    font-size: 2rem;
    color: #5B92C5;
  }
}

.booklet-content-card-type-icon, .booklet-folder-card-type-icon {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin: 0 !important;

  i {
    margin-right: 10px;
  }
}

.booklet-content-card__categories, .booklet-folder-card__categories {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.booklet-content-card__category-pill {
  padding: .5rem;
  border-radius: 15px;
  margin-right: 1rem;
  background-color: rgba(242, 100, 25, 0.33);

  p {
    color: white;
    font-size: 1.2rem;
  }
}

.booklet-content-card__category-pill--new {
  padding: .5rem;
  border-radius: 15px;
  margin: 0 1rem 1rem 0;
  background-color: rgba(242, 100, 25, 0.33);

  p {
    color: white;
    font-size: 1.2rem;
  }
}

.booklet-folder-card__category-pill {
  padding: .5rem;
  border-radius: 15px;
  margin-right: 1rem;
  background-color: rgba(91, 146, 197, 1);

  p {
    color: white;
    font-size: 1.2rem !important;
  }
}

.booklet-folder-card__category-pill--new {
  padding: .5rem;
  border-radius: 15px;
  margin: 0 1rem 1rem 0;
  background-color: rgba(91, 146, 197, 1);

  p {
    color: white;
    font-size: 1.2rem !important;
  }
}

.booklet-content-card-bottom, .booklet-folder-card-bottom {
  position: relative;
  padding: 1.5rem;
  height: 20rem;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.booklet-content-card-bottom__top-right-icon {
  position: absolute;
  top: 11px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p, i {
    font-size: 1.6rem;
    color: rgba(242, 100, 25, 0.33);
  }

  p {
    margin-right: .75rem;
  }
}

.booklet-content-card-bottom__mods {
  padding-top: 3rem;
}

.booklet-content-card-bottom__mod {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  i {
    font-size: 2.4rem;
    margin-right: 1rem;
    color: #F26419;
  }

  p {
    font-size: 1.8rem;
    width: 91%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// CARD TREE

.booklet-folder-card-tree {

  p {
    margin: 0 1rem;
  }

  & > ul {
    padding: 0;
  }

  .line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
  }

  .fa-folder {
    color: rgba(91, 146, 197, 0.67);
    font-size: 2.4rem;
  }

  .fa-file {
    color: #E9986E;
    font-size: 2.4rem;
  }
}
