.dropdown-toggle::after {
  content: none !important;
}

.dropdown-menu {
  a {
    font-size: 1.6rem;
  }
}

.dropdown-item {
  padding: 1rem !important;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.dropdown-menu-left {
  left: 0 !important;
  right: auto !important;
  .show {
    left:-60px !important;
  }
}

#dropdown-user-menu {
  min-width: 24rem;
  margin-top: 4px;
}

.dropdown-card {
  padding: 1rem;


  i, h6 {
    font-size: 1.2rem;
    margin-bottom: 3px;
  }

  p {
    margin-bottom: 0.5rem;
  }
}

.dropdown-card-text {
  width: 60%;
  text-align: left;
}

.dropdown-form {

  &:focus, &:active, &:hover {
    background-color: white;
  }
}

.dropdown-menu-filter {
  transform: translate3d(33px, 1px, 0px) !important;
}

