.left-navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  position: fixed;
  top: 0;
  width: 25rem;
  height: 100vh;
  min-height: 60rem;
  z-index: 50;
  text-align: left;

  p, a {
    color: black;
  }
}

.left-navbar-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #23282e;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 5rem;
  z-index: 2;

  text-align: left;

  @include from-large {
    display: none;
  }
}

.left-navbar-top {
  height: 12rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin-bottom: 5rem;

  .avatar {
    margin-bottom: 15px;
  }
}

.left-navbar-middle {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  height: calc(100vh - 275px)
}

.left-navbar-top-view-mode {
  height: 7.9rem;
  min-height: 7.9rem;
}

.left-navbar-middle-view-mode {
  overflow-x: hidden;
  overflow-y: auto;
  border-top: 1px solid black;
}

.left-navbar-middle::-webkit-scrollbar {
  width: 0 !important;
}

.left-navbar-middle-mobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left-navbar-bottom {
  display: flex;
  justify-content: center;
}

.left-buttons {
  color: black;
}

.left-buttons-mobile {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

    &:focus {
    background-color: #FFC552;
  }
}

.left-navbar a {
  text-decoration: none;
  text-transform: none;
  // color: #2d2c2cde;
  color: black;
  font-size: 18px;
}

.avatar {
  height: 100px;
  width: 100px;
  object-fit:cover;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 38px;
}

.left-navbar-logo {
  width: 200px;
  height: 100%;
  object-fit: cover;
}

.left-menu-icon {
  width: 2rem;
}

.left-menu-list {
  display: flex;
  align-items: center;
  height: 47px;
  width: 200px;
  padding: 0 1rem;
  border-radius: 5px;
  margin-bottom: 3rem;

  &:hover {
    background: rgba(242,100,25,0.24);

    i, h4 {
    color: #F26419;
    }

    i {
    }
  }
}

.left-menu-list.active {
  display: flex;
  align-items: center;
  height: 47px;
  width: 200px;
  padding: 0 1rem;
  background: rgba(242,100,25,0.24);
  border-radius: 5px;
  margin-bottom: 3rem;

  i, h4 {
    color: #F26419;
  }
}

.left-menu-list-mobile {
  width: 20px;
  height: 20px;

  i {
    font-size: 20px;
  }
}

.left-menu-list-view-mode {
  display: flex;
  align-items: center;
  padding: 24px;
  width: 220px;
  border-bottom: 2px solid black;
}

.left-navbar ul {
  list-style: none;
}

.dropdown-menu {
  min-width: unset;

  li {
    padding: 0 10px;
  }
}

.dropdown-menu-right {
  right: auto;
  left: auto;
}

.left-buttons {
  font-size: 8px;
  font-weight: lighter;
}

.left-menu-title {
  text-align: left;
  margin-left: 3rem;
  h4 {
    font-weight: 400;
    margin: 0;
  }
}

.left-menu-title-view-mode {
  width: 100%;
  text-align: left;

  h4 {
    font-weight: 400;
    margin: 0;
  }

  p:last-of-type {
    color: #a8a8a8;
  }
}

.active-menu {
  background: rgba(242,100,25,0.24);
}

.left-navbar-active {
  display: flex;
}
