.left-navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #F1F3F4;
  position: fixed;
  top: 0;
  width: 22rem;
  height: 100vh;
  min-height: 60rem;
  margin-top: 5rem;
  z-index: 1;
  text-align: left;

  p, a {
    color: black;
  }
}

.left-navbar-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #23282e;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 5rem;
  z-index: 2;

  text-align: left;

  @include from-large {
    display: none;
  }
}

.left-navbar-top {
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .avatar {
    margin-bottom: 15px;
  }
}

.left-navbar-middle {
  overflow-x: hidden;
  overflow-y: auto;
}

.left-navbar-middle::-webkit-scrollbar {
  width: 0 !important;
}

.left-navbar-middle-mobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left-navbar-bottom {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 38px;
}

.left-buttons {
  color: black;
}

.left-buttons-mobile {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

    &:focus {
    background-color: #FFC552;
  }
}

.left-navbar a {
  text-decoration: none;
  text-transform: none;
  // color: #2d2c2cde;
  color: black;
  font-size: 18px;
}

.avatar {
  height: 100px;
  width: 100px;
  object-fit:cover;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 38px;
}

.left-navbar-logo img {
  width: 100px;
}

.left-menu-list {
  display: flex;
  align-items: center;
  padding: 24px;
  width: 220px;

  &:hover {
    background-color: #FDC553;

    i, h4 {
    color: white;
    }
  }
}

.left-menu-list.active {
  display: flex;
  align-items: center;
  padding: 24px;
  width: 220px;
  background-color: #FDC553;

  i, h4 {
    color: white;
  }
}

.left-menu-list-mobile {
  width: 20px;
  height: 20px;

  i {
    font-size: 20px;
  }
}

.left-navbar ul {
  list-style: none;
}

.dropdown-menu {
  min-width: unset;

  li {
    padding: 0 10px;
  }
}

.dropdown-menu-right {
  right: auto;
  left: auto;
}

.left-buttons {
  font-size: 8px;
  font-weight: lighter;
}

.left-menu-title {
  text-align: left;
  margin-left: 20px;
  h4 {
    font-weight: 400;
    margin: 0;
  }
}

.active-menu {
  background-color: #FFC552;
}

.left-navbar-active {
  display: flex;
}
