body.filter-open {
  max-height: 100vh;
  overflow-y: hidden;
}

.modal {
  overflow-y: auto !important;
  padding: 0 !important;
  text-align: center;
}

.modal-open {
  overflow: auto !important;
  padding-right: 0px !important;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 25%;
  }
}

.modal.show {
  // display: flex !important;
  // align-items: center;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-header {
  padding: 1rem 2rem;
  align-items: center !important;
  border-bottom: none;
}

.mod-date {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include from-large {
    flex-direction: row;
  }
}

#modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  h3 {
    font-weight: 700;
  }
}

#modal-title-consult {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

#modal-title button {
  border: none;
  font-size: 24px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row-reverse;
}

.modal-body {
  padding: 1rem 2rem;
  border-top: 1px solid #dee2e6;

  .label-checkbox {
      font-size: 12px;
    }

  p {
    font-size: 1.6rem;
    font-weight: 300;
  }

  @include from-medium-high {
    .label-checkbox {
      font-size: 16px;
    }
  }
}

.modal-lg {
  z-index: 9500 !important;
}


.modal-image {

  img {
    max-width: 100%;
  }
}


.modal-content {
  border-radius: 5px !important;
  label {
    font-size: 1.4rem;
    abbr {
      display:none;
    }
  }
}

.modal-body {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.modal-email-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;

  .btn-blue {
    color: white;
    font-weight: bold;
  }
}

.module-description {
  padding: 1rem 1rem;
}

.accordion-module {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion-module:hover {
  background-color: #fff;
}

/* Style the accordion panel. Note: hidden by default */
.panel-module {
  padding: 0 18px 0 28px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.theme-title, .theme-description {
  display:flex;
  justify-content: space-between;
  align-items: center;
  i {
    color: #F26419;
  }
}

.theme-title {
  p {
    font-weight: 700;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

  }
}

.theme-description {

  & > div {
    margin-top: 1rem;
  }

  .description, form {
    margin-bottom: 1rem;
  }

  .hidden-form-ajax {
    margin: 0;
  }
}

.new-theme {
  margin: 30px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 28px;

  i {
    color: #F26419;
    margin-left: 1rem;
  }
  margin-bottom: 30px 0px;
}

.new-theme-form {
    input {
      border: none;
      margin-bottom: 5px;
    }

  #category_title {
    width: 233px;
  }
  display: flex;
  flex-direction: column;
}

.save-btn-mobile {
  i {
  display:block;
  }
  @include from-medium-low {
    i {
    display: none;
    }
  }
}

.categories-form {
  position: relative;

  .categories-form-checkboxes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;
    overflow: scroll;

    div {
      overflow: auto;
    }

    .category-delete {
      opacity: 0;
      margin-left: 2rem;
      transition: all .75s ease-in-out;
    }
  }

  i {
    margin-right: 3px;
    cursor: pointer;

    &:hover {
      opacity: 70%;
    }
  }

  .fa-plus-content {
    color: #F26419;
  }

  .fa-plus-folder {
    color: #5b92c5;
  }

  label {
    margin-left: 1rem;
  }

  p {
    height: 2.4rem !important;
    background: none !important;
    color: black !important;
    padding: 0 !important;
    margin: 0 0 0 1rem !important;
  }

  .hidden-form-category-ajax {
    position: absolute;

    .new_category {

      input {
        height: 2.4rem !important;
      }
    }
  }

  .btn {
    margin-top: 1rem;
  }

  .save-btn {
  margin: 0 !important;
  color: white !important;
  font-weight: 600;
  }
}

.new_category {
  input {
    border: none;
    padding: 0;
  }
  input:focus {
    border: none;
    background-color: transparent;
  }
  .fa-save {
    margin-right: 12px;
    color:#F26419;
  }
}


// CATALOGUE

.modal-header__content {
  background-color: rgba(242, 100, 25, 0.33);
}

.modal-header__folder {
  background-color: rgba(91, 146, 197, 0.67);
}

.modal-header__campaign {
  background-color: #3177B7;
}

.modal-body__content-categories-div, .modal-body__folder-categories-div {
  width: 30rem;
  min-height: 10rem;
  border: 1px solid #ced4da;
  padding: 1rem 1rem 3rem 1rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.modal-body__categories-add-icon--content {
  position: absolute;
  bottom: .5rem;
  right: .75rem;

  i {
    font-size: 2rem;
    color: #F26419;
    cursor: pointer;
  }
}

.modal-body__categories-add-icon--folder {
  position: absolute;
  bottom: .5rem;
  right: .75rem;

  i {
    font-size: 2rem;
    color: #5B92C5;
    cursor: pointer;
  }
}
