// CLEANED - 2021-07-06

.navbar {
  position: sticky;
  top: 0;
  // border-bottom: 1px solid #c4c4c4;
  height: 5rem;
  display: none;
  justify-content: space-between;
  border-bottom: 0.1rem solid #d3d3d3;
  z-index: 1000;
  background-color: white;

  @include from-medium {
    height: 7.5rem;
    padding: 3rem 3rem 3rem 3rem;
    display: flex;
  }

  a {
    text-decoration: none;
    text-transform: none;
    color: black;
    // font-size: 1.8rem;
  }

  ul {
    list-style: none;
  }

  .orange {
    color: #F26419;
  }
}

.navbar-active {
  display: flex;
}

.navbar--mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 6rem;
  background-color: white;
  z-index: 100;
  text-align: left;

  @include from-medium {
    display: none;
  }
}

.navbar-top {
  min-height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: .5rem;

  i {
    color: #FFC552;
    cursor: pointer;
  }
}

.navbar-middle {
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.navbar-middle::-webkit-scrollbar {
  width: 0 !important;
  display: none;  /* Safari and Chrome */
}

.navbar-middle--mobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-logo img {
  width: 10rem;
}

.navbar-logo-small img {
  width: 4rem;
  margin-bottom: 5rem;
}

.navbar-controls {
  height: 100%;
  margin-right: 30px;
  display: inherit;
  justify-content: space-around;
  align-items: center;
}

.top-left-nav {
  font-family: 'Montserrat';
  display: flex;
  justify-content: flex-start;
  align-items: center;

  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    list-style-type: none;
    margin-top: 20px;
    padding-left: 0;
  }

  li {
    padding-right: 80px;
  }

  ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 1.6rem;;
    color: black;
    padding: 4px 0;
    transition: 0.5s;
  }

  ul li a::after {
    height: 4px;
    position: absolute;
    content: "";
    width: 100%;
    top: 100%;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }

  ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.left-buttons {
  color: black;
}

.left-buttons--mobile {
  height: 6rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;

    i:active, i:focus {
    color: white;
  }

}

.menu-list--mobile {
  width: 2rem;
  height: 2rem;

  i {
    font-size: 2rem;
    color: #F26419;
  }

  i:active {
    color: white !important;
  }
}

.left-buttons {
  font-size: 0.8rem;
  font-weight: lighter;
}

.left-menu-title {
  text-align: left;

  h4 {
    font-size: 1.6rem !important;
    margin-bottom: 8px;
    font-weight: 400;
  }
}


////////////////////////
// Icons Menu Dropdown //
////////////////////////

.navbar__icons-menu {

  i {
    font-size: 2.8rem;
  }

  #dropdown-icon-menu {
    left: -7.5rem;
    top: 4rem;

    div {
      width: 18rem;
      max-width: 20rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .menu-icon {
      height: 3.5rem;
      width: 7rem;
      margin: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .menu-icon__booklet {

      .booklet-icon-container {
        color: #F26419;
      }

      i {
        color: #F26419;
      }
    }

    .menu-icon__campaign {

      .interview-icon-container {
        color: #3177B7;
      }

      i {
        color: #3177B7;
      }
    }
  }
}


/////////////////////
// DROPDOWN MOBILE //
/////////////////////

// .seven-burger-menu {
//   background-color: rgba(0,0,0,0);
//   top: -9px;
//   left: -135px;
//   box-shadow: none;
//   border: none;
//   cursor: default !important;
//   min-width: 0;

//   div {
//     display: flex;
//     flex-direction: column;
//     width: 110px;
//     align-items: flex-end
//   }

//   a {
//     font-family: 'Montserrat Bold';
//     font-size: 18.36px;
//     color: white;
//     margin-bottom: 5px;
//     border-bottom: 1px solid rgba(0,0,0,0);
//     width: min-content;
//     margin-bottom: 1rem;
//     opacity: 0;
//     transition: all .25s ease-in-out;

//     &:hover {
//       // border-bottom: 1px solid white;
//       color: #FBC84A;
//     }

//     @keyframes translateX {
//       0% {
//         opacity: 0;
//         transform: translateX(0px);
//       }
//       50% {
//       }
//       100% {
//         opacity: 1;
//         transform: translateX(-10px);
//       }
//     }
//   }

//   @for $item from 1 through 2 {
//     a:nth-of-type(#{$item}) {
//       animation: translateX 300ms ($item * 120ms) ease-in-out forwards;
//       // transform-origin: top center;
//     }
//   }
// }

.seven-burger-menu {
  top: 1rem !important;

  .dropdown-item {
    font-weight: bolder;
  }

  .dropdown-item-blue {
    color: #3177B7;

    &:hover {
      color: white;
      background-color: #3177B7;
    }
  }

  .dropdown-item-orange {
    color: #F26419;

    &:hover {
      color: white;
      background-color: #F26419;
    }
  }
}

#dropdownMenuButton {
  width: 20px;
  height: 15px;
  position: relative;
  // margin: calc(50px / 3) auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}



#dropdownMenuButton span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: black;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#dropdownMenuButton span:nth-child(even) {
  left: 50%;
  border-radius: 0 3px 3px 0;
}

#dropdownMenuButton span:nth-child(odd) {
  left:0px;
  border-radius: 3px 0 0 3px;
}

#dropdownMenuButton span:nth-child(1), #dropdownMenuButton span:nth-child(2) {
  top: 0px;
}

#dropdownMenuButton span:nth-child(3), #dropdownMenuButton span:nth-child(4) {
  top: 6px;
}

#dropdownMenuButton span:nth-child(5), #dropdownMenuButton span:nth-child(6) {
  top: 12px;
}

#dropdownMenuButton.open span:nth-child(1),#dropdownMenuButton.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#dropdownMenuButton.open span:nth-child(2),#dropdownMenuButton.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#dropdownMenuButton.open span:nth-child(1) {
  left: calc(5px / 3);
  top: calc(7px / 3);
}

#dropdownMenuButton.open span:nth-child(2) {
  left: calc(50% - calc(5px / 3));
  top: calc(7px / 3);
}

#dropdownMenuButton.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#dropdownMenuButton.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#dropdownMenuButton.open span:nth-child(5) {
  left: calc(5px / 3);
  top: calc(27px / 3);
}

#dropdownMenuButton.open span:nth-child(6) {
  left: calc(50% - calc(5px / 3));
  top: calc(27px / 3);
}


//////////////////
// Toggle Admin //
//////////////////

.toggle-admin {
  margin-left: 30px;
  font-size: medium;

  .btn-secondary{
    background-color: #fff !important;
    color: #858585 !important;
    border-color: #d3d3d3 !important;
  }

  .btn-secondary.active {
    background-color: #F5D2C0 !important;
  }

  .btn-left {
    border-radius: 8px 0 0 8px;
    padding-left: 20px;
    padding-right: 15px;
  }

  .btn-right {
    border-radius: 0 8px 8px 0;
    padding-right: 20px;
    padding-left: 15px;
  }
}


///////////////
// User Menu //
///////////////

.navbar-user-card {

  div {
    margin: 0 2rem 0 0;
  }

  h6 {
    margin: 0;
  }
}

.user-top-nav {
  margin-left: 2rem;
}

.user-info {
  border-bottom: 1px solid lightgrey;
}


///////////////////
// Navbar Orange //
///////////////////

.navbar__orange {

  .top-left-nav {

    ul li a::after {
      background: #F26419;
    }

    ul li a:hover {
      color:  #F26419;
    }
  }

  .isactive {
    border-bottom: 4px solid #F26419;
  }

  .fa-th {
    color: #F26419;
  }

  .btn-secondary.active {
    color: #F26419 !important;
    border-color: #F26419 !important;
  }
}


/////////////////
// Navbar Blue //
/////////////////

.navbar__blue {

  .top-left-nav {

    ul li a::after {
      background: #3177B7;
    }

    ul li a:hover {
      color:  #3177B7;
    }
  }

  .isactive {
    border-bottom: 4px solid #3177B7;
  }

  .fa-th {
    color: #3177B7;
  }

  .btn-secondary.active {
    color: #3177B7 !important;
    border-color: #3177B7 !important;
    background-color: #DEE9F3 !important;
  }
}
