.navbar {
  position: sticky;
  top: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  z-index: 40;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar-controls {
  height: 100%;
  margin-right: 30px;
  display: inherit;
  justify-content: space-around;
  align-items: center;
}

.navbar-controls-left {
  width: 22rem;
}

.navbar-notification-indicator {
  position: absolute;
  top: -0.7rem;
  right: 0;

  i {
    color: red;
    font-size: 1rem;
  }
}

.navbar-icon {
  color: #8C8B8A;

  i {
    font-size: 20px !important;
    margin-right: 5px;
  }

  .fa-envelope {
    padding: 5px;
  }

  .fa-bell {
    padding: 5px 6.25px;
  }

  &:hover {
    color: #cccccc;

    i {
      border: 1px solid white;
    }
  }
}

.nav-item {
}

.nav-link {
  height: auto;
}

.notification-show, .notification-show-undead {
  min-width: 10rem;
}

.notification-show-link {
  margin-left: 1rem;
}

.navbar-user-card {
  border-radius: 0.8rem;
  padding: 0.5rem;
  background-color: #DAD9D8;
  width: 200px;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  div {
    margin: 0 2rem 0 0;
  }

  h6 {
    margin: 0;
  }

  &:hover {
    background-color: #F1F3F4;
  }
}

.dropdown-menu-new {
  left: 27px;
}

.dropdown-menu-notification {
  border: none !important;
}
