#searchbar {
  position: relative;
  margin-bottom: 2rem;

  form {
    display: flex;
    align-items: center;
  }

  input:not([type=submit]), select {
    height: 5rem;
    border-radius: .5rem;
    border: 1px solid #C4C4C4;

    &:focus {
      outline: none;
      box-shadow: none;
      border: 1px solid $bkt-dark-grey !important;
    }
  }

  select {
    color: #C4C4C4;
  }

  .form-group {
    margin-bottom: 0 !important;
  }

  #search_title {
    width: 25rem;
    padding: 0 4rem 0 1rem;
    margin-right: 1rem;
  }

  .search_period {
    height: 5rem;
    width: 13rem;
    padding: 0;
    margin-right: 1rem;
    border-radius: .5rem;
    overflow: hidden;
    background-color: #FBFBFB;
    position: relative;

    select {
      padding: 5px 8px;
      border: 1px solid #C4C4C4;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    &:after {
      top: 50%;
      left: 85%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(0, 0, 0, 0);
      border-top-color: #000000;
      border-width: 5px;
      margin-top: -2px;
      z-index: 100;
    }
  }

  .btn-search--mobile {
    display: block;

    @include from-medium {
      display: none;
    }
  }

  .searchbar-icon {
    position: absolute;
    z-index: 150;
    left: 22rem;
    top: 16.6px;
    color: #C4C4C4;
  }
}


////////////////////////
// CAMPAIGN SEARCHBAR //
////////////////////////

#searchbar-campaign-filter__dropdown-container {

  #searchbar-campaign-filter {

    svg {
      margin-right: 1rem;
    }
  }

  .searchbar-campaign-filter__selected {
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #C4C4C4;
    color: white;
    letter-spacing: 0;
  }

  #searchbar-campaign-filter__dropdown {
    min-width: 35rem;
    margin-top: 1rem;
    transform: translate3d(0px, 50px, 0px) !important;
    max-height: calc(100vh - 20rem);
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    div {
      margin: 0;
    }

    .searchbar-campaign-filter__dropdown-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 5rem;
      padding: 0 2rem;

      button {
        color: #3177B7;
      }
    }

    .searchbar-campaign-filter__filter-container {

      form {
        display: block;
      }

      .searchbar-campaign-filter__filter-block {
        max-height: 5rem;
        background-color: #F4F4F4;
        overflow-y: hidden;
      }

      .searchbar-campaign-filter__filter-block-title {
        height: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem 0 1rem;
        background-color: white;


        & > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }

      .searchbar-campaign-filter__filter-block-checkboxes {
        padding: 2rem 2rem 1rem 3rem;

        .form-check {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }
  }
}

.searchbar-campaign__pill-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .searchbar-campaign__pill {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(49, 119, 183, 0.6);;
    box-shadow: 0px 2px 5px rgba(156, 156, 156, 0.25);
    border-radius: 2.5rem;
    padding: 2rem;

    p, i {
      color: white;
    }

    p {
      font-weight: bolder;
      white-space: nowrap;
    }

    i {
      margin-left: 1rem;
    }
  }
}
