.searchbar {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-right: 1rem;

  form {
    display: flex;
    align-items: flex-end;
  }

  div {
    margin-bottom: 0;
  }

  input, select {
    height: 40px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .25);
    margin: 0 1rem 0 0;

    &:focus {
      border-color: #ced4da;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, .25);
    }
  }

  input {
    position: relative;
    width: 300px;
    padding: 0 6rem 0 3.5rem;
    font-style: normal;
  }

  .flatpickr-input {
    padding: 1rem;
    width: 10.5rem !important;
  }

  .btn-search, .btn-reset {
    width: 75px;
    padding: 0;
  }

  .btn-reset {
    height: 4rem;
    color: #F26419;
  }

  .searchbar__checkboxes-container {
    position: relative;

    .searchbar__checkboxes-container-pseudo-input {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      margin: 0;
      background-color: white;
      border: 1px solid #ced4da;
      border-radius: 4px;
      color: #7a7a7a;
      cursor: pointer;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

      p {
        font-style: italic;
      }
    }

    .searchbar__checkboxes {
      width: 20rem;
      max-height: 20rem;
      overflow-y: scroll;
      padding: 1rem;
      position: absolute;
      top: 7rem;
      left: 0;
      margin: 10px 0 auto;
      background-color: white;
      border: 1px solid #ced4da;
      border-radius: 2px;
      color: #7a7a7a;
      z-index: 100;

      .searchbar__checkboxes-reset {
        margin: 0 0 .5rem 2.4rem;
        cursor: pointer;
      }

      .centered-item:first-of-type {
        height: 2.4rem;
        margin: 0;
      }

      span {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: .5rem;
      }

      span:last-of-type {
        margin: 0;
      }

      label {
        margin: 0;
        white-space: nowrap;
      }
    }
  }
}

.catalogue-controls__search-trainings-icon {
  position: absolute;
  z-index: 150;
  left: 12px;
  bottom: 11px;
  color: #C4C4C4;
}
