// CLEANED - 2021-07-06

.nav-tabs {
  border-bottom: none;
  list-style-type: none !important;
  box-shadow: none !important;
}

.nav-tabs > li {
  margin-bottom: 10px;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.nav-tabs > li > a {
  padding-left: 0;
  padding-right: 0;
  color: black;
  text-decoration: none;
  font-size: 20px;
  @include from-large {
    font-size: 25px;
  }
}

.nav-tabs > li > a.active {
  font-weight: 500;
  background-color: #F8D9C8;
  border-radius: 5px;
  color: #F26419;
}

.nav-tabs > li > a:not(.active):hover {
  color: #888888;
}

.nav-tabs-trainings {
  // width: 330px;
  margin: 90px 10px 40px;
  justify-content: flex-start;

  li {
    margin-right: 2rem;
  }
}

.nav-tabs-trainings > li > a.active {
  font-weight: 800;
  color: black;
}

.nav-tabs-trainings > li > a:not(.active):hover {
  color: #F26419;
}

.nav-tabs-trainings > li > a {
  padding-left: 0;
  padding-right: 0;
  color: #888888;
  text-decoration: none;
}


//////////////////
// BOOKLET TABS //
//////////////////

.booklet-tab-control {
  color: $bkt-dark-grey;
  border-bottom: .5px solid $bkt-light-grey5;
  height: 33.5px !important;

  .interviews-tab-control__counter {
    background-color: $bkt-light-grey5;

    p { color: $bkt-white; }
  }
}

.booklet-tab-orange {

  &.active {
    color: $bkt-orange;
    border-bottom: .5px solid $bkt-orange;

    .interviews-tab-control__counter {
      background-color: $bkt-light-orange;

      p { color: $bkt-orange; }
    }
  }
}

.booklet-tab-blue {

  &.active {
    color: $bkt-blue;
    border-bottom: .5px solid $bkt-blue;

    .interviews-tab-control__counter {
      background-color: $bkt-light-blue;

      p { color: $bkt-blue; }
    }
  }
}

.interviews-tab-control {
  color: $bkt-dark-grey;
  border-bottom: .5px solid $bkt-light-grey5;

  .interviews-tab-control__counter {
    background-color: $bkt-light-grey5;

    p { color: $bkt-white; }
  }

  &.active {
    background-color: transparent;
    color: $bkt-blue;
    border-bottom: .5px solid $bkt-blue;

    .interviews-tab-control__counter {
      background-color: $bkt-light-blue;

      p { color: $bkt-blue; }
    }
  }
}

//////////////////
