// .trix-content {
//   border-top: 1px solid transparent;
//   border-left: 1px solid transparent;
//   border-right: 1px solid transparent;
//   border-bottom: 2px solid #3177B7;
//   outline: none;
//   background-color: rgba(49, 119, 183, 0.05);
//   &::before {
//     color: #ced4da;
//   }

//   .trix-editor{
//     font-size: 16px;
//   }

//   .attachment-gallery {
//     > action-text-attachment,
//     > .attachment {
//       flex: 1 0 33%;
//       padding: 0 0.5em;
//       max-width: 33%;
//     }

//     &.attachment-gallery--2,
//     &.attachment-gallery--4 {
//       > action-text-attachment,
//       > .attachment {
//         flex-basis: 50%;
//         max-width: 50%;
//       }
//     }
//   }

//   action-text-attachment {
//     .attachment {
//       padding: 0 !important;
//       max-width: 100% !important;
//     }
//   }
// }

// .trix-button-row { display: none !important; }

// .interview-question__form-description {
//   .trix-content {
//     border: none;
//   }
// }

trix-editor {
  span {
    font-size: 1.4rem;
  }

  ul {
    list-style: disc;
    padding-left: 2rem;
  }

  ol {
    list-style: decimal;
    padding-left: 2rem;
  }

  li {
    font-size: 1.4rem;
    margin: 0;
  }
}

.trix-content {
  margin-bottom: 2rem;
  border: 0.5px solid $bkt-light-grey5 !important;
}

.trix-button-row {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.trix-button-row::-webkit-scrollbar {
  width: 0 !important;
  display: none;  /* Safari and Chrome */
}

.edit_interview_question {

  .trix-content {
    background-color: $bkt-light-blue;
  }
}

.edit_mod {

  .trix-content {
    background-color: $bkt-light-orange;
  }
}

.trix-display {
  width: 100%;
  margin: 1rem 0 5rem 0;
  font-size: 1.6rem;

  div, p, span, strong {
    font-size: 1.6rem;
  }

  strong {
    font-weight: 600;
  }

  ul {
    list-style: disc;
    padding-left: 2rem;
  }

  ol {
    list-style: decimal;
    padding-left: 2rem;
  }

  li {
    font-size: 1.4rem;
    margin: 0;
  }
}


////////////////////
// CUSTOM TOOLBAR //
////////////////////

.trix__hide-toolbar {

  trix-toolbar {
    height: 0;
    overflow: hidden;
    transition: all .25s ease-in-out;
  }
}

.trix__toolbar-within {
  position: relative;

  trix-toolbar {
    padding: 1px 1px 0 1px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: .5;
    transition: all .25s ease-in-out;

    .trix-button {
      border: none !important;
    }

    .trix-button-group {
      margin: 0 !important;
      padding-left: 1rem;
      padding-right: 1rem;
      border: none;
      border-radius: 0;

      &:first-of-type {
        padding-left: 0;
        border-right: 1px solid $bkt-light-grey;
      }

      &:last-of-type {
        padding-right: 0;
      }
    }

    .trix-button {
      width: 3rem;
      padding: 0 !important;
      margin: 0 0.25em;

      &:first-of-type { margin-left: 0; }
      &:last-of-type { margin-right: 0; }
    }

    button.underline {
      font-size: 18px;
      vertical-align: bottom;
      text-decoration: underline;
    }

    .trix-active {
      background: $bkt-light-grey !important;
    }
  }

  trix-editor {
    padding-top: 4.5rem !important;
  }
}


///////////////////////
// BUTTON MANAGEMENT //
///////////////////////

.trix-button--icon-quote, .trix-button--icon-code {
  display: none;
}

.trix-button-group:nth-of-type(3) {
  display: none;
}
