// .trix-content {
//   border-top: 1px solid transparent;
//   border-left: 1px solid transparent;
//   border-right: 1px solid transparent;
//   border-bottom: 2px solid #3177B7;
//   outline: none;
//   background-color: rgba(49, 119, 183, 0.05);
//   &::before {
//     color: #ced4da;
//   }

//   .trix-editor{
//     font-size: 16px;
//   }

//   .attachment-gallery {
//     > action-text-attachment,
//     > .attachment {
//       flex: 1 0 33%;
//       padding: 0 0.5em;
//       max-width: 33%;
//     }

//     &.attachment-gallery--2,
//     &.attachment-gallery--4 {
//       > action-text-attachment,
//       > .attachment {
//         flex-basis: 50%;
//         max-width: 50%;
//       }
//     }
//   }

//   action-text-attachment {
//     .attachment {
//       padding: 0 !important;
//       max-width: 100% !important;
//     }
//   }
// }

// .trix-button-row { display: none !important; }

// .interview-question__form-description {
//   .trix-content {
//     border: none;
//   }
// }

.trix-content {
  margin-bottom: 2rem;
  border: 0.5px solid $bkt-light-grey5 !important;
}

.trix-button-row {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.trix-button-row::-webkit-scrollbar {
  width: 0 !important;
  display: none;  /* Safari and Chrome */
}

.edit_interview_question {

  .trix-content {
    background-color: $bkt-light-blue;
  }
}

.edit_mod {

  .trix-content {
    background-color: $bkt-light-orange;
  }
}
