<div class="campaigns-index-container">
  <div class="campaigns-index">
    <div class="campaigns-index__controls">
      <div class="campaigns-index__title-tags">
        <h1>Campaigns</h1>
        <div class="campaigns-index__tags">
          <p class='campaigns-index__tag'>All</p>
        </div>
      </div>
      <button class='campaigns-index__filter_button'>
        <span class="iconify" data-icon="bi:filter"></span>
        <p>Filter</p>
      </button>
    </div>
  </div>
</div>
