#container-pdf h1 {
  font-size: 2.4rem;
  font-weight: bolder;
  font-family: 'Montserrat';
}

#container-pdf h2 {
  font-size: 2rem;
  font-style: italic;
  font-family: 'Montserrat';
}

#container-pdf p, #container-pdf i, #container-pdf span, #container-pdf li, #container-pdf div {
  font-family: 'Montserrat';
}

#container-pdf li {
  margin-bottom: 1rem;
}

div.alwaysbreak--pdf { page-break-before: always; }
div.nobreak--pdf:before { clear:both; }
div.nobreak--pdf{ page-break-inside: avoid; }

.flex-box--pdf {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-self: center;
  align-self: center;
}

//////////////////////
// INTERVIEW - SHOW //
//////////////////////

.interview-main__right--pdf {
  padding: 5rem 2.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(49, 119, 183, 0.05);;
}

.interview-main__right--pdf > h2 {
  margin-bottom: 3rem;
}

.interview-main__right-separator--pdf {
  width: 100%;
  border-bottom: 2px solid #C4C4C4;
  margin-bottom: 1rem;
}

.interview-main__right-separator--pdf > p {
  font-size: 28px;
  color: #C4C4C4;
  margin: 0;
}

.interview-main__right-questions--pdf {
  margin-bottom: 3rem;
  padding: 0 2rem;
  background-color: white;
  box-shadow: 0px 2px 2.6rem rgba(0, 0, 0, 0.05);
  border-radius: 2rem;
}

.interview-main__right-question--pdf {
  padding: 2rem 0;
  position: relative;
}

// .interview-main__right-question--pdf > .flex-box--pdf {
//   margin-bottom: 2rem;
// }

.interview-main__right-question--pdf > .flex-box--pdf > p {
  font-weight: bolder;
}

.interview-main__right-question--pdf > .flex-box--pdf > p:last-of-type {
  width: 100%;
}

.interview-main__right-question--pdf > .flex-box--pdf > img {
  height: 20px;
  width: 20px;
  margin: 1rem .5rem 0 1rem;
}

.interview-main__right-question-description--pdf {
  padding: 0 2.5rem;
}

.interview-question__form--pdf {
  padding: 0 2.5rem;
}

.interview-crossed-answer--pdf {
  width: 100;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0;
}

.interview-crossed-answer__header--pdf {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.avatar-sm--pdf {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.interview-crossed-answer__header--pdf > img { margin-right: 1rem; }
.interview-crossed-answer__header--pdf > p { margin-right: .5rem; font-weight: bolder; }
.interview-crossed-answer__header--pdf > span { font-weight: 600; font-style: italic; color: #C4C4C4; }

.rating-crossed--pdf {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.rating-crossed--pdf > img {
  height: 20px;
  width: 20px;
}

.interview-crossed-answer__text--pdf, .interview-crossed-answer__objective--pdf {
  font-style: italic;
  font-weight: 500;
  line-height: 24px;
}

.interview-crossed-answer__objective--pdf {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.interview-crossed-answer__mcq--pdf {
  display: inline-block;
  padding: 1rem;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 5px;
  margin-bottom: 1rem;
}

.interview__textarea--pdf {
  padding: 1rem;
  border: none;
  overflow-y: auto;
  overflow-x: hidden;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: solid 2px #3177B7;
  background-color: rgba(49, 119,183, 0.1);
  font-weight: 600;
  white-space: pre-wrap;
}

.mcq--pdf {
  margin-top: 2rem;
  border: none;
}

.mcq-flex-box--pdf, .rating--pdf {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 1rem;
}

.rad-input--pdf {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
}

.rad-design--pdf {
  width: 16px;
  height: 16px;
  border-radius: 100px;

  background: #5b92c5;
  position: relative;
}

.rad-design--pdf::before {
  content: '';

  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  background: hsl(0, 0%, 90%);
}

.rad-design--pdf-checked::before {
  background: #5b92c5;
}

.rad-input--pdf:checked+.rad-design--pdf::before {
  transform: scale(0);
}

.rad-text--pdf {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: hsl(0, 0%, 60%);
  margin-left: 14px;
  font-size: 14px;
  font-weight: 900;
  transition: .3s;
}

.rad-input--pdf:checked~.rad-text--pdf {
  color: hsl(0, 0%, 40%);
}

.rating--pdf > img {
  height: 20px;
  width: 20px;
}
