<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel">Themes</h3>
    </div>
    <button type="button" class="btn btn-edit-icon" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <div id="themes-block">
      <%= render 'categories/themes_block' %>
    </div>
  </div>
</div>

<script>
  function openForm(element) {
    element.classList.toggle('hidden');
    element.parentNode.querySelector('.hidden-form-ajax').classList.toggle('hidden');
  }


  function openAccordion(element) {
    element.parentNode.parentNode.classList.toggle("active");
    var panel = element.parentNode.parentNode.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  }
</script>
