<%= link_to categories_path, class: 'btn return-arrow' do %><i class='fas fa-arrow-left'></i><% end %>
<div class='centered-card-show'>
  <div class='category-show-card'>
    <div>
      <div class='training-info-headers-buttons'>
        <% if ['Super Admin'].include? current_user.access_level %>
          <a class='edit-fafa btn btn-edit btn-edit-pen' data-toggle='modal' data-target='#editCategory'><i class='fas fa-pen'></i></a>
        <% end %>
      </div>
    </div>
    <p><%= @category.title %></p>
    <p><%= @category.description %></p>
  </div>
</div>


<!-- Modal -->
<div class='modal fade' id='editCategory' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'edit', category: @category %>
  </div>
</div>
