<div id='template-summary-container' class='width-100'>
  <div  class='mb-2rem'>
    <h3 class='fs-2_4rem font-weight-500 bkt-light-grey text-center'>Summary</h3>
  </div>
  <div class="folder-tree">
    <%= render 'folders/edit/edit_folder_tree', folder: folder %>
  </div>
</div>
