<% campaigns.each do |campaign| %>
  <% selected = current_user.interview_report.campaign_ids.include?(campaign.id.to_s) %>

  <div class='flex-row-between-centered height-5rem'>
    <% key = "check-box-campaign-id-#{campaign.id}" %>
    <div class='flex-grow-1 fs-1_2rem mx-2rem'>
      <div class='font-weight-600'><%= campaign.title %></div>
    </div>
    <label
      data-controller='toggle-checked-participants'
      class='centered-item rounded-3px my-1rem mx-2rem border-bkt-light-grey5-0_5px'
      style='height: 2.4rem; width: 2.4rem;'
      for='<%= key %>'
    >
      <%= check_box_tag(
            "_",
            nil,
            selected,
            class: "hidden",
            id: key,
            data: {
              id: campaign.id,
              participant_ids_target: 'result',
              action: "change->participant-ids#store change->toggle-checked-participants#toggle",
              toggle_checked_participants_target: "togglable"
            }
          ) %>
      <span
        class="iconify fs-1_8rem bkt-blue"
        data-toggle-checked-participants-target="icon"
        data-selected='<%= selected %>'
        data-icon="bi:check">
    </span>
    </label>
  </div>
<% end %>
