<div class='height-100 bkt-bg-light-grey2 bkt-page-container-min-height d-flex justify-content-start align-items-center flex-column'>

  <div class='bkt-page-container-content'>

    <div id='controls'
         class='d-flex justify-content-between align-items-center mb-2rem'>
      <div class="flex items-center">
        <h1 class="fs-2_4rem font-weight-700 mr-2rem">Reports</h1>
        <span class="iconify mr-0_75rem fs-2_4rem" data-icon="ant-design:exclamation-circle-outlined"></span>
        <div class="fs-1_6rem">Reports are deleted 7 days after being created</div>
      </div>

      <% if InterviewReportPolicy.new(current_user, nil).create? %>
        <%= link_to edit_interviews_reports_path do %>
          <div class="bkt-btn-blue" data-toggle='tooltip' title='Create a report' data-handle='create-an-interview-report-cta'>
            <i class="fas fa-plus"></i>
            &nbsp;
            <span>New Report</span>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="bkt-box-shadow p-2rem bkt-bg-white rounded-20px mb-5rem">
      <div class='d-flex justify-content-start align-items-center pos-rel'></div>

      <% headers = ["Creator", "Created at", "Type", "From", "To", "Downloads"] %>
      <% width = (1/headers.count.to_f)*100 %>
      <div class="d-flex justify-content-between align-items-center px-0 pt-2rem pb-2rem">
        <% headers.each do |header| %>
          <div class='fs-1_6rem font-weight-bold' style='flex-basis: <%= width %>%;'><%= header %></div>
        <% end %>
      </div>

      <div id='lines'>
        <%= render 'interviews/reports/lines', reports: @reports %>
      </div>

    </div>
  </div>
</div>
