<div class="modal-content info-modal__content">

  <div class="modal-header info-modal__header flex-row-end-centered">

    <div class="flex-row-center-centered">
      <span class="iconify ml-3" data-icon="noto:thumbs-up" data-height="70" data-width="70"></span>
    </div>

  </div>

  <div class="modal-body info-modal__body">

    <p class="text-center font-weight-700 mb-1rem">Your answers are saved, you can come back later <br>to finish
      your interview and submit it.</p>
    <p class="">Your interview state will stay as ‘In Progress’.</p>

  </div>

  <div class="modal-footer info-modal__footer">

    <% redirections = {
      my_interviews: {
        title: 'My Interviews',
        path: my_interviews_url
      },
      my_team_interviews: {
        title: 'My Team Interviews',
        path: my_team_interviews_url
      },
      campaigns_show: {
        title: 'Campaign',
        path: campaign_url(@interview.campaign)
      },
      campaigns_overview: {
        title: 'Campaign overview',
        path: overview_campaign_url(@interview.campaign)
      }
    } %>

    <% redirect =
        redirections.select{|k,v| v.key(request.referer) }.values.first %>

    <%= link_to "Go to ‘#{redirect[:title]}’", redirect[:path], class: 'bkt-btn-blue m-auto' %>

  </div>

</div>
