<div class="content-show-infos-delete orange">
  <% if ['Super Admin', 'Account Owner', 'HR'].include?(current_user.access_level) %>
    <%= link_to edit_folder_path(folder) do %>
      <i class="fas fa-pencil-alt py-3 pr-3 mr-3"></i>
    <% end %>
    <% if page == 'edit' %>
      <%= link_to folder_path(folder), method: :delete, data: {confirm: 'Are you sure ?'} do %>
        <i class="fas fa-trash-alt py-3"></i>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="content-show-infos-duration" >
  <p style='color:#808080;'><b>Duration</b> <i class="fas fa-info-circle" data-toggle='tooltip' title='Duration is automatically calculated from the duration of each text, video, or quiz element.'></i></p>
  <p><%= folder.duration %> min <i class="far fa-clock"></i></p>
</div>
<div class="content-show-infos-themes">
    <p style='color:#808080;'><b>Themes</b></p>
    <div class="theme-btns">
      <% categories = folder.children_categories %>
      <% unless categories.empty? %>
        <% categories.each do |category| %>
          <p class="category-tag"><%= category.title %></p>
        <% end %>
      <% end %>
    </div>
</div>
<div>
  <p style='color:#808080;'>
    <b>Program Type</b>
  </p>
  <div class="content-type-radio">
    <div class="flex-row-between-centered">
      <% if folder.children_types.include? ('Synchronous') %>
        <p style='margin-right: 5px;'>In Person</p>
        <i class="fas fa-chalkboard-teacher" style='margin-left: 13px; color:#5B92C5;'></i>
      <% elsif folder.children_types.include? ('Asynchronous') %>%>
        <p style='margin-right: 5px;'>Online</p>
        <i class="fas fa-laptop"></i>
      <% end %>
    </div>
  </div>
</div>





